---
layout: base
header:
  title: "Mit individuellen Softwarelösungen schneller wachsen."
permalink: index.html
---


<section class="w-full relative aspect-[2/1] bg-night-blue">


  <img src="{{ './index/home-illustration.svg' | url }}" class="w-full absolute top-0" alt="Image alt text" />

  {% include "nav.njk" %}

  <svg class="w-full absolute bottom-0 aspect-[10/1] fill-white dark:fill-night-blue"
       viewBox="0 0 1355 272" xmlns="http://www.w3.org/2000/svg"
       preserveAspectRatio="none" >
    <path  d="M1354.54,0.22c-139.361,3.241 -203.316,34.78 -300.416,52.612c-112.659,20.692 -200.147,-5.945 -311.12,7.926c-76.519,9.565 -100.516,40.012 -231.853,57.468c-136.662,18.164 -175.815,-10.126 -293.283,15.853c-115.057,25.447 -217.864,101.098 -217.864,138.541l1355.1,-0.195l-0.564,-272.205Z"/>
  </svg>
</section>


<section>
  <div class="container mx-auto flex px-5 pb-24 items-center justify-center flex-col">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="sm:text-4xl text-3xl mb-4 font-medium">Mit individuellen Softwarelösungen schneller wachsen.</h1>
      <p class="mb-8 leading-relaxed">Wir unterstützen Unternehmen, in neue Markt- und Umsatz-Dimensionen vorzustoßen. Wir begleiten Sie von
        der Beratung über die Entwicklung bis hin zur Administration Ihrer neuen Software.</p>
    </div>
  </div>
</section>


<section>
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img class="object-cover object-center" alt="hero" src="{{ "/index/services-illustration.png" | url }}">
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start text-center items-center">
      <div class="font-serif text-2xl pb-2 w-full">Unsere Leistungen</div>
      <h2 class="sm:text-4xl text-3xl mb-4 font-medium  text-center">Vom Problem zu Ihrer individuellen Softwarelösung</h2>
      <p class="mb-8 leading-relaxed">
        Erzählen Sie uns von Ihrem Problem, Ihrem Markt, Ihren Prozessen und Ihren Zielen. Wir übersetzen Ihre
        Anforderungen gemeinsam mit Ihnen in eine <strong>individuelle Software</strong>, die 100% zu Ihren Prozessen
        passt und mitwachsen kann. Kosteneffizient und zukunftssicher.</p>
      <p class="mb-8 leading-relaxed">
        Wir entwickeln aber nicht nur. <strong>Technologie-Beratung</strong> übernehmen genauso wie
        <strong>Hosting</strong>, wenn Sie Ihre Anwendung nicht on-premise betreiben wollen.
      </p>
      <div class="text-center w-full">
        <a class="mt-3 text-coral inline-flex items-center cursor-pointer">Mehr zu unseren Leistungen
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center md:flex-row-reverse">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0 lg:pl-24 md:pl-16 ">
      <img class="object-cover object-center" alt="hero" src="{{ "/index/team-intro.png" | url }}">
    </div>
    <div class="lg:flex-grow md:w-1/2 flex flex-col md:items-start text-center items-center">
      <div class="font-serif text-2xl pb-2 w-full">Wer wir sind</div>
      <h2 class="sm:text-4xl text-3xl mb-4 font-medium w-full">Mit Kompetenz und Spaß<br class="md:hidden">bei der Sache</h2>
      <p class="mb-8 leading-relaxed">
        Als Hamburger mögen wir es direkt. Wenn Sie eine ehrliche Beratung schätzen, schlanke Prozesse mögen und
        neueste Technologie für Ihre Anwendungen einsetzen wollen, dann könnten wir gut zusammenpassen.</p>
      <p class="mb-8 leading-relaxed">
        Dass wir langjährige Expertise in der Softwareentwicklung mitbringen, ist für uns selbstverständlich. Sei
        trotzdem noch mal gesagt. Ach ja, und ein vielseitiges Branchenknowhow haben wir auch.
      </p>
      <div class="text-center w-full">
        <a class="mt-3 text-coral inline-flex items-center cursor-pointer">Erfahre mehr über uns
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>




<section>
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img class="object-cover object-center" alt="hero" src="{{ "/index/services-app-illustration.png" | url }}">
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start text-center items-center">
      <div class="font-serif text-2xl pb-2 w-full">Referenzen</div>
      <h2 class="sm:text-4xl text-3xl mb-4 font-medium  text-center w-full">Wir lassen Ergebnisse und<br class="hidden 2xl:inline-block">  unsere Kunden für uns sprechen</h2>
      <p class="mb-8 leading-relaxed">
        Zufriedene Kunden sprechen für sich, heißt es. Unsere sprechen auch gern über uns, weil wir ihnen meist eine
        Softwarelösung liefern, die ihre Anforderungen nicht nur erfüllt, sondern sogar übertrifft.</p>
      <p class="mb-8 leading-relaxed">
        Wie solche Projektergebnisse aussehen? Gut, mache Missionen sind top secret, aber ein paar Fakten dürfen wir
        schon verraten.
      </p>
      <div class="text-center w-full">
        <a class="mt-3 text-coral inline-flex items-center cursor-pointer">Unsere Referenzen
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
