{% if (withContact == null or withContact) %}
  <section class="section contact">
    <div class="container">
      <div class="columns is-4">
        <div class="column">
          <h2 class="title">Interesse geweckt?</h2>
          <p class="mt-4 has-text-weight-semibold">
            <a href="mailto:info@rocketbase.io">info@rocketbase.io</a><br>
          </p>
          <p class="mt-3 has-text-weight-semibold">
            <a href="tel://0049-40-605-3388-40">+49 40 605 3388 40</a>
          </p>
        </div>
        <div class="column is-8">
          <h2 class="title">RocketBase HQ</h2>
          <p>Unser schönes Büro ist einen Katzensprung von der Hamburger Speicherstadt entfernt. Komme gerne vorbei wenn du in der Gegend bist.</p>
          <p class="mt-4 has-text-weight-semibold">
            Katharinenstraße 30a<br>
            20457 Hamburg
          </p>
          <a href="https://goo.gl/maps/yAsEVQJVPvR57par6" target="_blank" class="mt-3 button is-medium is-outlined is-dark">Google Maps &#10142;</a>
        </div>
      </div>
    </div>
  </section>
{% endif %}

<footer class="footer">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6">
        <img class="small-footer-logo" src="/img/logo-light.png" alt="">
        <p class="moto">made with ♥ in Hamburg &copy; 2022</p>
      </div>
      <div class="column">
        <h2>Seiten</h2>
        {{ collections.footer | eleventyNavigation | eleventyNavigationToHtml({
          listElement: "ul",
          listItemElement: "li",

          listClass: "footer-nav",
          listItemClass: "footer-nav-link",
          activeListItemClass: "active",
          activeKey: eleventyNavigation.key,
          showExcerpt: false
        }) | safe }}
      </div>
      <div class="column">
        <h2>Profile</h2>
        <ul>
          <li><a href="https://github.com/rocketbase-io">Github</a></li>
          <li><a href="https://hub.docker.com/r/rocketbaseio/">Docker-Hub</a></li>
          <li><a href="https://www.npmjs.com/~rocketbase-io">npmjs.com</a></li>
          <li><a href="https://www.xing.com/companies/rocketbase.iosoftwareproductionsgmbh">Xing</a></li>
        </ul>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <ul class="display-inline">
          <li><a href="/imprint/">Impressum</a></li>
          <li><a href="/privacy/">Datenschutzbestimmungen</a></li>
        </ul>
      </div>
      <div class="column is-narrow has-text-right">
        <ul class="display-inline">
          <li><a href="https://www.xing.com/companies/rocketbase.iosoftwareproductionsgmbh"><img
                src="/img/icons/xing_footer.png" class="image is-32x32"></a></li>
          <li><a href="https://github.com/rocketbase-io"><img src="/img/icons/github_footer.png" class="image is-32x32"></a>
          </li>
          <li><a href="mailto:info@rocketbase.io"><img src="/img/icons/email_footer.png" class="image is-32x32"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
