<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/img/logo-{% if navLight %}light{% else %}dark{% endif %}.png" {% if navLight %}class="shadow"{% endif %} alt="RocketBase Logo">
    </a>
    <span role="button" tabindex="0" class="navbar-burger burger{% if navLight %} has-text-white{% endif %}" data-target="navbar-menu">
          <span></span>
          <span></span>
          <span></span>
        </span>
  </div>

  <div id="navbar-menu" class="navbar-menu{% if navLight %} has-text-white{% endif %}">


    {{ collections.main | eleventyNavigation | eleventyNavigationToHtml({
      listElement: "div",
      listItemElement: "div",

      listClass: "navbar-end",
      listItemClass: "navbar-item",
      activeListItemClass: "active",
      activeKey: eleventyNavigation.key,
      showExcerpt: false
    }) | safe }}
  </div>
</nav>
