<nav class="navbar">
  <div class="container">

    <div class="navbar-brand">
      <a class="navbar-item has-text-white is-size-4 has-text-weight-bold" href="/">
        <img src="/img/logo-dark.png" alt="">
      </a>
      <span role="button" tabindex="0" class="navbar-burger burger" data-target="navbar-menu">
          <span></span>
          <span></span>
          <span></span>
        </span>
    </div>

    <div id="navbar-menu" class="navbar-menu">


      {{ collections.main | eleventyNavigation | eleventyNavigationToHtml({
        listElement: "div",
        listItemElement: "div",

        listClass: "navbar-end",
        listItemClass: "navbar-item",
        activeListItemClass: "active",
        activeKey: eleventyNavigation.key,
        showExcerpt: false
      }) | safe }}
    </div>
  </div>
</nav>
