---
layout: layouts/base-fixed-hero.njk

date: Last Modified
tags:
- main
- footer

title: rocketbase.io - Referenzen - Orderbucket
description: "Zufriedene Kunden sprechen für sich, heißt es. Unsere sprechen auch gern über uns, weil sie mit uns und ihrer Softwarelösung zufrieden sind."
ogImage: references.jpg
---


<div class="hero hero-fullpage framed-margin-top">
  <div class="main-frame-wrapper">
    <section class="section ref-title-section">
      <div class="container container-full-height">
        <div class="columns is-vcentered">
          <div class="column">
            <div>
              <img style="max-width: 100px" src="/references/orderbucket/logo.svg" alt="orderbucket logo">
            </div>
            <h2 class="title section-title">Orderbucket Webshop & Backoffice</h2>
            <div class="title-divider is-hidden-mobile"></div>
            <div class="content project-details">
              <p>Ein nachhaltiges <i>Herzensprojekt</i> &#9829; in Zusammenarbeit mit Stückgut Hamburg.</p>
              <div class="project-spec is-hidden-mobile">
                <dl class="dl-horizontal">
                  <dt><b>Dauer</b></dt>
                  <dd>4 Monate</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt><b>Branche</b></dt>
                  <dd>Online- und Versandhandel</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt><b>Business</b></dt>
                  <dd>B2C</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt><b>Rolle</b></dt>
                  <dd>Architekt + Developer</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt><b>Webseite</b></dt>
                  <dd><a href="https://www.orderbucket.io/" target="_blank">www.orderbucket.io</a></dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="column">
            <img class="title" src="/references/orderbucket/impressions/backend-1.png"
                 alt="orderbucket.io backoffice title image">
          </div>
        </div>
        <div class="technologie-section is-vcentered is-hidden-mobile">
            <p class="tech-header">Technologien</p>
            <div class="tech-stack">
              <a href="https://vuejs.org/" class="tech color-vue"><i class="tech-vue"></i> Vue.js</a>
              <a href="https://vaadin.com/" class="tech color-vaadin"><i class="tech-vaadin"></i> Vaadin</a>
              <a href="https://projects.spring.io/spring-boot/" class="tech color-spring-boot"><i
                  class="tech-spring-boot"></i> Spring-Boot</a>
              <a href="https://www.mongodb.com/" class="tech color-mongo"><i class="tech-mongo"></i> MongoDb</a>
              <a href="https://kubernetes.io/" class="tech color-kubernetes"><i class="tech-kubernetes"></i> Kubernetes</a>
              <a href="https://www.docker.com/" class="tech color-docker"><i class="tech-docker"></i> Docker</a>
            </div>
        </div>
      </div>
    </section>
  </div>
</div>


<div class="revealing-content overflow-section">
  <section class="section content-entry is-small">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <h3>Das Project</h3>
          <h2 class="title section-title">Eine kurzer Einblick</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="section light-gray-bg is-medium is-hidden-tablet">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <h2 class="title section-title">Spezifikationen</h2>
          <div class="project-spec">
            <dl class="dl-horizontal">
              <dt><b>Dauer</b></dt>
              <dd>4 Monate</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt><b>Branche</b></dt>
              <dd>Online- und Versandhandel</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt><b>Business</b></dt>
              <dd>B2C</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt><b>Rolle</b></dt>
              <dd>Architekt + Developer</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt><b>Webseite</b></dt>
              <dd><a href="https://www.orderbucket.io/" target="_blank">www.orderbucket.io</a></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-hidden-tablet">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <div class="is-vcentered">
            <h2 class="title section-title">Technologien</h2>
            <div class="tech-stack">
              <a href="https://vuejs.org/" class="tech color-vue"><i class="tech-vue"></i> Vue.js</a>
              <a href="https://vaadin.com/" class="tech color-vaadin"><i class="tech-vaadin"></i> Vaadin</a>
              <a href="https://projects.spring.io/spring-boot/" class="tech color-spring-boot"><i
                  class="tech-spring-boot"></i> Spring-Boot</a>
              <a href="https://www.mongodb.com/" class="tech color-mongo"><i class="tech-mongo"></i> MongoDb</a>
              <a href="https://kubernetes.io/" class="tech color-kubernetes"><i class="tech-kubernetes"></i> Kubernetes</a>
              <a href="https://www.docker.com/" class="tech color-docker"><i class="tech-docker"></i> Docker</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section light-gray-bg is-medium">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-5">
          <img class="requirements" src="/references/orderbucket/impressions/products.png"
               alt="rocketbase open source for comppanies">
        </div>
        <div class="column is-7">
          <h3>Anforderungen</h3>
          <h2 class="title section-title">Was war das Ziel?</h2>
          <div class="title-divider"></div>
          <div class="content">
            <p>Stückgut hatte das Ziel, neben dem normalen Ladengeschäft einen Lieferservice mit gesunden und
              nachhaltigen Snacks
              anzubieten. Hierfür startete Stückgut bereits ein Testphase mit ausgewählten Kunden, um herauszufinden,
              ob sich ein solches Geschäftsmodell umsetzen lässt.</p>
            <p>
              Schnell wurde aber klar, dass der gesamte Prozess von
              der <b>Bestellung</b> des Kunden, über das <b>Abfüllen</b> der Waren, bis hin zur <b>Auslieferung</b>
              automatisiert werden muss,
              um diesen Geschäftszweig weiter verfolgen zu können.
            </p>
            <p>Hier war Stückgut auf eine <b>individuelle Softwarelösung</b> angewiesen, die ihnen bei dieser neuen
              Herausforderung
              unterstützt und manuelle Prozesse in digital darstellbare Prozesse überführt.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column">
          <h3>Das Vorgehen</h3>
          <h2 class="title section-title">Wie ist das Projekt abgelaufen?</h2>
        </div>
      </div>
      <div class="content">
        <div class="container">
          <p>Auf dem Weg zu einer individuellen Softwarelösung für Stückgut haben wir mehrere Phasen des
            Projektes durchlaufen. Dabei war wichtig, immer auch die fachliche Expertise und die Erfahrungen von
            Stückgut in das Produkt einfliesen
            zu lassen.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-hidden-desktop">
    <div class="container has-text-centered">
      <div class="content">
        <div class="container">
          <ul class="timeline">
            <li class="timeline-row">
              <div class="timeline-panel-mobile" data-aos="fade-right" data-aos-anchor-placement="center-bottom">
                <div class="bage-mobile listen"></div>
                <div class="timeline-heading">
                  <h4 class="timeline-title">Zuhören</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Was sind die Anforderungen?</i></p>
                  <p>Das Projekt wurde in enger Zusammenarbeit mit Stückgut durchgeführt. Ein wichtiger Punkt für uns
                    war
                    dabei, dass Stückgut bereits <b>Erfahrungen</b> mit dem Versand von seinen unverpackten Waren
                    sammeln konnte.
                  </p>
                  <p>Stückgut hat hierbei mit ausgewählten Kunden erste Versuche gestartet. Dementsprechend war es uns
                    wichtig,
                    diese Erfahrungen aufzunehmen.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-row">
              <div class="timeline-panel-mobile" data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="bage-mobile ideas"></div>
                <div class="timeline-heading">
                  <h4 class="timeline-title">Ideen & Planung</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Erste Ideen und Pläne werden erstellt.</i></p>
                  <p>Nachdem die <b>Herausforderungen</b> eines Einzelhändlers mit einem Lieferdienst identifiziert
                    wurden,
                    haben wir uns daran gemacht, Ideen zu sammeln, wie eine ganzheitliche <b>Lösung</b> für Stückgut
                    aussehen
                    könnte.
                  </p>
                  <p>Hierfür wurden die <b>Prozesse</b> vor Ort durchleuchtet und das bestehende System mit einbezogen.
                    So war es
                    uns möglich herauszuarbeiten, welche Prozesse besonders zeitkritisch sind und digital
                    unterstützt, vereinfacht oder gar automatisiert werden können.
                  </p>
                  <p><b><i>Vorgehen:</i></b></p>
                  <ul>
                    <li>Brainstorming</li>
                    <li>Design Mockups</li>
                    <li>Prozessemodellierung</li>
                    <li>Softwarearchitektur</li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="timeline-row">
              <div class="timeline-panel-mobile" data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="bage-mobile concept"></div>
                <div class="timeline-heading">
                  <h4 class="timeline-title">Konzeption</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Die Basis wird geschaffen.</i></p>
                  <p>
                    Auf Grundlage der Ideen und Analysen wurde dann ein <b>Konzept</b> entwickelt und zusammen mit
                    Stückgut
                    evaluiert.
                  </p>
                  <p>
                    Wichtig dabei war zu analysieren, welche Schlüsselprozesse ausgemacht wurden und wie diese mit einer
                    Softwarelösung unterstützt werden können. Genauer gesagt, wie ist es möglich, Stückgut eine
                    Anwendung
                    zur Verfügung zu stellen, die <b>Webshop</b> und <b>Backoffice</b> vereint.
                  </p>
                  <p><b><i>Erbrachte Leistungen:</i></b></p>
                  <ul>
                    <li>UI-Design</li>
                    <li>Prozesse <i>z.b. Pflege des Webshops, Rechnungsstellung .. </i></li>
                    <li>Digitale Prozessoptimierung</li>
                    <li>Betrieb- und Hosting</li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="timeline-row">
              <div class="timeline-panel-mobile" data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="bage-mobile implementation"></div>
                <div class="timeline-heading">
                  <h4 class="timeline-title">Umsetzung & Implementierung</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Die Implementierung konnte beginnen.</i></p>
                  <p>
                    Die Umsetzung und Implementierung von orderbucket.io ist wie bei rocketbase-io üblich in kleinen
                    Iterationsschritten erfolgt.
                  </p>
                  <p>
                    In der Konzeptionsphase wurde klar, es soll zwei Anwendungen geben. Zum einen das <b>Backoffice-System</b>
                    über das die Produkte, Lieferungen und Kunden des Händlers gepflegt und eingeplant werden können.
                    Dabei wurde immer der Fokus auf die Funktionalitäten gelegt, die dem Anwender möglichst viel Arbeit
                    abnehmen.
                  </p>
                  <p>
                    Zum anderen musste es einen <b>Webshop</b> geben, der die am Backoffice eingepflegten Produkte
                    abfragt und den
                    Kunden des Händlers optisch aufbereitet präsentiert. Der Kunde sollte dabei möglichst einfach
                    Produkte
                    auswählen, Rechnungen und Lieferungen einsehen und Bestellungen abschicken können.
                  </p>
                  <p><b><i>Eingesetzte Technologien:</i></b></p>
                  <div class="tech-stack">
                    <a href="https://vuejs.org/" class="tech color-vue"><i class="tech-vue"></i> Vue.js</a>
                    <a href="https://vaadin.com/" class="tech color-vaadin"><i class="tech-vaadin"></i> Vaadin</a>
                    <a href="https://projects.spring.io/spring-boot/" class="tech color-spring-boot"><i
                        class="tech-spring-boot"></i> Spring-Boot</a>
                    <a href="https://www.mongodb.com/" class="tech color-mongo"><i class="tech-mongo"></i> MongoDb</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="timeline-row">
              <div class="timeline-panel-mobile" data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="bage-mobile hosting"></div>
                <div class="timeline-heading">
                  <h4 class="timeline-title">Betrieb & Hosting</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Orderbucket geht an den Start.</i></p>
                  <p>Den Betrieb von <a href="https://orderbucket.io" target="_blank">www.orderbucket.io</a> übernimmt
                    komplett die rocketbase-io. Dementsprechend stellen wir Datenbanken und die Server Infrastruktur.
                    Orderbucket
                    als <b>Softwarepaket</b> wird als Onlineplattform für Stückgut und interessierten Einzelhändlern zur
                    Verfügung gestellt.
                  </p>
                  <p>
                    Interessierte bekommen einen Zugang und eine eigene Domain zugeteilt. Mit diesem Betrieb ist es den
                    Einzelhändlern möglich, in nur wenigen Schritten Ihren persönlichen <b>Onlineshop</b> zu aktivieren.
                  </p>
                  <p>Diesem können Händler ein <b>individuelles Aussehen</b> verleihen und durch Produkte mit Leben
                    füllen. Die rocketbase-io übernimmt hierbei die Einrichtung neuer Händler.
                  </p>
                  <p><b><i>Eingesetzte Technologien:</i></b></p>
                  <div class="tech-stack">
                    <a href="https://kubernetes.io/" class="tech color-kubernetes"><i class="tech-kubernetes"></i>
                      Kubernetes</a>
                    <a href="https://www.docker.com/" class="tech color-docker"><i class="tech-docker"></i> Docker</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-hidden-touch">
    <div class="container has-text-centered">
      <div class="content">
        <div class="container">
          <ul class="timeline" style="list-style: none;">
            <li class="timeline-row">
              <div class="timeline-badge first" data-aos="fade-up" data-aos-anchor-placement="top-center">
                <img src="/how-we-work/icons/listen.png">
              </div>
              <div class="timeline-panel" data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Zuhören</h4>
                  <p><small class="text-muted"><i class=""></i></small></p>
                </div>
                <div class="timeline-body">
                  <p><i>Was sind die Anforderungen?</i></p>
                  <p>Das Projekt wurde in enger Zusammenarbeit mit Stückgut durchgeführt. Ein wichtiger Punkt für uns
                    war
                    dabei, dass Stückgut bereits <b>Erfahrungen</b> mit dem Versand von seinen unverpackten Waren
                    sammeln konnte.
                  </p>
                  <p>Stückgut hat hierbei mit ausgewählten Kunden erste Versuche gestartet. Dementsprechend war es uns
                    wichtig,
                    diese Erfahrungen aufzunehmen.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-row timeline-inverted">
              <div class="timeline-badge second" data-aos="fade-up" data-aos-anchor-placement="top-center">
                <img src="/how-we-work/icons/ideas.png">
              </div>
              <div class="timeline-panel" data-aos="fade-left" data-aos-anchor-placement="top-center">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Ideen & Planung</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Erste Ideen und Pläne werden erstellt.</i></p>
                  <p>Nachdem die <b>Herausforderungen</b> eines Einzelhändlers mit einem Lieferdienst identifiziert
                    wurden,
                    haben wir uns daran gemacht, Ideen zu sammeln, wie eine ganzheitliche <b>Lösung</b> für Stückgut
                    aussehen
                    könnte.
                  </p>
                  <p>Hierfür wurden die <b>Prozesse</b> vor Ort durchleuchtet und das bestehende System mit einbezogen.
                    So war es
                    uns möglich herauszuarbeiten, welche Prozesse besonders zeitkritisch sind und digital
                    unterstützt, vereinfacht oder gar automatisiert werden können.
                  </p>
                  <p><b><i>Vorgehen:</i></b></p>
                  <ul>
                    <li>Brainstorming</li>
                    <li>Design Mockups</li>
                    <li>Prozessemodellierung</li>
                    <li>Softwarearchitektur</li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="timeline-row">
              <div class="timeline-badge third" data-aos="fade-up" data-aos-anchor-placement="top-center">
                <img src="/how-we-work/icons/concept.png">
              </div>
              <div class="timeline-panel" data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Konzeption</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Die Basis wird geschaffen.</i></p>
                  <p>
                    Auf Grundlage der Ideen und Analysen wurde dann ein <b>Konzept</b> entwickelt und zusammen mit
                    Stückgut
                    evaluiert.
                  </p>
                  <p>
                    Wichtig dabei war zu analysieren, welche Schlüsselprozesse ausgemacht wurden und wie diese mit einer
                    Softwarelösung unterstützt werden können. Genauer gesagt, wie ist es möglich, Stückgut eine
                    Anwendung
                    zur Verfügung zu stellen, die <b>Webshop</b> und <b>Backoffice</b> vereint.
                  </p>
                  <p><b><i>Erbrachte Leistungen:</i></b></p>
                  <ul>
                    <li>UI-Design</li>
                    <li>Prozesse <i>z.b. Pflege des Webshops, Rechnungsstellung .. </i></li>
                    <li>Digitale Prozessoptimierung</li>
                    <li>Betrieb- und Hosting</li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="timeline-row timeline-inverted">
              <div class="timeline-badge fourth" data-aos="fade-up" data-aos-anchor-placement="top-center">
                <img src="/how-we-work/icons/implementation.png">
              </div>
              <div class="timeline-panel" data-aos="fade-left" data-aos-anchor-placement="top-center">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Umsetzung & Implementierung</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Die Implementierung konnte beginnen.</i></p>
                  <p>
                    Die Umsetzung und Implementierung von orderbucket.io ist wie bei rocketbase-io üblich in kleinen
                    Iterationsschritten erfolgt.
                  </p>
                  <p>
                    In der Konzeptionsphase wurde klar, es soll zwei Anwendungen geben. Zum einen das <b>Backoffice-System</b>
                    über das die Produkte, Lieferungen und Kunden des Händlers gepflegt und eingeplant werden können.
                    Dabei wurde immer der Fokus auf die Funktionalitäten gelegt, die dem Anwender möglichst viel Arbeit
                    abnehmen.
                  </p>
                  <p>
                    Zum anderen musste es einen <b>Webshop</b> geben, der die am Backoffice eingepflegten Produkte
                    abfragt und den
                    Kunden des Händlers optisch aufbereitet präsentiert. Der Kunde sollte dabei möglichst einfach
                    Produkte
                    auswählen, Rechnungen und Lieferungen einsehen und Bestellungen abschicken können.
                  </p>
                  <p><b><i>Eingesetzte Technologien:</i></b></p>
                  <div class="tech-stack">
                    <a href="https://vuejs.org/" class="tech color-vue"><i class="tech-vue"></i> Vue.js</a>
                    <a href="https://vaadin.com/" class="tech color-vaadin"><i class="tech-vaadin"></i> Vaadin</a>
                    <a href="https://projects.spring.io/spring-boot/" class="tech color-spring-boot"><i
                        class="tech-spring-boot"></i> Spring-Boot</a>
                    <a href="https://www.mongodb.com/" class="tech color-mongo"><i class="tech-mongo"></i> MongoDb</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="timeline-row">
              <div class="timeline-badge fith" data-aos="fade-up" data-aos-anchor-placement="top-center">
                <img src="/how-we-work/icons/hosting.png">
              </div>
              <div class="timeline-panel" data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Betrieb & Hosting</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Orderbucket geht an den Start.</i></p>
                  <p>Den Betrieb von <a href="https://orderbucket.io" target="_blank">www.orderbucket.io</a> übernimmt
                    komplett die rocketbase-io. Dementsprechend stellen wir Datenbanken und die Server Infrastruktur.
                    Orderbucket
                    als <b>Softwarepaket</b> wird als Onlineplattform für Stückgut und interessierten Einzelhändlern zur
                    Verfügung gestellt.
                  </p>
                  <p>
                    Interessierte bekommen einen Zugang und eine eigene Domain zugeteilt. Mit diesem Betrieb ist es den
                    Einzelhändlern möglich, in nur wenigen Schritten Ihren persönlichen <b>Onlineshop</b> zu aktivieren.
                  </p>
                  <p>Diesem können Händler ein <b>individuelles Aussehen</b> verleihen und durch Produkte mit Leben
                    füllen. Die rocketbase-io übernimmt hierbei die Einrichtung neuer Händler.
                  </p>
                  <p><b><i>Eingesetzte Technologien:</i></b></p>
                  <div class="tech-stack">
                    <a href="https://kubernetes.io/" class="tech color-kubernetes"><i class="tech-kubernetes"></i>
                      Kubernetes</a>
                    <a href="https://www.docker.com/" class="tech color-docker"><i class="tech-docker"></i> Docker</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section light-gray-bg">
    <div class="container has-text-centered">
      <h3>Impressionen</h3>
      <h2 class="title section-title">Einige Eindrücke des Projektes</h2>
      <!-- Slider main container -->
      <div class="swiper-container swiper-autoplay">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide"><img class="impressions" src="/references/orderbucket/impressions/backend-1.png"
                                         alt="rocketbase open source for comppanies"></div>
          <div class="swiper-slide"><img class="impressions" src="/references/orderbucket/impressions/backend-2.png"
                                         alt="rocketbase open source for comppanies"></div>
          <div class="swiper-slide"><img class="impressions" src="/references/orderbucket/impressions/backend-3.png"
                                         alt="rocketbase open source for comppanies"></div>
          <div class="swiper-slide"><img class="impressions" src="/references/orderbucket/impressions/backend-4.png"
                                         alt="rocketbase open source for comppanies"></div>
          <div class="swiper-slide"><img class="impressions" src="/references/orderbucket/impressions/backend-5.png"
                                         alt="rocketbase open source for comppanies"></div>
          <div class="swiper-slide"><img class="impressions" src="/references/orderbucket/impressions/backend-6.png"
                                         alt="rocketbase open source for comppanies"></div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns is-variable is-7">
        <div class="column content has-text-centered">
          <h2>Das Ergebnis</h2>
          <p>In Zusammenarbeit mit Stückgut ist eine <b>Shoplösung</b> für Einzelhändler entstanden, die es den Händlern
            ermöglicht, mit nur wenigen Anstrengungen einen Shop für Ihre Kunden einzurichten. Der Fokus liegt dabei auf
            den <b>Prozessen</b> und den wachsenden <b>Anforderungen</b>, die mit dem Betrieb eines Onlineshops auf
            Einzelhändler
            zukommen und bietet sich an, diese zu optimieren.
          </p>
          <p>
            Gerne können Sie sich auf <a href="https://www.orderbucket.io/">www.orderbucket.io</a> weitere Informationen
            einholen. Wenn <b>orderbucket.io</b> auch etwas für Ihren Einzelhandel ist und Sie mit einem Lieferdienst
            durchstarten wollen, zögern Sie nicht, uns zu kontaktieren.
          </p>
        </div>
        <div class="column content has-text-centered">
          <h2>Das sagt der Kunde</h2>
          <blockquote>
            <div class="has-text-centered">
              <img style="max-width: 100px" src="/references/orderbucket/logo-stueckgut.png"
                   alt="rocketbase open source for comppanies">
            </div>
            <p><i>“Mithilfe von rocketbase konnten wir einen neuen Geschäftsbereich aufbauen. Unsere Kunden können nun
                auch unkompliziert Ihre Snackboxen online bestellen.”</i></p>
          </blockquote>
          <p><cite>Insa Dehne · Stückgut Einzelhandel GmbH</cite></p>
        </div>
      </div>
    </div>
  </section>

  <div class="hero concrete-white-background-image">
    <div class="main-frame-wrapper">
      <div class="frame-2">

        <div class="hero-body is-clean">
          <div class="container has-text-centered padding-bottom">

            <div class="columns is-vcentered">
              <div class="column is-12">
                <h3>Weitere Projekte</h3>
                <h2 class="title section-title">Schauen Sie sich alle unsere Projekte an</h2>
                <div class="content">
                  <div class="tech-stack">
                    <a href="http://rocketbase.io/references/" class="tech color-github"><i class="tech-github"></i>
                      Referenzen</a>
                    <a href="https://github.com/rocketbase-io/" target="_blank" class="tech color-github"><i
                        class="tech-github"></i>
                      Github</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "footer.njk" %}
</div>


<script>

  const heroFullpage = document.getElementsByClassName('hero-fullpage')[0];
  const revealingHero = document.getElementsByClassName('revealing-content')[0];

  revealingHero.style.top = (heroFullpage.offsetHeight) + 'px';

  document.addEventListener('scroll', function () {
    const overflowSection = document.querySelector('.overflow-section');
    let opacity = (overflowSection.getBoundingClientRect().top) / heroFullpage.offsetHeight;
    heroFullpage.style.opacity = opacity;
  });

</script>
