---
layout: layouts/home.njk

date: Last Modified
tags:
  - main
  - footer

title: rocketbase.io - Referenzen - Orderbucket
description: "Zufriedene Kunden sprechen für sich, heißt es. Unsere sprechen auch gern über uns, weil sie mit uns und ihrer Softwarelösung zufrieden sind."
ogImage: references.jpg
---

<div class="hero framed-margin">
  <div class="main-frame-wrapper">
    <div class="frame-1">


      <section class="section">
        <div class="container has-text-centered">
          <h3>Orderbucket.io</h3>
          <div class="title-divider is-centered"></div>
          <div class="content">
            <p>Ein nachhaltiges Herzensprojekt in Zusammenarbeit mit Stückgut, einem Einzelhändler für unverpackte Waren aus Hamburg</p>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>

<section class="section">
  <div class="container ">
    <div class="columns is-vcentered">

      <div class="column is-7">
        <h3>Anforderungen</h3>
        <h2 class="title section-title">Was war das Ziel?</h2>
        <div class="title-divider"></div>
        <div class="content">
          <p>Stückgut hatte das Ziel Unternehmen, neben dem normalen Ladengeschäft, mit gesunden und nachhaltigen Snacks zu versorgen. Hierfür startete Stückgut bereits ein Pilotphase mit ausgewählten Kunden, um herauszufinden, ob sich ein solches Geschäftsmodell umsetzen lässt. Schnell wurde dabei klar, dass der gesamte Prozess von der Bestellung des Kunden über das abfüllen der Waren bis hin zur Auslieferung automatisiert werden muss, um diesen Geschäftszweig weiter verfolgen zu können.

            Hier war Stückgut auf eine individuelle Softwarelösung angewiesen, die Ihnen bei den neuen Herausforderung unterstützen kann und manuelle Prozesse in digital darstellbare Prozesse überführt.
          </p>
        </div>
      </div>
      <div class="column is-5 is-hidden-mobile has-text-centered">
        <img src="https://via.placeholder.com/450" alt="rocketbase open source for comppanies">
      </div>
    </div>
  </div>
</section>
