---
layout: layouts/home.njk
eleventyNavigation:
  key: services
  order: 20
  title: Leistungen

date: Last Modified
tags:
  - main
  - footer

title: rocketbase – Individuelle Softwareentwicklung aus Hamburg
description: "Bei uns erhalten Sie Beratung, Software und Hosting aus einer Hand. Unser Fokus: SaaS-Lösungen."
ogImage: services.jpg
---


<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h1>Leistungen </h1>
        <p class="freehand">Was wir anbieten & wie wir arbeiten </p>
        <div class="title-divider is-centered"></div>
        <p>Kern unseres Angebotes ist die Entwicklung von individuellen, webbasierten Software-Lösungen, kurz:
          individueller SaaS.</p>
        <p>Dazu bieten wir ein Paket an Services von Beratung über Design bis zu Hosting. Immer passend zum Projekt
          geschnürt.</p>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title">Konzeption & Beratung</h2>
        <div class="title-divider"></div>
        <p>
          Geht das nicht einfacher? Im Gespräch mit Ihnen ermitteln wir die besten Lösungsansätze, um Ihre Abläufe zu
          optimieren. Dabei greifen wir auf unsere langjährige Erfahrung mit <strong>Geschäftsprozessen</strong>
          unterschiedlicher Branchen zurück.</p>
        <p>Unsere Konzeption Ihrer individuellen Software erfolgt dann stufenweise und wird durch fortlaufende Beratung
          im Projekt optimiert. Das ist typisch für unsere <strong>agile Arbeitsweise</strong> und stellt sicher, dass
          Sie Ergebnisse erhalten, die exakt Ihren Anforderungen entsprechen.
        </p>
        <h3>Unsere Beratungsschwerpunkte:</h3>
        <ul>
          <li>Prozessoptimierung im B2B-Bereich</li>
          <li>Branchenschwerpunkt: Retail und Versandhandel</li>
          <li>Technologieberatung zu PLM & PIM-Lösungen</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title">Design & UI</h2>
        <div class="title-divider"></div>
        <p>
          Überladene, unübersichtliche Oberflächen sind echte Effizienzbremsen. Sie untergraben das Potenzial eigentlich
          durchdachter Anwendungen. Wir gestalten die Oberflächen Ihrer Software nach
          <strong>Usability-Best-Practices</strong>, Ihren internen Prozessen und Ihren Wünschen.</p>
        <p>Die Schnittstelle von Maschine zu Mensch ist bei uns perfekt auf den Nutzer abgestimmt. Bei uns erhalten Sie
          Anwendungen, die Sie sowohl in <strong>Funktionalität als auch Design überzeugen</strong>.
        </p>
        <h3>Zu unseren UI-Leistungen gehören:</h3>
        <ul>
          <li>Integration von Mock-ups und Designs</li>
          <li>Effiziente Datendarstellung z.B. als Burndown-Chart</li>
          <li>Funktionalitäten für Teams & kollaboratives Arbeiten</li>
          <li>Darstellung von User-Aktionen</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title">Entwicklung & Wartung</h2>
        <div class="title-divider"></div>
        <p>Software auf dem neuesten Stand der Technologie, die 100% zu Ihren Prozessen passt und <strong>mit Ihren
            Anforderungen</strong> mitwächst – das ist unser Kerngeschäft.</p>
        <p>Eine Stärke von rocketbase ist die <strong>kosteneffiziente Entwicklung</strong> von <strong>Applikationen
            für komplexe B2B-Geschäftsprozesse</strong>. Dabei setzen wir auf gängige Programmiersprachen und Open
          Source, sodass Sie unabhängig von uns als Dienstleister bleiben.
        </p>
        <h3>Softwarelösungen von rocketbase.io optimieren beispielsweise:</h3>
        <ul>
          <li>Product-Management (PIM/PLM)</li>
          <li>Prozesse im Online- & Printgeschäft</li>
          <li>Schnittstellen zu Daten- und Kassensystemen</li>
          <li>Prozesse im Team</li>
          <li>u.v.m.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title">Hosting & Betrieb</h2>
        <div class="title-divider"></div>
        <p>
          Keine Sorge vor Investitionen in die Netzwerkstruktur: Unsere Softwareentwicklungen bieten wir als <strong>cloudbasierte
            Lösungen</strong> an, als Software as a Service. Das Hosting übernehmen wir auf rechtssicheren,
          zertifizierten Servern in Deutschland.
        </p>
        <h3>Unsere bewährten Service-Partner sind</h3>
        <ul>
          <li>ScaleUp Technologies</li>
          <li>Hetzner</li>
          <li>Amazon AWS</li>
        </ul>

        <p>Natürlich implementieren wir Ihre Lösung auf Wunsch auch <strong>on-premise</strong> in Ihre bestehende
          Infrastruktur. Auf Wunsch inklusive <strong>Datensicherung</strong> nach deutschem Recht, am Standort
          Deutschland.</p>
        <p>Damit alles läuft, <strong>monitoren wir den Betrieb der Anwendung</strong> und alle Schnittstellen, zum
          Beispiel zu Datenbanken, Warenwirtschaftssysteme u.a.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <p class="freehand">Ihre Vorteile</p>
        <h2 class="title section-title">Modernste Technologien und digitale Innovation</h2>
        <div class="title-divider"></div>

        <h3>Sie sind Chefsache</h3>
        <p>Als Inhaber sind wir für unseren Kunden immer erster Ansprechpartner und begleiten jedes Projekt mit unserer
          Expertise und langjährigen Erfahrung. Unterstützt von einem Netzwerk aus Spezialisten liefern wir so
          Top-Entwicklung mit Beratungsplus.</p>

        <h3>360-Grad-Service</h3>
        <p>Wir entwickeln nicht einfach, wir beraten Sie auch. Wir denken uns in Ihr Problem ein und suchen nach
          kreativen Lösungen. Wenn Sie Ihre Anwendung nicht on-premise hosten wollen, bieten wir ein rechtssicheres
          Hosting auf Servern in Deutschland.</p>

        <h3>Zukunftssicher & unabhängig</h3>
        <p>Unser Team setzt neueste Technologien ein, damit Ihr Unternehmen die beste Funktionalität und Usability
          erhält. Die eingesetzten Programmiersprachen sind so verbreitet, dass Sie unabhängig von uns als Dienstleister
          bleiben, wenn Sie später etwas anpassen möchten.</p>

        <h3>Branchenknowhow</h3>
        <p>Unser Team besteht aus Senior Developern mit unterschiedlichem Branchenhintergrund. Passend zu unserem Kunden
          wählen wir unsere Entwickler so, dass sie ein gutes Verständnis für Prozesse und Herausforderungen der Branche
          mitbringen.</p>

        <h3>Fairness-Vorteil</h3>
        <p>Unsere Kunden mögen unsere offene und direkte Art. Wir sagen von Beginn transparent, was machbar und
          wirtschaftlich ist. Wir suchen wir kosteneffiziente Lösungen, statt unnötige Projektstunden zu verkaufen.
          Warum? Weil das eine Frage der Fairness ist.</p>

      </div>
    </div>
  </div>
</section>


<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <p class="freehand">Wie wir arbeiten</p>
        <h2 class="title section-title">Agile Softwareentwicklung Hamburg</h2>
        <div class="title-divider"></div>

        <p>Märkte verändern sich heute so dynamisch wie nie. Deswegen ist auch unsere Entwicklung agil: Wir entwickeln
          Ihre Anwendung <strong>in kurzen Iterationen</strong> und <strong>in enger Abstimmung mit Ihnen</strong>. Geht
          es nicht in die Richtung, die Sie sich vorgestellt haben, korrigieren wir unseren Kurs und verhindern unnötige
          Kosten.</p>
        <p>Jedes Projekt begleiten wir <strong>mit individuellen Services</strong>, die wir auf Ihr Projekt und Ihre
          internen Ressourcen zuschneiden.</p>
        <p>Sie wissen bereits genau, welche App Sie benötigen? Perfekt. Wenn Sie Unterstützung bei der Klärung des
          Projektscopes benötigen, auch gut. In einem <strong>Kickoff-Workshop</strong> ermitteln wir, welche Use Cases
          das größte Optimierungspotenzial bieten und wie wir dieses in einer Software für Sie realisieren können.
        </p>
      </div>
    </div>
  </div>
</section>


<div class="hero concrete-white-background-image technologies">
  <div class="main-frame-wrapper">
    <div class="frame-2">
      <div class="hero-body is-clean">

        <div class="container is-centered">
          <h2>Unser primärer Technologie-Stack</h2>
          <div class="title-divider"></div>

          <div class="columns">
            <div class="column">
              <figure class="image is-96x96">
                <img src="/img/icons/frontend.svg">
              </figure>
              <h4>Frontend</h4>
              <p>React.js, Vaadin, Typescript</p>
            </div>
            <div class="column">
              <figure class="image is-96x96">
                <img src="/img/icons/backend.svg">
              </figure>
              <h4>Backend</h4>
              <p>Java, Spring Framework, Hibernate, MyBatis</p>
            </div>
            <div class="column">
              <figure class="image is-96x96">
                <img src="/img/icons/database.svg">
              </figure>
              <h4>Database</h4>
              <p>MongoDB, MySQL, Elasticsearch, Oracle</p>
            </div>
            <div class="column">
              <figure class="image is-96x96">
                <img src="/img/icons/tools.svg">
              </figure>
              <h4>weitere Tools</h4>
              <p>Docker, Kubernetes, Gitlab-Pipelines, Jira</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
