---
layout: layouts/home.njk
eleventyNavigation:
  key: services
  order: 20
  title: Services
---

<div class="hero concrete-white-background-image framed-margin">
  <div class="main-frame-wrapper">
    <div class="frame-1">

      <div class="hero-body is-clean">
        <div class="container has-text-centered padding-bottom">

          <div class="columns is-vcentered">
            <div class="column is-7">
              <h3>Kurz betrachtet</h3>
              <h2 class="title section-title">Unsere Leistungen</h2>
              <div class="title-divider is-centered"></div>
              <div class="content">
              <p>Unsere Leistungen umfassen im Kern die Entwicklung von kundenspezifischen Anwendungen. Dazu bieten wir
                ein Paket an Services.
                Immer passend zum Projekt geschnürt. Vergleichbar mit einem Kontrollzentrum, sind wir von der
                Vorbereitung über den Start bis zum Erreichen des
                Ziels immer an der Seite des Kunden.</p>
              <p>Unser Schwerpunkt bei der Softwareentwicklung ist die Web-Entwicklung. Wir bewegen uns seit vielen
                Jahren sicher in der Galaxie von Portal-
                und Backoffice-Systemen und entwickeln mit diesem Know-how heute vielseitige Web-Anwendungen im Mobile-,
                Browser- oder Desktop- Bereich.</p>
              </div>
            </div>

            <div class="column is-5 is-hidden-mobile has-text-centered">
              <img src="/services/technologies.png" alt="Technologien-Auszug">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<section class="section is-medium">
  <div class="container ">

    <div class="tile is-ancestor">
      <div class="tile is-vertical is-parent">
        <div class="tile is-child box">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="/img/icons/consulting.svg">
              </figure>
            </div>
            <div class="media-content">
              <h2 class="title">Konzeption & Beratung</h2>
              <div class="title-divider"></div>
            </div>
          </div>

          <div class="content">
            <p>Wir haben wahre Langenstreckenerfahrung mit Geschäftsprozessen. Im Gespräch mit Ihnen ermitteln wir
              Lösungsansätze um die Abläufe zu optimieren. Darauf bauen wir dann stufenweise unsere Konzeption auf,
              die
              durch fortlaufende Beratung stets optimiert wird. Das ist typisch für unsere agile Arbeitsweise bei der
              Softwareentwicklung. Softwarelösungen von rocketbase.io optimieren beispielsweise:</p>
            <ul>
              <li>Product-Management (PIM/PLM)</li>
              <li>Online & Print-Prozesse</li>
              <li>Daten-/Kassen-Schnittstellen</li>
              <li>Team-Prozesse</li>
              <li>u.v.m.</li>
            </ul>
          </div>
        </div>
        <div class="tile is-child box">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="/img/icons/development.svg">
              </figure>
            </div>
            <div class="media-content">
              <h2 class="title">Entwicklung & Wartung</h2>
              <div class="title-divider"></div>
            </div>
          </div>

          <div class="content">
            <p>So entwickelt rocketbase.io: Bei uns wird eine maßgeschneiderte Softwarelösung nicht nur technisch
              perfekt
              auf die Anforderungen abgestimmt. Auch visuell. Unsere Web-Anwendungen überzeugen durch Oberflächen, die
              für
              den User gleichermaßen ansprechend und effizient sind. Ob für Einsteiger oder Profibediener. Dafür
              nutzen wir
              angesagte Tools wie Vue.js und Vaadin.</p>
            <ul>
              <li>Erprobte Technologien einsetzen</li>
              <li>Effiziente Oberflächen schaffen</li>
              <li>Userspezifische Features integrieren</li>
              <li>Test-Erfahrungen umsetzen</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tile is-vertical  is-parent">
        <div class="tile is-child box">

          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="/img/icons/design.svg">
              </figure>
            </div>
            <div class="media-content">
              <h2 class="title">Design & UI</h2>
              <div class="title-divider"></div>
            </div>
          </div>

          <div class="content">
            <p>Unter Design verstehen wir den Aufbau der Oberflächen unserer Lösungen, das Front-End. Die Anordnung
              der
              Elemente richtet sich dabei immer nach den Gesetzen der Usability sowie nach den internen Prozessen und
              Wünschen der Kunden. Denn das UI (User Interface), die Schnittstelle Maschine / Mensch, ist bei uns
              perfekt
              auf den Menschen abgestimmt. Man kann sagen: rocketbase.io-Lösungen sind oberflächlich betrachtet immer
              individuell.</p>
            <ul>
              <li>Integration von Mock-ups und Designs</li>
              <li>Datendarstellung z.B. als Burndown-Chart</li>
              <li>Kommentar- und Chat-Funktionen für Teams</li>
              <li>Darstellung von User-Aktionen</li>
            </ul>
          </div>
        </div>
        <div class="tile is-child box">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="/img/icons/hosting.svg">
              </figure>
            </div>
            <div class="media-content">
              <h2 class="title">Hosting & Betrieb</h2>
              <div class="title-divider"></div>
            </div>
          </div>

          <div class="content">
            <p>Keine Sorge vor Investitionen in die Netzwerkstruktur. Denn unsere Softwareentwicklungen bieten wir als
              Cloud-basierte Lösungen an. Mit dem entsprechenden Hosting dazu. Das entspricht einer SaaS-Lösung -
              Software
              as a Service. Inklusive Datensicherung nach deutschem Recht, am Standort Deutschland. Natürlich
              implementieren
              wir Ihre Lösung auch On-Premise in Ihre bestehende Infrastruktur und richten die Entwicklung danach aus.
              Damit
              alles läuft, überwachen wir natürlich den Betrieb. Inklusive aller Schnittstellen, die wir bei der
              Entwicklung
              ebenfalls berücksichtigen. Ob Datenbanken, Warenwirtschaftssysteme oder andere. Unsere bewährten
              Service-Partner:</p>
            <ul>
              <li>ScaleUp Technologies</li>
              <li>Hetzner</li>
              <li>Amazon AWS</li>
            </ul>
          </div>
        </div>
      </div>


    </div>

    </div>


  </div>
</section>


<div class="hero concrete-white-background-image technologies">
  <div class="main-frame-wrapper">
    <div class="frame-2">
      <div class="hero-body is-clean">

        <div class="container is-centered">
          <h3>Unser primärer</h3>
          <h2 class="title">Technologie-Stack</h2>
          <div class="title-divider"></div>

          <div class="columns">
            <div class="column">
              <figure class="image is-96x96">
                <img src="/img/icons/frontend.svg">
              </figure>
              <h4>Frontend</h4>
              <p>Vue.js, Vaadin, Typescript, Sass</p>
            </div>
            <div class="column">
              <figure class="image is-96x96">
                <img src="/img/icons/backend.svg">
              </figure>
              <h4>Backend</h4>
              <p>Java, Spring Framework, Hibernate, MyBatis</p>
            </div>
            <div class="column">
              <figure class="image is-96x96">
                <img src="/img/icons/database.svg">
              </figure>
              <h4>Database</h4>
              <p>MongoDB, MySQL, Elasticsearch, Oracle</p>
            </div>
            <div class="column">
              <figure class="image is-96x96">
                <img src="/img/icons/tools.svg">
              </figure>
              <h4>weitere Tools</h4>
              <p>Docker, Kubernetes, Gitlab-Pipelines, Jira</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
