---
layout: layouts/home.njk
eleventyNavigation:
  key: services
  order: 20
  title: Services

date: Last Modified
tags:
  - main
  - footer

title: rocketbase.io - Services
description: "Unsere Leistungen umfassen im Kern die Entwicklung von kundenspezifischen Softwareanwendungen. Dazu bieten wir ein Paket an Services. Immer passend zum Projekt geschnürt."
ogImage: services.jpg
---

<div class="hero concrete-white-background-image framed-margin">
  <div class="main-frame-wrapper">
    <div class="frame-1">

      <div class="hero-body is-clean">
        <div class="container has-text-centered padding-bottom">

          <div class="columns is-vcentered">
            <div class="column is-7">
              <h3>Kurz betrachtet</h3>
              <h2 class="title section-title">Unsere Leistungen</h2>
              <div class="title-divider is-centered"></div>
              <div class="content">
              <p>Unsere Leistungen umfassen im Kern die Entwicklung von kundenspezifischen Softwareanwendungen. Dazu bieten wir
                ein Paket an Services.
                Immer passend zum Projekt geschnürt. Vergleichbar mit einem Kontrollzentrum, sind wir von der
                Vorbereitung über den Start bis zum Erreichen des
                Ziels immer an der Seite des Kunden.</p>
              <p>Unser Schwerpunkt bei der Softwareentwicklung ist die Webentwicklung. Wir bewegen uns seit vielen
                Jahren sicher in der Galaxie von Portal- und Backoffice-Systemen und entwickeln mit diesem Know-how heute vielseitige Webanwendungen im Mobile-,
                Browser- und Desktop- Bereich.</p>
              </div>
            </div>

            <div class="column is-5 is-hidden-mobile has-text-centered">
              <img src="/services/technologies.png" alt="Technologien-Auszug">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<section class="section is-medium">
  <div class="container ">

    <div class="tile is-ancestor">
      <div class="tile is-vertical is-parent">
        <div class="tile is-child box">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="/img/icons/consulting.svg">
              </figure>
            </div>
            <div class="media-content">
              <h2 class="title">Konzeption & Beratung</h2>
              <div class="title-divider"></div>
            </div>
          </div>

          <div class="content">
            <p>Wir haben wahre Langstreckenerfahrung mit <b>Geschäftsprozessen</b>. Im Gespräch mit Ihnen ermitteln wir
              Lösungsansätze um Ihre Abläufe zu optimieren. Darauf bauen wir dann stufenweise unsere Konzeption auf,
              die durch fortlaufende Beratung stets optimiert wird. Das ist typisch für unsere <b>agile Arbeitsweise</b> bei der
              Softwareentwicklung.</p>
            <i>Softwarelösungen von rocketbase.io optimieren beispielsweise:</i>
            <ul>
              <li>Product-Management (PIM/PLM)</li>
              <li>Prozesse im Online- & Printgeschäft</li>
              <li>Schnittstellen zu Daten- und Kassensystemen</li>
              <li>Prozesse im Team</li>
              <li>u.v.m.</li>
            </ul>
          </div>
        </div>
        <div class="tile is-child box">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="/img/icons/development.svg">
              </figure>
            </div>
            <div class="media-content">
              <h2 class="title">Entwicklung & Wartung</h2>
              <div class="title-divider"></div>
            </div>
          </div>

          <div class="content">
            <p>Bei uns wird eine maßgeschneiderte <b>Softwarelösung</b> nicht nur technisch
              perfekt auf die Anforderungen abgestimmt. Auch visuell überzeugen unsere Anwendungen durch <b>ansprechende Optik</b> und effiziente Bedienung.
            </p>
            <i>Unsere Prinzipien dabei sind:</i>
            <ul>
              <li>Erprobte und modernste Technologien einsetzen</li>
              <li>Wirkungsvolle Oberflächen schaffen</li>
              <li>Userspezifische Features integrieren</li>
              <li>Testerfahrung umsetzen</li>
            </ul>
            <p>Sowohl Einsteiger als auch versierter Anwender profitieren. Um all das zu Garantieren nutzen wir
            angesagte Tools wie <i><b>Vue.js</b></i> und <i><b>Vaadin</b></i>.
            </p>
          </div>
        </div>
      </div>
      <div class="tile is-vertical  is-parent">
        <div class="tile is-child box">

          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="/img/icons/design.svg">
              </figure>
            </div>
            <div class="media-content">
              <h2 class="title">Design & UI</h2>
              <div class="title-divider"></div>
            </div>
          </div>

          <div class="content">
            <p>Unter Design verstehen wir den Aufbau der Oberflächen unserer Lösungen. Das Front-End, die
               <b>Benutzeroberfläche</b> der Anwendung, ist ein elementarer Bestandteil einer jeden Softwareanwendung.</p>
            <p>Die Anordnung der
              Elemente richtet sich dabei immer nach den Gesetzen der Usability sowie nach den internen Prozessen und
              Wünschen der Kunden. Denn das UI (User Interface), die Schnittstelle Maschine / Mensch, ist bei uns
              perfekt <i><b>auf den Menschen abgestimmt</b></i>.
            </p>
            <ul>
              <li>Integration von Mock-ups und Designs</li>
              <li>Effiziente Datendarstellung <i>z.B. als Burndown-Chart</i></li>
              <li>Funktionalitäten für Teams & kollaboratives Arbeiten <!--<br> <i>z.b. Kommentar- und Chat-Funktionen</li>-->
              <li>Darstellung von User-Aktionen</li>
            </ul>
            <p>Man kann sagen: Lösungen von rocketbase.io sind oberflächlich betrachtet immer <b>individuell</b>.</p>
          </div>
        </div>
        <div class="tile is-child box">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="/img/icons/hosting.svg">
              </figure>
            </div>
            <div class="media-content">
              <h2 class="title">Hosting & Betrieb</h2>
              <div class="title-divider"></div>
            </div>
          </div>
          <div class="content">
            <p>Keine Sorge vor Investitionen in die Netzwerkstruktur. Denn unsere Softwareentwicklungen bieten wir als
              <b>cloudbasierte Lösungen</b> an. Das entsprechende Hosting gibt es dazu. Das entspricht einer SaaS-Lösung,
               oder auch <i><b>Software as a Service</b></i> genannt.
            </p>
            <p>Natürlich implementieren wir Ihre Lösung auch <b>On-Premise</b> in Ihre bestehende Infrastruktur und richten die
              Entwicklung danach aus. Inklusive <b>Datensicherung</b> nach deutschem Recht, am Standort Deutschland.
            </p>
            <i>Unsere bewährten Service-Partner sind:</i>
            <ul>
              <li>ScaleUp Technologies</li>
              <li>Hetzner</li>
              <li>Amazon AWS</li>
            </ul>
            <p>Damit alles läuft, überwachen wir den Betrieb. Inklusive aller Schnittstellen, die wir bei der Entwicklung
            ebenfalls berücksichtigen. Ob Datenbanken, Warenwirtschaftssysteme oder andere.</br>
            </p>
          </div>
        </div>
      </div>


    </div>

    </div>


  </div>
</section>


<div class="hero concrete-white-background-image technologies">
  <div class="main-frame-wrapper">
    <div class="frame-2">
      <div class="hero-body is-clean">

        <div class="container is-centered">
          <h3>Unser primärer</h3>
          <h2 class="title">Technologie-Stack</h2>
          <div class="title-divider"></div>

          <div class="columns">
            <div class="column">
              <figure class="image is-96x96">
                <img src="/img/icons/frontend.svg">
              </figure>
              <h4>Frontend</h4>
              <p>Vue.js, Vaadin, Typescript, Sass</p>
            </div>
            <div class="column">
              <figure class="image is-96x96">
                <img src="/img/icons/backend.svg">
              </figure>
              <h4>Backend</h4>
              <p>Java, Spring Framework, Hibernate, MyBatis</p>
            </div>
            <div class="column">
              <figure class="image is-96x96">
                <img src="/img/icons/database.svg">
              </figure>
              <h4>Database</h4>
              <p>MongoDB, MySQL, Elasticsearch, Oracle</p>
            </div>
            <div class="column">
              <figure class="image is-96x96">
                <img src="/img/icons/tools.svg">
              </figure>
              <h4>weitere Tools</h4>
              <p>Docker, Kubernetes, Gitlab-Pipelines, Jira</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
