<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="robots" content="index,follow">
  <meta name="generator" content="Eleventy">
  <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ renderData.title or title or metadata.title }}">
  <meta property="og:description" content="{{ renderData.description or description or metadata.description }}">
  <meta property="og:image" content="{{ metadata.url }}/img/og-previews/{{ renderData.ogImage or ogImage or metadata.ogImage }}">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  {% if embed %}{{ embed | safe }}{% endif %}
</head>
<body{% if templateClass %} class="{{ templateClass }}"{% endif %}>

{% include "navbar.njk" %}

{{ content | safe }}

{% include "footer.njk" %}

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/main.js"></script>

</body>
</html>
