.timeline {

  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;

  &::before{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #f5f5f5;
  }

  .timeline-row {

    margin-bottom: 20px;
    position: relative;

    .timeline-badge.first {
      background-color: #f2f2f2 !important;
    }
    .timeline-badge.second {
      background-color: #f7f0d5 !important;
    }
    .timeline-badge.third {
      background-color: #cff0fd !important;
    }
    .timeline-badge.fourth {
      background-color: #c0decb !important;
    }
    .timeline-badge.fith {
      background-color: #dcb5bd !important;
    }

    &::before{
      content: " ";
      display: table;
    }
    &::after{
      content: " ";
      display: table;
      clear: both;
    }

    .timeline-panel-mobile {
      width: 100%;
      float: left;
      border: 1px solid #d4d4d4;
      border-radius: 2px;
      padding: 4%;
      position: relative;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      background-color: white;
      text-align: left;

      .bage-mobile {
        height: 80px;
        width: 80px;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        margin: 3% auto;
        box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
      }

      .listen {
        background: url(../how-we-work/listen.png) center;
        background-repeat: no-repeat;
        background-size: 40px;
        background-color: #f2f2f2!important;
      }

      .ideas {
        background: url(../how-we-work/ideas.png) center;
        background-repeat: no-repeat;
        background-size: 40px;
        background-color: #f7f0d5!important;
      }

      .concept {
        background: url(../how-we-work/concept.png) center;
        background-repeat: no-repeat;
        background-size: 40px;
        background-color: #cff0fd!important;
      }

      .implementation {
        background: url(../how-we-work/implementation.png) center;
        background-repeat: no-repeat;
        background-size: 40px;
        background-color: #c0decb!important;
      }

      .hosting {
        background: url(../how-we-work/hosting.png) center;
        background-repeat: no-repeat;
        background-size: 40px;
        background-color: #dcb5bd!important;
      }

    }

    .timeline-panel {
      width: 44%;
      float: left;
      border: 1px solid #d4d4d4;
      border-radius: 2px;
      padding: 20px;
      position: relative;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      text-align: left;

      &::before{
        position: absolute;
        top: 26px;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid #ccc;
        border-right: 0 solid #ccc;
        border-bottom: 15px solid transparent;
        content: " ";
      }

      &::after {
        position: absolute;
        top: 27px;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #fff;
        border-right: 0 solid #fff;
        border-bottom: 14px solid transparent;
        content: " ";
      }
    }

    .timeline-badge {

      color: #fff;
      width: 80px;
      height: 80px;
      line-height: 50px;
      font-size: 1.4em;
      text-align: center;
      position: absolute;
      top: 2px;
      left: 49%;
      margin-left: -25px;
      background-color: #999999;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;

      box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);

      img {
        position: absolute;
        top: 25%;
        left: 25%;
        max-width: 40px;
      }

    }

    .timeline-row .is-hidden{
      opacity: 0;
    }
    .timeline-row .bounce-in{
      visibility: visible;
    }

  }

  .timeline-inverted {

    .timeline-panel {
      float: right;

      &::before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }

      &::after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }

    }

  }

}
