@import url("https://hello.myfonts.net/count/417895");

@font-face {
  font-family: "DeliveryNote-Regular";
  src: url('../fonts/DeliveryNoteRegular/font.woff2') format('woff2'), url('../fonts/DeliveryNoteRegular/font.woff') format('woff');
}
@font-face {
  font-family: "MohrAlt-Light";
  src: url('../fonts/MohrAltLight/font.woff2') format('woff2'), url('../fonts/MohrAltLight/font.woff') format('woff');
}

