footer.footer {
  padding: 5rem 1.5rem;
  background: $blue-grey;

  .small-footer-logo {
    max-width: 18rem;
    height: auto;
  }

  a {
    color: $white;

    &:hover {
      color: $smoke-white;
      text-decoration: underline;
    }

    &.is-active {
      color: $primary;
      text-decoration: underline;
    }
  }

  .moto {
    color: $smoke-white;
    font-size: 0.9em;
  }

  ul.display-inline {
    list-style: none;

    li {
      display: inline-block;
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .footer-nav-link {
    &.active {
      text-decoration: underline;
    }
  }

  h2 {
    color: $ultra-light-grey;
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 1em;
  }
}

.contact {
  h4 {
    font-size: 1.5em;
    margin: 0.5em 0;
  }

  .from-hamburg {
    width: 200px;
    height: 200px;
  }
}
