.padding-bottom {
  padding-bottom: 40px;
}

.navbar-brand {
  .navbar-item {
    img {
      max-height: 2.7rem;

      @media screen and (max-width: 1023px) {
        max-height: 2.2rem;
      }
      @media screen and (max-width: 769px) {
        max-height: 2rem;
      }

      &.shadow {
        -webkit-filter: drop-shadow(0 0 10px #373754) drop-shadow(0 0 10px #373754) drop-shadow(0 0 10px #373754);
        filter: drop-shadow(0 0 10px #373754) drop-shadow(0 0 10px #373754) drop-shadow(0 0 10px #373754);
      }
    }
  }
}

.hero, section {

  position: relative;

  .wave {
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
  }

  h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  p {
    margin-bottom: 0.5em;
    &.handwritten {
      margin-bottom: 0;
    }
  }

  &.page-teaser {
    @include until($tablet) {
      padding-bottom: 2rem;
    }
  }

}

.navbar {
  background: transparent;
  min-height: 4.5rem;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 1.5rem;

  @media screen and (max-width: 1023px) {
    padding: 0 0;
  }

  .navbar-burger {
    &.has-text-white {
      color: $white;
    }
  }

  &-menu {
    .navbar-item {
      a {
        color: $grey-3;

        &:hover {
          background-color: transparent;
          color: $coral;
        }
      }

      &.active {
        a {
          color: $coral;
          text-decoration: underline;
        }
      }
    }

    &.has-text-white {

      &.is-active {
        background-color: $night-blue;
      }

      .navbar-item {
        a {
          color: $white;

          text-shadow: $night-blue 0px 0px 5px, $night-blue 0px 0px 10px, $night-blue 0px 0px 15px, $night-blue 0px 0px 20px, $night-blue 0px 0px 30px, $night-blue 0px 0px 40px, $night-blue 0px 0px 75px;

          &:hover {
            color: white;
            text-shadow: $black 0px 0px 5px, $black 0px 0px 10px, $white 0px 0px 15px, $white 0px 0px 20px, $white 0px 0px 30px, $white 0px 0px 40px, $white 0px 0px 75px;
          }
        }

        &.active {
          a {
            color: $white;
            text-decoration: underline;
          }
        }
      }
    }

  }
}

.reverse-columns {
  &.columns {
    @include until($tablet) {
      flex-direction: column-reverse;
      display: flex;
    }
  }
}

.tile {
  h3 {
    font-size: 28px;
    font-family: $family-hand-written;
  }
}

.customer-logo {
  img {
    filter: grayscale(100%);
    &:hover {
      filter: none;
    }
  }
}

.section, .hero {
  .handwritten {
    font-family: $family-hand-written;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
  }

  .title-divider {
    margin: 0.5rem 0 1.5rem 0;
    width: 8rem;
    height: 5px;
    background: $grey-3;

    &.is-right {
      margin-left: auto;
    }

    &.is-centered {
      margin: 10px auto;

      &.extra-margin-bottom {
        margin-bottom: 20px;
      }
    }

  }

  figure.icon {
    padding: 1rem;
    width: 100%;
    height: auto;
  }

  &.technologies {
    @media screen and (max-width: 769px) {
      text-align: center;
      figure {
        margin: 0 auto;
      }
      .title-divider {
        margin: 10px auto;
      }
    }

    h4 {
      font-size: 1.5em;
      font-weight: 600;
      margin: 1rem 0 0.5rem 0;
    }
  }

  &.team {
    .hero-body {
      min-height: 40vw;
    }
  }

  &.testimonials {
    .title {
      font-size: 1.5rem;
      font-weight: 400;
      font-style: italic;
    }

    .title-divider {
      margin-bottom: 30px;
    }

    img, figure {
      margin: 0 auto;
    }

    .subtitle {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        margin: 10px 0;
        width: 60px;
        height: 3px;
        background: $grey-5;
      }

      padding-top: 23px;
    }
  }
}

@media screen and (max-width: 769px) {
  .reverse-column-order {
    display: flex;
    flex-direction: column-reverse;
  }
}


figure {
  &.is-centered {
    margin: 0 auto;
  }
}


dl.dl-horizontal {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
  width: 100%;
  box-sizing: border-box;


  dt {
    font-weight: 600;
  }

  dd {
    margin: 0;

    + dt {
      margin-top: 1em;
    }
  }


  @include from($desktop) {
    dt {
      clear: both;
      float: left;
      margin: 1em 0 0 0;
      padding-right: 1em;
      width: 40%;
    }
    dd {
      float: right;
      margin: 1em 0 0 0;
      width: 60%;
    }
  }
}




figure.map {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform: rotate(-2deg);
  margin: 1rem;
}

.open-source-projects {
  figure {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background-color: #fafafa;
    margin: 5px;
    min-height: 380px;
    padding: 5px
  }

  .content {
    padding: 1em 1em 0.2em 1em;
    padding: 1em 1em 0.2em 1em;

  }

  .badges {
    margin-left: 1em;

    .tech {
      width: 165px;
      padding: 4px 12px 4px 35px;
    }
  }
}

.extra-margin-bottom {
  margin-bottom: 20px;
}

.legal-text {
  h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  h4 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.3em;
  }
}
