---
layout: layouts/home.njk
eleventyNavigation:
  key: jobs
  order: 100
  title: Jobs

date: Last Modified
tags:
  - main
  - footer

title: rocketbase – Karriere als Webentwickler
description: "Du suchst einen Job als Webentwickler? Bei uns warten Startup-Flair, ein attraktives Gehalt und ein tolles Team auf dich."
ogImage: jobs.jpg
---



<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h1>Arbeiten bei rocketbase.io</h1>
        <div class="title-divider is-centered"></div>
        <p>Werde Teil unseres Teams</p>
      </div>
    </div>
  </div>
</section>


<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title">IT-begeistert? Lust, neue Welten zu entdecken</h2>
        <div class="title-divider"></div>
        <p>Wir lieben und leben digital. Bei uns fühlen sich alle IT-begeisterten Senkrechtstarter zuhause – egal ob Gamer, Headbanger oder Normalo. Solange du ambitioniert bist, Spaß bei der Arbeit hast und dir Teamwork lieber ist als Einzelgängertum, passt du perfekt zu uns.    </p>
      </div>
    </div>
  </div>
</section>

<hr>
<p>Piktogramme mit Statistiken</p>
<ul>
  <li></li>
</ul>
<hr>


<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title">Was dich erwartet</h2>
        <div class="title-divider"></div>
        <p>Bei rocketbase hast du die Chance, deiner IT-Leidenschaft nachzugehen und vielen spannenden Projekten und Herausforderungen zu begegnen.</p>
        <p>Du magst den Start-up-Spirit, aber willst trotzdem keine Abstriche beim Gehalt machen? Wir haben uns die Atmosphäre unserer Gründerjahre erhalten, sind aber solide finanziert. Und wir legen viel Wert auf eine ausgewogene Work-Life-Balance.</p>
        <p>Dich erwarten ein moderner Arbeitsplatz, eine entspannte Home-Office-Regelung, Freigetränke und Kicker, tolle Kolleg:innen und Chefs, die dich persönlich in deiner Entwicklung unterstützen.</p>
         <p>IT-Begeisterung und Weiterbildung gehört für uns zusammen. Deswegen veranstalten wir regelmäßig interne Schulungen und unterstützen jede:n im Team auf Wunsch durch externe Seminare und Kurse.</p>
      </div>
    </div>
  </div>
</section>


<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title">Vorzüge auf einen Blick</h2>
        <div class="title-divider"></div>
        <ul>
          <li>Flexible Arbeitszeiten mit Homeoffice-Regelung</li>
          <li>Möglichkeit, reduzierte Arbeitszeitmodelle zu wählen (z. B. 4-Tage-Woche, Teilzeit)</li>
          <li>Freiraum, eigene Open-Source-Projekte während der Arbeitszeit zu realisieren</li>
          <li>Individuelles Weiterbildungsbudget, interne und externer Schulungen</li>
          <li>Helles und schönes Büro in zentraler Lage</li>
          <li>Startup-Feeling: Freigetränke, Snacks und Kicker</li>
          <li>Und natürlich großartige Kolleg:innen</li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title">Freie Plätze auf der Basisstation</h2>
        <div class="title-divider"></div>
        <p>Du fühlst dich angesprochen und möchtest gerne ein Teil unserer rocketbase-Familie werden? Dann sende uns
          gerne deine stellenbezogene Bewerbung oder deine Initiativbewerbung an <a href="mailto:info@rocketbase.io">info@rocketbase.io</a>.</p>
        <p>Wir freuen uns darauf, dich kennenzulernen.</p>
      </div>
    </div>
  </div>
</section>

