---
layout: layouts/home.njk
eleventyNavigation:
  key: jobs
  order: 100
  title: Jobs

date: Last Modified
tags:
  - main
  - footer

title: rocketbase.io - Jobs
description: "Wir suchen nach Verstärkung und bieten ambitionierten IT-Liebhaber die Möglichkeit, Teil unseres Teams zu werden."
ogImage: jobs.jpg
---

<div class="hero concrete-white-background-image  framed-margin">
  <div class="main-frame-wrapper">
    <div class="frame-1">

      <div class="hero-body is-clean">
        <div class="container has-text-centered ">
          <figure class="image is-96x96 is-centered">
            <img src="/img/icons/astronaut.svg" alt="Astronaut">
          </figure>
          <div class="title-divider is-centered"></div>
          <h3>Arbeiten bei rocketbase.io</h3>
          <h2 class="title">Werde Teil unseres Teams</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h3>Wir freuen uns</h3>
        <h2 class="title section-title">Dich kennenzulernen!</h2>
        <div class="title-divider"></div>
        <div class="content">
          <p>
            Wir bieten ambitionierten und engagierten IT-Liebhaber die Möglichkeit, Teil unseres Teams zu werden. Ihr
            habt bei uns die Chance eurer IT-Leidenschaft nachzugehen und vielen spannenden Projekten und Herausforderungen
            zu begegnen.
          </p>
          <p>
            Wenn dir interne Schulungen und Workshops genauso wichtig sind wie uns und du Spaß und Freude an der
            Softwareentwicklung hast, dann sollten wir uns unbedingt kennenlernen.
          </p>
          <p>Du fühlst dich angesprochen und möchtest gerne ein Teil unserer rocketbase-Familie werden? Dann sende uns
            gerne deine stellenbezogene Bewerbung oder deine Initiativbewerbung an <a href="mailto:info@rocketbase.io">info@rocketbase.io</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section concrete-white-background-image">
  <div class="container">
    <div class="section-title-wrapper has-text-centered">
      <div class="columns">
        <div class="column is-hidden-mobile is-3"></div>
        <div class="column">
          <h2 class="title section-title">Wir suchen nach Verstärkung</h2>
          <div class="title-divider is-centered"></div>
          <p>
            Wenn du auf der Suche nach spannenden Aufgaben innerhalb eines modernen SCRUM-Umfeldes bist, in denen du
            State-of-the-Art-Technologien einsetzen kannst, dann bist DU bei uns genau richtig.
          </p>
        </div>
        <div class="column is-hidden-mobile is-3"></div>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title">Full Stack Web Developer/in</h2>
        <div class="title-divider"></div>
        <div class="content">
          <p>
            Du liebst es, Kunden und Kollegen von deinem Werk zu überzeugen? Gemeinsam mit dir wollen wir sowohl
            Kunden-Projekte als auch eigene Software-Lösungen realisieren und mit unseren Visionen wachsen.
          </p>
          <p>
          <h4 class="title">Deine Aufgaben:</h4>
          <ul>
            <li>Umsetzung von UI-Konzepten im Web mit Typescript oder Java (z.B. Vue.js oder Vaadin)</li>
            <li>Realisierung von Microservices mittels Java + Spring Boot</li>
            <li>Arbeiten mit MongoDB, ElasticSearch und SQL-Datenbanken</li>
            <li>Gemeinsame Weiterentwicklung und Konzeption von neuen Produktideen</li>
            <li>Planen und Durchführen von IT-Projekten</li>
          </ul>

          <h4 class="title">Dein Profil:</h4>

          <ul>
            <li>Idealerweise hast du ein Studium in der Informatik, Wirtschaftsinformatik o.ä. abgeschlossen</li>
            <li>Du bist Absolvent und steckst voller Tatendrang und es durstet dich nach der Praxis</li>
            <li>Alternativ bist du reif für einen Wechsel und möchtest mehr Eigenverantwortung</li>
            <li>Die Programmiersprachen Java und Typescript sind dein Ding</li>
            <li>Selbstständiges Arbeiten und learning by doing machen dir Spaß</li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="hero concrete-white-background-image is-medium">
  <div class="main-frame-wrapper">
    <div class="frame-2">
      <div class="hero-body is-clean">
        <div class="container">
          <h2 class="title">Vorzüge von rocketbase</h2>
          <div class="title-divider extra-margin-bottom"></div>
          <div class="content">
            <ul>
              <li>Kostenlose Bahnkarte im HVV oder ein hochwertiges Dienstfahrrad</li>
              <li>Flexible Arbeitszeiten + entspannte Homeoffice-Regelung</li>
              <li>Wir sind offen für andere Zeitmodelle z.B. 4 Tagewoche oder Teilzeit</li>
              <li>Arbeiten für namhafte Kunden</li>
              <li>Wir lieben OpenSource und räumen Zeit hierfür ein</li>
              <li>Helles und schönes Büro in zentraler Lage</li>
              <li>Freigetränke, Snacks und Kicker</li>
              <li>Startup mit ausgewogener Work-Life-Balance</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="section">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title">Werkstudent/in in der Webentwicklung</h2>
        <div class="title-divider"></div>
        <div class="content">
          <p>
            Bei uns kannst du spannende Aufgaben innerhalb eines modernen SCRUM-Umfeldes sammeln und deine theoretischen
            Kenntnisse in die Praxis umsetzen. Wir bieten Dir die Möglichkeit der Betreuung deiner Thesis und eine
            dauerhafte Perspektive nach dem Studium an.
          </p>
          <p>
          <h4 class="title">Deine Aufgaben:</h4>
          <ul>
            <li>Umsetzung von UI-Konzepten im Web</li>
            <li>Planen und Durchführen von IT-Projekten</li>
            <li>Testen und Konfigurieren der Systeme</li>
            <li>Weiterentwicklung der hauseigenen Softwarelösungen</li>
          </ul>

          <h4 class="title">Dein Profil:</h4>
          <ul>
            <li>Du bist Studierender mit dem Schwerpunkt Informatik</li>
            <li>Kenntnisse in der Softwareentwicklung</li>
            <li>Die Programmiersprachen Java und Typescript sind nach deinem Geschmack</li>
            <li>Selbstständiges Arbeiten und learning by doing machen dir Spaß</li>
            <li>Du möchtest mindestens 15 Stunden die Woche neben dem Studium arbeiten</li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container ">

    <h2 class="title has-text-centered">Impressionen aus dem Office</h2>
    <div class="title-divider is-centered extra-margin-bottom"></div>

    <div class="tile is-ancestor">
      <div class="tile is-vertical is-parent">
        <div class="tile is-child box">
          <figure class="image">
            <img src="/jobs/02-office.jpg" alt="Office">
            <h3>Entspannte Arbeitsatmosphäre</h3>
          </figure>
        </div>
        <div class="tile is-child box">
          <figure class="image">
            <img src="/jobs/07-drinks.jpg" alt="Drinks">
            <h3>Ausgefallene Drinks - frei</h3>
          </figure>
        </div>
        <div class="tile is-child box">
          <figure class="image">
            <img src="/jobs/01-kicker.jpg" alt="Kicker">
            <h3>Kurze Auszeit am Kicker</h3>
          </figure>
        </div>
      </div>
      <div class="tile is-vertical is-parent">
        <div class="tile is-child box">
          <figure class="image">
            <img src="/jobs/06-coaching.jpg" alt="Coaching">
            <h3>Coaching für deine Entwicklung</h3>
          </figure>
        </div>
        <div class="tile is-child box">
          <figure class="image">
            <img src="/jobs/08-chefs.jpg" alt="Chefs">
            <h3>Direkter Draht zu den Chefs</h3>
          </figure>
        </div>
      </div>
      <div class="tile is-vertical is-parent">
        <div class="tile is-child box">
          <figure class="image">
            <img src="/jobs/03-pair.jpg" alt="Pair-Programming">
            <h3>Pair-Programming</h3>
          </figure>
        </div>
        <div class="tile is-child box">
          <figure class="image">
            <img src="/jobs/04-coffee.jpg" alt="Coffee">
            <h3>Coffee so viel du brauchst</h3>
          </figure>
        </div>
        <div class="tile is-child box">
          <figure class="image">
            <img src="/jobs/05-relax.jpg" alt="Relaxen">
            <h3>Mach es dir gemütlich</h3>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>


