---
layout: layouts/home.njk
eleventyNavigation:
  key: jobs
  order: 100
  title: Jobs

date: Last Modified
tags:
  - footer

title: "RocketBase – Karriere als Webentwickler "
description: "Du suchst einen Job als Webentwickler? Bei uns warten Startup-Flair, ein attraktives Gehalt und ein tolles Team auf dich."
ogImage: jobs.png
---

<div class="hero concrete-white-background-image  framed-margin">
  <div class="main-frame-wrapper">
    <div class="frame-1">
      <div class="hero-body is-clean">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column is-5">
              <div class="handwritten">Werde Teil unseres Teams</div>
              <h1 class="title">Arbeiten bei RocketBase</h1>
              <div class="title-divider"></div>
              <p>Wir lieben und leben digital. Bei uns fühlen sich alle IT-begeisterten Senkrechtstarter/in zuhause – egal
                ob Gamer/in, Headbanger/in oder Normalo. Solange du ambitioniert bist, Spaß bei der Arbeit hast und dir Teamwork
                lieber ist als Einzelgängertum, passt du perfekt zu uns.</p>
            </div>
            <div class="column is-7">
              <img src="/img/illustrations/jobs.png" alt="RocketBase Jobs" loading="lazy">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="section mb-6">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title">Was dich erwartet</h2>
        <div class="title-divider"></div>
        <div class="content">
          <p>Bei RocketBase hast du die Chance, deiner IT-Leidenschaft nachzugehen und vielen spannenden Projekten und Herausforderungen zu begegnen.</p>
          <p>Du magst den Start-up-Spirit, aber willst trotzdem keine Abstriche beim Gehalt machen? Wir haben uns die Atmosphäre unserer Gründerjahre erhalten, sind aber solide finanziert. Und wir legen viel Wert auf eine ausgewogene Work-Life-Balance.</p>
          <p>Dich erwarten ein moderner Arbeitsplatz, eine entspannte Home-Office/Remote/Hybrit-Regelung, Freigetränke und Snacks, tolle Kolleg:innen und einen Chef, der dich persönlich in deiner Entwicklung unterstützt.</p>
          <p>IT-Begeisterung und Weiterbildung gehört für uns zusammen. Deswegen veranstalten wir regelmäßig interne Schulungen und unterstützen jede:n im Team auf Wunsch durch externe Seminare, Kurse oder individuelles Coaching.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="section-title-wrapper has-text-centered">
      <div class="columns">
        <div class="column is-hidden-mobile is-3"></div>
        <div class="column">
          <h2 class="title section-title">Aktuell sind alle offenen Stellen besetzt</h2>
          <div class="title-divider is-centered"></div>
          <p>
            Wenn dennoch meinst wir passen wie A*** auf Eimer,<br>dann freuen wir uns auf deine Initiativbewerbung...
          </p>
        </div>
        <div class="column is-hidden-mobile is-3"></div>
      </div>
    </div>
  </div>
</section>


<!--
<section class="section">
  <div class="container">
    <div class="section-title-wrapper content">
      <h2 class="title section-title">Senior Softwareentwickler/in / Java Backend (m/w/d)</h2>

                <p>
                  Du liebst die Softwareentwicklung und brennst dafür technische geil Lösungen zu konzipieren?
                  Mit Erfahrung und Weitblick möchtest du gemeinsam unsere Produkte und Kundenwünsche im Team hauptverantwortlich realisieren.
                </p>
                <p>
                <h4 class="title">Deine Aufgaben:</h4>
                <ul>
                  <li>Mit deinem Know-how in Java realisierst du Microservices – denn du konzipierst gerne modulare Software-Architekturen.</li>
                  <li>Außerdem begeisterst du dich für die Arbeit mit PostgreSQL, SpringBoot und Message Queues.</li>
                  <li>Gemeinschaftlich führen du IT-Projekte mit viel Eigenverantwortung zum Erfolg, indem diese gut planst und den Überblick behältst.</li>
                  <li>Darüber hinaus denkst du immer einen Schritt weiter, um neue Produktideen zu entwickeln und zu konzipieren.</li>
                  <li>Neben der Umsetzung & Konzeption von Features, macht es dir Spaß das Team an neue Konzepte und Frameworks/Libraries heranzuführen.</li>
                  <li>Unsere GitOps-Infrastruktur mit Kubernetes und ArgoCD ist für dich kein Neuland und lassen dein Entwicklerherz höher schlagen.</li>
                </ul>

                <h4 class="title">Dein Profil:</h4>

                <ul>
                  <li>Du hast einige Jahre als Softwareentwickler/in gearbeitet und viele praktische Erfahrung gesammelt.</li>
                  <li>Die technische Konzeption und Softwarearchitektur begeistern dich - hier bringst du dich voll ein und überzeugst das Team von deinen Ansichten und Ideen.</li>
                  <li>Du willst dich frei entfalten können und wirklich etwas bewegen - flache Hierarchien und viel Verantwortung sind dir wichtig.</li>
                  <li>Als Team-Player/in machst du gerne CodeReviews und gibst Feedback um das Team stetig zu verbessern.</li>
                  <li>Spring-Boot, PostgreSQL (samt JSON, Partitions und co) und RabbitMQ sind dein Steckenpferd.</li>
                  <li>Idealerweise denkst du auch gerne für die Frontend-Kollegen/in mit und kannst im Typescript/React-Code auch mal mit aushelfen.</li>
                </ul>
    </div>
  </div>
</section>
<section class="section concrete-white-background-image">
  <div class="container">
    <div class="section-title-wrapper has-text-centered">
      <div class="columns">
        <div class="column is-hidden-mobile is-3"></div>
        <div class="column">
          <h2 class="title section-title">Wir suchen nach Verstärkung</h2>
          <div class="title-divider is-centered"></div>
          <p>
            Wenn du auf der Suche nach spannenden Aufgaben innerhalb eines modernen SCRUM-Umfeldes bist, in denen du
            State-of-the-Art-Technologien einsetzen kannst, dann bist DU bei uns genau richtig.
          </p>
        </div>
        <div class="column is-hidden-mobile is-3"></div>
      </div>
    </div>
  </div>
</section>

<div id="accordion_jobs" class="mt-6">

<section class="section">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title"><a href="#collapsible-job-1" data-action="collapse" class="link--arrowed">
              (Senior) Frontend-Entwickler / Web-Entwickler: Typescript & React (m/w/d)
              <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <g fill="none" stroke="#333" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                  <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
                </g>
              </svg></a></h2>

        <div class="content is-collapsible" id="collapsible-job-1" data-parent="accordion_jobs">
          <p>
            Du liebst es, Kunden und Kollegen von deinem Werk zu überzeugen? Und du hast für's Frontend ein Händchen?
            Perfekt! Gemeinsam mit dir wollen wir Kundenprojekte und eigene Softwarelösungen realisieren und an Herausforderungen wachsen.
          </p>
          <p>
          <h4 class="title">Deine Aufgaben:</h4>
          <ul>
            <li>Mit deinem Know-how in TypeScript und React setzt du tatkräftig UI-Konzepte im Web um.</li>
            <li>Genauso zielstrebig realisierst du tolle Layouts & Komponenten mit Tailwind CSS.</li>
            <li>Du begeisterst dich mit Backendlern neue REST-Schnittstellen zu entwerfen (OpenAPI - Contract First API-Design).</li>
            <li>Gemeinsam mit uns führst du IT-Projekte zum Erfolg, indem du sie gut planst und reibungslos verwirklichst.</li>
            <li>Darüber hinaus denkst du immer einen Schritt weiter, um neue Produktideen zu entwickeln und zu konzipieren.</li>
          </ul>

          <h4 class="title">Dein Profil:</h4>

          <ul>
            <li>Abgeschlossenes Studium der Informatik, Wirtschaftsinformatik, Softwaretechnik oder einer ähnlichen Fachrichtung.</li>
            <li>Mit mindestens 3 Jahren Berufserfahrung sitzt du fest im Sattel, bist aber reif für einen Wechsel, z. B. weil du mehr Eigenverantwortung möchtest.</li>
            <li>Du hast ein gutes Gespür für UI/UX und magst es das Team und Kunden mit tollen Ideen zu begeistern.</li>
            <li>Auf eigene Faust gehst du genauso gerne vor wie im Team, weil du dich durch „learning by doing“ stets weiterentwickeln willst und keine Angst vor der direkter Kundenkommunikation hast.</li>
            <li>Wir lernen dich als zuverlässigen Teamplayer mit jeder Menge Organisationstalent und Leidenschaft fürs Programmieren kennen.</li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title"><a href="#collapsible-job-2" data-action="collapse" class="link--arrowed">
                 Softwareentwickler / Java Developer (m/w/d)
                 <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                   <g fill="none" stroke="#333" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                     <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
                   </g>
                 </svg></a></h2>

        <div class="content is-collapsible" id="collapsible-job-2" data-parent="accordion_jobs">
          <p>
            Du liebst die Softwareentwicklung und brennst dafür Kunden-Wünsche in die Realität umzusetzen?
            Perfekt! Gemeinsam mit dir wollen wir Kundenprojekte und eigene Softwarelösungen realisieren und an unseren Herausforderungen wachsen.
          </p>
          <p>
          <h4 class="title">Deine Aufgaben:</h4>
          <ul>
            <li>Mit deinem Know-how in Java (oder Kotlin) realisierst du Microservices – denn du baust gerne an modularen Software-Architekturen mit.</li>
            <li>Außerdem begeisterst du dich für die Arbeit mit PostgreSQL, Elasticsearch und Message Queues.</li>
            <li>Gemeinsam mit uns führst du IT-Projekte zum Erfolg, indem du sie gut planst und reibungslos verwirklichst.</li>
            <li>Darüber hinaus denkst du immer einen Schritt weiter, um neue Produktideen zu entwickeln und zu konzipieren.</li>
            <li>Neben der Umsetzung von Features baust du das Monitoring und Tracking unserer Services stetig mit aus - denn wir betreiben unsere Software selbst!</li>
          </ul>

          <h4 class="title">Dein Profil:</h4>

          <ul>
            <li>Idealerweise hast du vor kurzem dein Studium der Informatik, Wirtschaftsinformatik, Softwaretechnik oder einer ähnlichen Fachrichtung absolviert und möchtest nun voller Tatendrang in der Praxis durchstarten.</li>
            <li>Alternativ hast du erste Berufserfahrung gesammelt und bist reif für einen Wechsel, z. B. weil du mehr Eigenverantwortung möchtest.</li>
            <li>Du bist wissbegierig und liebst es neue Entwicklungsmethoden und Best-Practices in deiner Software zu realisieren.</li>
            <li>Auf eigene Faust gehst du genauso gerne vor wie im Team, weil du dich durch „learning by doing“ stets weiterentwickeln willst und keine Angst vor der direkten Kundenkommunikation hast.</li>
            <li>Wir lernen dich als zuverlässigen Teamplayer mit jeder Menge Organisationstalent und Leidenschaft fürs Programmieren kennen.</li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title"><a href="#collapsible-job-3" data-action="collapse" class="link--arrowed">
                 Werkstudent/in im Bereich Marketing/Vertrieb
                 <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                   <g fill="none" stroke="#333" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                     <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
                   </g>
                 </svg></a></h2>

        <div class="content is-collapsible" id="collapsible-job-3" data-parent="accordion_jobs">
          <p>
            Für unsere eigenen Softwarelösungen benötigt wir KnowHow im Bereich Marketing/Vertrieb. Gemeinsam mit dir möchten wir eine Strategie zur Kundengewinnung und den Vertrieb aufbauen.
            Lass uns gemeinsam unsere B2B-Softwarelösung <a href="https://www.productspace.io">ProductSpace</a> groß machen und zusammen daran wachsen.
          </p>
          <p><b>Bringe deine Expertise in ein engagiertes Entwickler-Team ein.</b></p>
          <p>
          <h4 class="title">Deine Aufgaben:</h4>
          <ul>
            <li>Konzeption und Realisierung einer Vertriebs-Strategie für ProductSpace.</li>
            <li>Entwicklung von Vertriebsunterlagen wie z.B. Mailings, Präsentationen und Case-Studies.</li>
            <li>Recherche und Identifikation von möglichen Kunden und Zielgruppen.</li>
            <li>Aufbau eines Kommunikationsleitfadens samt Einbindung von Tools zur Unterstützung.</li>
          </ul>

          <h4 class="title">Dein Profil:</h4>
          <ul>
            <li>Kommunikation + Konzeption sind Deine Stärke.</li>
            <li>Du bist Studierender mit dem Schwerpunkt Marketing, Vertrieb o. Kommunikation.</li>
            <li>Affinität für Software, Fashion o. Einzelhandel.</li>
            <li>Selbstständiges Arbeiten und learning by doing machen dir Spaß.</li>
            <li>Du möchtest mindestens 2 Tage die Woche neben dem Studium arbeiten.</li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title"><a href="#collapsible-job-4" data-action="collapse" class="link--arrowed">
               Werkstudent/in in der Webentwicklung
               <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                 <g fill="none" stroke="#333" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                   <path class="arrow-icon--arrow" d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
                 </g>
               </svg></a></h2>

        <div class="content is-collapsible" id="collapsible-job-4" data-parent="accordion_jobs">
          <p>
            Bei uns kannst du spannende Aufgaben innerhalb eines modernen SCRUM-Umfeldes sammeln und deine theoretischen
            Kenntnisse in die Praxis umsetzen. Wir bieten Dir die Möglichkeit der Betreuung deiner Thesis und eine
            dauerhafte Perspektive nach dem Studium an.
          </p>
          <p>
          <h4 class="title">Deine Aufgaben:</h4>
          <ul>
            <li>Umsetzung von UI-Konzepten im Web mit aktuellen Frameworks und Programmiersprachen.</li>
            <li>Testen und Konfigurieren der Systeme innerhalb unseres Kubernetes Clusters.</li>
            <li>Planen und Durchführen von IT-Projekten.</li>
            <li>Weiterentwicklung von internen und ggf. externen Softwareprojekten.</li>
          </ul>

          <h4 class="title">Dein Profil:</h4>
          <ul>
            <li>Du bist Studierender mit dem Schwerpunkt Informatik.</li>
            <li>Hast Kenntnisse in der Softwareentwicklung.</li>
            <li>Die Programmiersprachen Java und Typescript sind nach deinem Geschmack.</li>
            <li>Selbstständiges Arbeiten und learning by doing machen dir Spaß.</li>
            <li>Du möchtest mindestens 2 Tage die Woche neben dem Studium arbeiten.</li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
-->

<section class="hero concrete-white-background-image is-medium">
  <div class="main-frame-wrapper">
    <div class="frame-2">
      <div class="hero-body is-clean">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column is-hidden-mobile">
              <img src="/jobs/benefits.svg" style="max-height: 360px; width: auto;" alt="Vorzüge von RocketBase" loading="lazy">
            </div>
            <div class="column is-8">
              <h2 class="title">Vorzüge auf einen Blick</h2>
              <div class="title-divider"></div>
              <div class="content">
                <ul>
                   <li>Arbeiten in einem kleinem schlagkräftigen Team mit ausgewogener Work-Life-Balance</li>
                   <li>Ob im Büro, im Homeoffice oder Hybrid; bei uns ist jede Arbeitsweise realisierbar</li>
                   <li>Zudem sind wir offen für reduzierte Zeitmodelle (z. B. 4-Tage-Woche, Teilzeit).</li>
                   <li>Bei uns arbeitest du für namhafte Kunden.</li>
                   <li>Teamplay wird bei uns GROß geschrieben - dies stärken wir duch Grillevents, Spieleabende oder Team-Offsites</li>
                   <li>Wir lieben Open Source und räumen dir hierfür Zeit ein.</li>
                   <li>Ein Chef der selbst Entwickler ist, dich versteht und unterstützt</li>
                   <li>Eigene Infrastruktur samt CI/CD Pipelines und "alles" was ein Entwickler braucht</li>
                   <li>Aktuelles MacBook Pro, Dock für's Homeoffice, JetBrains Toolbox und alles was das Entwickler-Herz benötigt...</li>
                   <li>Helles und schönes Büro in zentraler Lage, samt Freigetränke und Snacks</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section mt-6">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <p>Du fühlst dich angesprochen und möchtest gerne ein Teil unserer RocketBase-Familie werden? Dann sende uns
          gerne deine stellenbezogene Bewerbung oder deine Initiativbewerbung an <a href="mailto:jobs@rocketbase.io">jobs@rocketbase.io</a>.
        </p>
        <p>Wir freuen uns darauf, dich kennenzulernen.</p>
      </div>
    </div>
  </div>
</section>

