---
layout: layouts/home.njk
eleventyNavigation:
  key: about
  order: 50
  title: Über uns

date: Last Modified
tags:
  - main
  - footer


title: rocketbase – SaaS-Entwickler aus Hamburg
description: "Wir bieten individuelle SaaS-Entwicklung. Agil. Kosteneffizient. Gut."
ogImage: about.jpg
---


<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h1>Wir sind rocketbase.io</h1>
        <div class="title-divider is-centered"></div>
        <p>Team-Spirit, Enthusiasmus und Leidenschaft für die IT-Welt.</p>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title">Unsere Mission</h2>
        <div class="title-divider"></div>
        <p>Wir unterstützen mittelständische Unternehmen und Konzerne in der Digitalisierung ihrer Geschäftsprozesse.
          Wir entwickeln gemeinsam mit ihnen individuelle Softwarelösungen, die Wachstum möglich oder einfacher
          machen.</p>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title">Unsere Stärken</h2>
        <div class="title-divider"></div>
        <ul>
          <li>Wir denken out of the box.</li>
          <li>Wir sind ein starkes Team.</li>
          <li>Wir kommunizieren auf Augenhöhe.</li>
          <li>Wir lieben IT.</li>
          <li>Wir arbeiten agil.</li>
          <li>Wir halten es pragmatisch.</li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title">Warum Individualentwicklung? </h2>
        <div class="title-divider"></div>
        <p>Hinter Standardlösungen stehen große Namen und viele Jahre bis Jahrzehnte Entwicklungsknowhow. Aber trotz
          sind sie selten die beste Wahl. Standardlösungen passen selten 100% zu den eigenen Prozessen. Die Folge:
          Abstriche in der Effizienz und eventuell Kosten für zusätzliche Anpassungen.</p>
        <p>Viele Standardlösungen sind zudem überdimensioniert – Unternehmen zahlen für einen unnötig großen
          Funktionsumfang, der häufig auch zu Lasten der Usability geht.</p>
        <p>Deswegen fokussieren wir uns auf <a href="/services" title="Zu unseren Leistungen">Individualentwicklung</a>.
          Individuallösungen sind aus unserer Erfahrung meist die bessere und kosteneffizientere Wahl. Sie sind perfekt
          auf die eigenen Use Cases abgestimmt, flexibel anpassbar und – zumindest bei rocketbase - mit einem
          Einmalinvestment beglichen.
        </p>
      </div>
    </div>
  </div>
</section>


<a name="opensource"></a>

<section class="section open-source-projects">
  <div class="container">
    <div class="has-text-centered">
      <h2 class="title">Wir lieben OpenSource</h2>
      <div class="title-divider is-centered"></div>
      <p>In vielen Kundenprojekten integrieren wir OpenSource-Komponenten. Warum sollen wir das Rad auch neu erfinden,
        wenn benötigte Funktionen bereits durchdacht entwickelt worden sind?</p>
      <p>Für wiederkehrende Anforderungen, zum Beispiel im Dateimanagement, der IT-Security, Benutzerverwaltung oder im
        Reporting, sind OpenSource-Komponenten oft die beste Lösung. Der Code wird von der Community kontinuierlich
        verbessert, aktualisiert und um Funktionalitäten erweitert. Unsere Kunden profitieren dank OpenSource von
        kürzeren Projektlaufzeiten und geringeren Kosten.</p>
      <p>rocketbase trägt regelmäßig selbst zur OpenSource-Community bei. Hier ein Auszug aus unseren eigenen
        Veröffentlichungen.</p>
    </div>

    <div class="columns is-multiline">
      <div class="column is-6-tablet is-4-desktop">
        <figure class="image">
          <img src="/about/opensource/commons-rest-logo.svg" alt="commons-rest">
          <div class="content">
            <h2>commons-rest</h2>
            <p>Eine Sammlung von Schnittstellen, Datenstrukturen und Helfern zur einfachen und schnellen Erstellung von
              Rest-Services mit Hilfe von Spring.</p>
          </div>
          <div class="badges">
            {% githubStars "rocketbase-io", "commons-rest" %}
          </div>
        </figure>
      </div>

      <div class="column is-6-tablet is-4-desktop">
        <figure class="image">
          <img src="/about/opensource/commons-auth-logo.svg" alt="commons-auth">
          <div class="content">
            <h2>commons-auth</h2>
            <p>Umfassende Services rund um die Authentifizierung, Registrierung, Passwort-Reset etc. Sowohl MongoDB als
              auch relationale Datenbanken werden unterstützt.</p>
          </div>
          <div class="badges">
            {% githubStars "rocketbase-io", "commons-auth" %}
          </div>
        </figure>
      </div>

      <div class="column is-6-tablet is-4-desktop">
        <figure class="image">
          <img src="/about/opensource/commons-asset-logo.svg" alt="commons-asset">
          <div class="content">
            <h2>commons-asset</h2>
            <p>Ein einfacher Rest-Service zur Verwaltung von Assets. Mit mehreren Storage Engines und Farberkennung.</p>
          </div>
          <div class="badges">
            {% githubStars "rocketbase-io", "commons-asset" %}
          </div>
        </figure>
      </div>

      <div class="column is-6-tablet is-4-desktop">
        <figure class="image">
          <img src="/about/opensource/pdfmaker-logo.svg" alt="pdfmaker">
          <div class="content">
            <h2>pdfmaker</h2>
            <p>Einfach und schnelle PDFs erzeugen! Docker Service für pdfmake + PDF zusammenfügen via node-pdftk.</p>
          </div>
          <div class="badges">
            {% githubStars "rocketbase-io", "pdfmaker" %}
          </div>
        </figure>
      </div>

      <div class="column is-6-tablet is-4-desktop">
        <figure class="image">
          <img src="/about/opensource/vue-extra-decorators.svg" alt="vue extra decorators">
          <div class="content">
            <h2>vue-extra-decorators</h2>
            <p>Eigene Typescript Decorators for Vue um einen übersichtlicheren und cleaneren Code zu schreiben.</p>
          </div>
          <div class="badges">
            {% githubStars "rocketbase-io", "vue-extra-decorators" %}
          </div>
        </figure>
      </div>

      <div class="column is-6-tablet is-4-desktop">
        <figure class="image">
          <img src="/about/opensource/email-template-builder-logo.svg" alt="email template builder">
          <div class="content">
            <h2>email-template-builder</h2>
            <p>Hübsche Emails in einfach und fluent mit Java. Es werden sowohl HTML- als auch Text-Emails generiert.</p>
          </div>
          <div class="badges">
            {% githubStars "rocketbase-io", "email-template-builder" %}
          </div>
        </figure>
      </div>

      <div class="column is-6-tablet is-4-desktop">
        <figure class="image">
          <img src="/about/opensource/imgproxy-java-logo.svg" alt="imgproxy api in java">
          <div class="content">
            <h2>imgproxy-java</h2>
            <p>Die Java-API für den sehr guten ImageProxy zur schnellen Erstellung von Urls für Previews.</p>
          </div>
          <div class="badges">
            {% githubStars "rocketbase-io", "imgproxy-java" %}
          </div>
        </figure>
      </div>

      <div class="column is-6-tablet is-4-desktop">
        <figure class="image">
          <img src="/about/opensource/vaadin-addon.svg" alt="Vaadin Addons">
          <div class="content">
            <h2>vaadin-addons</h2>
            <p>Für zahlreiche Projekte wurden eigene Addons gebaut und im Vaadin-Directory veröffentlicht.</p>
          </div>
          <div class="badges tech-stack">
            <a href="https://vaadin.com/directory/search?author=Marten+Prie%C3%9F" class="tech color-vaadin"><i
                class="tech-vaadin"></i> Vaadin-Addons</a>
          </div>
        </figure>
      </div>

      <div class="column is-6-tablet is-4-desktop">
        <figure class="image">
          <img src="/about/opensource/generator-commons-rest.svg" alt="yeoman generator for commons-rest">
          <div class="content">
            <h2>generator-commons-rest</h2>
            <p>Mit Hilfe von Yeoman werden Spring-Boot Projekte automatisch konfiguriert und neue Services angelegt.</p>
          </div>
          <div class="badges">
            {% githubStars "rocketbase-io", "generator-spring-rest-commons" %}
          </div>
        </figure>
      </div>
    </div>
  </div>
</section>


<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title">Gründer</h2>
        <div class="title-divider"></div>
        <p>
          Marten Prieß ist Diplom-Wirtschaftsinformatiker mit langjähriger Erfahrung in der Prozessoptimierung für
          B2B-Unternehmen. Für den internationalen Versandhändler bon prix entwickelte er sechs Jahre lang
          Web-Applikationen und Services und nahm als Teamleiter und IT-Architekt wesentlichen Einfluss auf die
          Neugestaltung der B2B-Systeme. 2016 gründete Marten Prieß rocketbase. Gemeinsam mit seinem Team unterstützt er
          seitdem B2B-Unternehmen deutschlandweit bei der Digitalisierung und Optimierung ihrer Geschäftsprozesse.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h2 class="title section-title">Lust mit an Bord zu kommen? </h2>
        <div class="title-divider"></div>
        <p>Informiere dich über rocketbase.io als Arbeitgeber und sieh dir unsere <a href="/jobs">aktuellen
            Stellenangebote</a> an.</p>
      </div>
    </div>
  </div>
</section>
