---
layout: layouts/home.njk
eleventyNavigation:
  key: about
  order: 50
  title: Über uns

title: rocketbase.io - Über uns
description: "Ein Startup mit viel Team-Spirit, Enthusiasmus und Leidenschaft für die IT-Welt. Wir lieben und leben digital."
ogImage: about.jpg
---

<div class="hero team team-background-image is-large framed-margin">
  <div class="main-frame-wrapper">
    <div class="frame-1">

      <div class="hero-body is-clean">
      </div>
    </div>
  </div>
</div>


<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h3>Wir sind rocketbase.io</h3>
        <h2 class="title section-title">Ein Startup mit viel Team-Spirit, Enthusiasmus und Leidenschaft für die
          IT-Welt</h2>
        <div class="title-divider"></div>
        <div class="content">
        <p>
          Wir lieben und leben digital. Dabei legen wir viel Wert auf eine ausgewogene Work-Life- Balance, einen
          modernen Arbeitsplatz und bieten alle Vorzüge eines aufstrebenden Startups.
        </p>
        <p>
          Für unsere namhaften Kunden entwickeln wir passgenaue und kundenindividuelle Softwaresysteme. Dabei
          vernachlässigen wir keinesfalls die Strategieentwicklung, Konzeption und Planung sowie die Inbetriebnahme der
          Softwarelösungen. Gemeinsam mit unserem kreativen und spezialisierten Team konnten wir bislang eine Vielzahl
          an Projekte realisieren, die erfolgreich in die IT-Landschaft unserer Kunden eingebettet wurden. Darüber
          hinaus setzen wir unser IT-Know-how und unsere fundierten Erfahrungen für die Entwicklung unserer hauseigenen
          Softwarelösung ein.
        </p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="is-centered has-text-centered">
      <h3>wir präsentieren</h3>
      <h2 class="title">Unsere Stärken - ein Paar...</h2>
      <div class="title-divider is-centered extra-margin-bottom"></div>
    </div>

    <div class="columns">
      <div class="column is-1 is-hidden-mobile"></div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="/about/02-creativ.jpg" alt="Kreativ">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h3>Creativtät steckt uns im Blut</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="/about/01-rocketbase.jpg" alt="Rocketbase">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h3>Bringen Ideen zum Fliegen</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-1 is-hidden-mobile"></div>
    </div>

    <div class="columns">
      <div class="column is-1 is-hidden-mobile"></div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="/about/03-team.jpg" alt="Team">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h3>Ein Starkes Team</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="/about/04-loesungsfinder.jpg" alt="Lösungsfinder">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h3>Gemeinsam fiden wir Lösungen</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-1 is-hidden-mobile"></div>
    </div>
  </div>
</section>


<section class="section open-source-projects">
  <div class="container">
    <div class="has-text-centered">
      <h3>Wir lieben</h3>
      <h2 class="title">OpenSource Projekte</h2>
      <div class="title-divider is-centered"></div>
      <p class="extra-margin-bottom">Wir lieben und unterstützen den Open-Source-Gedanken! Hier ein Auszug aus unseren eigenen Veröffentlichungen</p>
    </div>

    <div class="columns is-multiline">
      <div class="column is-6-tablet is-4-desktop">
        <figure class="image">
          <img src="/about/opensource/commons-rest-logo.svg" alt="commons-rest">
          <div class="content">
              <h2>commons-Rest</h2>
              <p>Eine Sammlung von Schnittstellen, Datenstrukturen und Helfer zur einfachen und schnellen Erstellung von Rest-Services mit Hilfe von Spring</p>
          </div>
          <div class="badges">
            {% githubStars "rocketbase-io", "commons-rest" %}
          </div>
        </figure>
      </div>

      <div class="column is-6-tablet is-4-desktop">
        <figure class="image">
          <img src="/about/opensource/commons-auth-logo.svg" alt="commons-auth">
          <div class="content">
              <h2>commons-auth</h2>
              <p>Umfassende Services Rund um die Authentifizierung, Registrierung, Passwort-Reset etc. Sowohl MongoDB als auch relationale Datenbanken werden unterstützt.</p>
          </div>
          <div class="badges">
            {% githubStars "rocketbase-io", "commons-auth" %}
          </div>
        </figure>
      </div>

      <div class="column is-6-tablet is-4-desktop">
        <figure class="image">
          <img src="/about/opensource/commons-asset-logo.svg" alt="commons-asset">
          <div class="content">
              <h2>commons-asset</h2>
              <p>Ein einfacher Rest-Service zur Verwaltung von Assets. Mit mehreren Storage Engines und Farberkennung.</p>
          </div>
          <div class="badges">
            {% githubStars "rocketbase-io", "commons-asset" %}
          </div>
        </figure>
      </div>

      <div class="column is-6-tablet is-4-desktop">
        <figure class="image">
          <img src="/about/opensource/pdfmaker-logo.svg" alt="pdfmaker">
          <div class="content">
              <h2>pdfmaker</h2>
              <p>Einfach und schnelle PDFs erzeugen! Docker Service für pdfmake + PDF zusammenfügen via node-pdftk. </p>
          </div>
          <div class="badges">
            {% githubStars "rocketbase-io", "pdfmaker" %}
          </div>
        </figure>
      </div>

      <div class="column is-6-tablet is-4-desktop">
        <figure class="image">
          <img src="/about/opensource/email-template-builder-logo.svg" alt="email template builder">
          <div class="content">
              <h2>email-template-builder</h2>
              <p>Hübsche Emails in einfach und fluent mit Java. Es werden sowohl HTML- als auch Text-Emails generiert.</p>
          </div>
          <div class="badges">
            {% githubStars "rocketbase-io", "email-template-builder" %}
          </div>
        </figure>
      </div>

      <div class="column is-6-tablet is-4-desktop">
        <figure class="image">
          <img src="/about/opensource/imgproxy-java-logo.svg" alt="imgproxy api in java">
          <div class="content">
              <h2>imgproxy-java</h2>
              <p>Die Java-API für den sehr guten ImageProxy zur schnellen Erstellung von Urls für Previews.</p>
          </div>
          <div class="badges">
            {% githubStars "rocketbase-io", "imgproxy-java" %}
          </div>
        </figure>
      </div>

      <div class="column is-6-tablet is-4-desktop">
        <figure class="image">
          <img src="/about/opensource/vaadin-addon.svg" alt="Vaadin Addons">
          <div class="content">
              <h2>vaadin-addons</h2>
              <p>Für Zahlreiche Projekte wurden eigene Addons gebaut und im Vaadin-Directory veröffentlicht.</p>
          </div>
          <div class="badges tech-stack">
            <a href="https://vaadin.com/directory/search?author=Marten+Prie%C3%9F" class="tech color-vaadin"><i class="tech-vaadin"></i> Vaadin-Addons</a>
          </div>
        </figure>
      </div>

      <div class="column is-6-tablet is-4-desktop">
        <figure class="image">
          <img src="/about/opensource/generator-commons-rest.svg" alt="yeoman generator for commons-rest">
          <div class="content">
            <h2>generator-commons-rest</h2>
            <p>Mit Hilfe von Yeoman werden Spring-Boot Projekte automatische konfiguriert und neue Service angelegt.</p>
          </div>
          <div class="badges">
            {% githubStars "rocketbase-io", "generator-spring-rest-commons" %}
          </div>
        </figure>
      </div>
    </div>
  </div>
</section>

<div class="hero concrete-white-background-image is-medium">
  <div class="main-frame-wrapper">
    <div class="frame-2">
      <div class="hero-body is-clean">

        <div class="container ">
          <div class="columns is-vcentered">
            <div class="column is-5 is-hidden-mobile has-text-centered">

              <div class="card">
                <div class="card-image">
                  <figure class="image">
                    <img src="/about/gruender.jpg" alt="Marten Prieß + Niels Schelbach">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    Marten Prieß &middot; Niels Schelbach
                  </div>
                </div>
              </div>

            </div>

            <div class="column is-7">
              <h3>Die Gründer</h3>
              <h2 class="title section-title">rocketbase.io ist inhabergeführt</h2>
              <div class="title-divider"></div>
              <p>Die beiden Gründer sind Teil des Teams und deshalb bei vielen Projekten Ihre direkten Ansprechpartner.
                Das bedeutet bei Projekten: kurze Wege, unkomplizierte Abstimmungen und schnelle Umsetzungen. Je nach
                Aufgabestellung wächst das Team aufgabenspezifisch um damit auch das nötige Know-how in Person von
                weiteren Spezialisten aus dem Netzwerk.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
