---
layout: layouts/home.njk
eleventyNavigation:
  key: references
  order: 30
  title: Referenzen

date: Last Modified
tags:
  - main
  - footer

title: rocketbase – Referenzen und Projekterfolge
description: "Unsere Kundenerfolge sprechen für sich. Lesen Sie   Kundenstimmen über unsere individuelle Softwareentwicklung."
ogImage: references.jpg
---

<div class="hero work-desk-background-image is-medium framed-margin">
  <div class="main-frame-wrapper">
    <div class="frame-1">

      <div class="hero-body is-clean">
        <div class="container has-text-centered padding-bottom">

          <div class="columns is-vcentered">
            <div class="column is-6">
              <h1 class="title section-title">Das haben unsere Kunden nun davon</h1>
              <div class="title-divider is-centered"></div>
              <p>Unsere Ergebnisse sprechen für sich. Wir könnten erzählen, wie toll wir sind, aber wir sind – zugegeben - etwas befangen. Darum lassen wir unsere Kunden berichten und zeigen Ihnen ein paar Projekte, auf die wir besonders stolz sind.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<section class="section is-medium testimonials">
  <div class="container ">
    <div class="has-text-centered	">
      <h3 class="title">Das sagen unsere Kunden:</h3>
      <div class="title-divider is-centered"></div>
    </div>
    <div class="columns">
      <div class="column">

        <div class="card">
          <div class="card-content">
            <div class="columns">
              <div class="column is-narrow is-12-mobile">
                <figure class="image is-96x96">
                  <img src="/references/logo-bonprix.png">
                </figure>
              </div>
              <div class="column">
                <p class="title">
                  “Wir haben zusammen eine digitale, komplexe Sortimentsvisualisierung entwickelt. Jetzt gehören aufwendige Ausdrucke und Reports der Vergangenheit an.”
                </p>
                <p class="subtitle">
                  Lars Globisch &middot; bonprix Handelsgesellschaft mbH
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="columns">
              <div class="column is-narrow is-12-mobile">
                <figure class="image is-96x96">
                  <img src="/references/logo-findeling.png">
                </figure>
              </div>
              <div class="column">
                <p class="title">
                  “Dank der echt schnellen Entwicklung einer digitalen Plattform zu unserer Geschäftsidee konnten wir schneller mit unserem Start-up in den Markt starten.”
                </p>
                <p class="subtitle">
                  Florian Schneider &middot; Findeling GmbH
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="columns">
              <div class="column is-narrow is-12-mobile">
                <figure class="image is-96x96">
                  <img src="/references/logo-yomei.png">
                </figure>
              </div>
              <div class="column">
                <p class="title">
                  “Wir wurden dank der individuellen Softwarelösungen und der Beratung sicher durch die Untiefen unserer Start-up-Zeit gelotst. Dadurch können wir unser Geschäft jetzt jederzeit skalieren.”
                </p>
                <p class="subtitle">
                  Roman Schneider &middot; YOMEI GmbH
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="columns">
              <div class="column is-narrow is-12-mobile">
                <figure class="image is-96x96">
                  <img src="/references/logo-stueckgut.png">
                </figure>
              </div>
              <div class="column">
                <p class="title">
                  “Mithilfe von rocketbase konnten wir einen neuen Geschäftsbereich aufbauen. Unsere Kunden können nun auch unkompliziert Ihre Snackboxen online bestellen.”
                </p>
                <p class="subtitle">
                  Insa Dehne &middot; Stückgut Einzelhandel GmbH
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


<section class="section concrete-white-background-image">
  <div class="container has-text-centered">
    <h3>Ein kurzer Auszug</h3>
    <h2 class="title">Bisherige Projekte von rocketbase.io</h2>
    <div class="title-divider is-centered"></div>
  </div>
</section>


<section class="section">
  <div class="container">
      <div class="content">
        <h2>Hybride App für Winterdienst-Management</h2>
        <p>Für einen Winterdienst-Anbieter entwickelte rocketbase eine Softwarelösung, mit deren Hilfe das Unternehmen seine Dienstleistungen rund um Schneeräumung und Grünpflege jetzt zentral managt.</p>
        <p>Die bisherige Lösung konnte veränderte Geschäftsprozesse nicht mehr abbilden. Sie hielt mit dem Unternehmenswachstum nicht Schritt. Rocketbase entwickelte eine hybride App, die die neuen Strukturen widerspiegelt und auch mobil komfortabel funktioniert.</p>
          <p>Mitarbeiter können ihre Arbeit nun vor Ort ohne Zeitverzug protokollieren. Die Anwendung verfügt über eine Offline-Funktionalität, sodass Eingaben bei fehlender Internetverbindung lokal in der App gespeichert und später automatisch synchronisiert werden.</p>
      </div>
      <div class="columns">
        <div class="column is-8">
            <img alt="Winterdienst Management" class="img-responsive" src="/references/teaser-winter.png">
        </div>
        <div class="column">
          <div class="project-spec">
            <dl class="dl-horizontal">
              <dt>Zeit bis zur ersten Inbetriebnahme</dt>
              <dd>4 Monate</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Branche</dt>
              <dd>Dienstleistungssektor</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Kundennutzen</dt>
              <dd>Mobile Arbeits(zeit-)erfassung, Echtzeit-Synchronisierung, Minimierung von Fehlern, Prozessbeschleunigung</dd>
            </dl>
          </div>
          <hr>
          <div class="tech-stack">
            <a href="https://flutter.dev/" class="tech color-flutter"><i class="tech-flutter"></i> Flutter</a>
            <a href="https://mariadb.org/" class="tech color-mariadb"><i class="tech-mariadb"></i> MariaDb</a>
            <a href="https://projects.spring.io/spring-boot/" class="tech color-spring-boot"><i class="tech-spring-boot"></i> Spring-Boot</a>
            <a href="https://kubernetes.io/" class="tech color-kubernetes"><i class="tech-kubernetes"></i> Kubernetes</a>
            <a href="https://www.docker.com/" class="tech color-docker"><i class="tech-docker"></i> Docker</a>
            <a href="https://vaadin.com/" class="tech color-vaadin"><i class="tech-vaadin"></i> Vaadin</a>
            <a href="https://aws.amazon.com" class="tech color-aws"><i class="tech-aws"></i> S3+Cloudfront</a>
            <a href="https://firebase.google.com" class="tech color-firebase"><i class="tech-firebase"></i> Firebase (Push)</a>
          </div>
        </div>
      </div>
  </div>
</section>


<section class="section light-gray-bg">
  <div class="container">
      <div class="content">
        <h2>Datenpool für schnelle Produktsuche</h2>
        <p>Ein namhafter Modeproduzenten benötigte einen zentralen Datenpool für seine Produktdaten. Die Anwendung sollte performant und schnell durchsuchbar sein, unterschiedliche Formate verarbeiten können, Daten aus unterschiedlichen Quellen sammeln und weiteren Services zur Verfügung stellen.</p>
          <p>Rocketbase realisierte den Produktdatenpool mit einem Elasticsearch Cluster und einigen Microservices, die auf Spring Boot aufbauen. Alle Dienste werden in einer modernen Kubernetes Infrastruktur deployed und betrieben.</p>
      </div>
      <div class="columns">
        <div class="column is-8">
          <img alt="Produktdaten Pool" class="img-responsive" src="/references/teaser-productdaten.png">
        </div>
        <div class="column">
          <div class="project-spec">
            <dl class="dl-horizontal">
              <dt>Zeit bis zur ersten Inbetriebnahme</dt>
              <dd>6 Monate</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Branche</dt>
              <dd>Mode</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Kundennutzen</dt>
              <dd>Zeitersparnis, leistungsstarke Suche für Produktdatenbank, Prozessbeschleunigung</dd>
            </dl>
          </div>
          <hr>
          <div class="tech-stack">
            <a href="https://projects.spring.io/spring-boot/" class="tech color-spring-boot"><i class="tech-spring-boot"></i> Spring-Boot</a>
            <a href="https://www.mongodb.com/" class="tech color-mongo"><i class="tech-mongo"></i> MongoDB</a>
            <a href="https://kubernetes.io/" class="tech color-kubernetes"><i class="tech-kubernetes"></i> Kubernetes</a>
            <a href="https://www.docker.com/" class="tech color-docker"><i class="tech-docker"></i> Docker</a>
            <a href="https://www.elastic.co" class="tech color-elasticsearch"><i class="tech-elasticsearch"></i> ElasticSearch</a>
          </div>
        </div>
      </div>
  </div>
</section>

<section class="section">
  <div class="container">
      <div class="content">
        <h2>Entwicklung eines Gutscheinportals</h2>
        <p>Für einen E-Commerce-Anbieter realisierte rocketbase ein Gutscheinportal zur Weiterverwertung von Leads aus Online-Käufen und Gewinnspielen. Das Portal wurde direkt per Javascript auf den leadgenerierenden Websites eingebunden.</p>
          <p>Zum Einsatz kommen State-of-the-Art Technologien wie vue.js und Amazons AWS Services sowie S3 und Cloudfront zur Sicherstellung von Performanz und Verfügbarkeit. Als Backend nutzten wir eine MongoDB in Kombination mit Vaadin und modernen REST-Services. Betrieben werden alle Dienste auf einer modernen Docker-Infrastruktur.</p>
      </div>
      <div class="columns">
        <div class="column is-8">
          <img alt="Gutscheinportal" src="/references/teaser-voucher.png">
        </div>
        <div class="column">
          <div class="project-spec">
            <dl class="dl-horizontal">
              <dt>Zeit bis zur ersten Inbetriebnahme</dt>
              <dd>6 Monate</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Branche</dt>
              <dd>Werbung</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Business</dt>
              <dd>B2B</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Kundennutzen</dt>
              <dd>Lead-Konvertierung, höherer Umsatz</dd>
            </dl>
          </div>
          <hr>
          <div class="tech-stack">
            <a href="https://vuejs.org/" class="tech color-vue"><i class="tech-vue"></i> Vue.js</a>
            <a href="https://www.typescriptlang.org/" class="tech color-typescript"><i class="tech-typescript"></i> Typescript</a>
            <a href="https://vaadin.com/" class="tech color-vaadin"><i class="tech-vaadin"></i> Vaadin</a>
            <a href="https://projects.spring.io/spring-boot/" class="tech color-spring-boot"><i class="tech-spring-boot"></i> Spring-Boot</a>
            <a href="https://www.mongodb.com/" class="tech color-mongo"><i class="tech-mongo"></i> MongoDB</a>
            <a href="https://www.docker.com/" class="tech color-docker"><i class="tech-docker"></i> Docker</a>
            <a href="https://aws.amazon.com" class="tech color-aws"><i class="tech-aws"></i> S3+Cloudfront</a>
          </div>
        </div>
      </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="content">
      <h2>Sortimentsvisualisierung vereinfacht Planung und Präsentation </h2>
      <p>Rocketbase unterstützte einen Modekonzern bei der Digitalisierung seiner Sortimentsplanung. Bisher mussten Mitarbeiter Produktbilder an Plakatwänden arrangieren. Wir schufen ein visuelles Tool, das großen Bildwänden ebenbürtig ist. Anstelle von Plakaten wurden mehrere Fernseher zu einer Leinwand vereint.</p>
        <p>Das Visualisierungsprogramm ermöglicht über das gesamte Sortiment Filter und Raster anzuwenden. Die einst manuell geklebten Bilder können in Sekunden nach Preislagen, Produktgruppen oder anderen Attributen arrangiert werden. Meetings benötigen nun deutlich weniger Vorbereitungszeit. Die Bedienung des Präsentationsscreens erfolgt mithilfe einer Websocket-basierten „Fernbedienung“.
      </p>
    </div>
    <div class="columns">
      <div class="column is-8">
        <img alt="Sortimentsvisualisierung" src="/references/teaser-visualize.png">
      </div>
      <div class="column">
        <div class="project-spec">
          <dl class="dl-horizontal">
            <dt>Zeit bis zur ersten Inbetriebnahme</dt>
            <dd>6 Monate</dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Branche</dt>
            <dd>Mode</dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Kundennutzen</dt>
            <dd>Schnellere Vorbereitung von Präsentationen und Meetings, bessere Übersicht, komfortablere Arbeit mit Produktbildern </dd>
          </dl>
        </div>
        <hr>
        <div class="tech-stack">
          <a href="https://spring.io/" class="tech color-spring"><i class="tech-spring"></i> Spring</a>
          <a href="https://www.elastic.co" class="tech color-elasticsearch"><i class="tech-elasticsearch"></i> ElasticSearch</a>
          <a href="https://vaadin.com/" class="tech color-vaadin"><i class="tech-vaadin"></i> Vaadin</a>
          <a href="https://github.com/stomp-js/stompjs" class="tech color-js"><i class="tech-js"></i> websocket</a>
          <a href="https://www.oracle.com/" class="tech color-database"><i class="tech-database"></i> Oracle</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section light-gray-bg">
  <div class="container">
      <div class="content">
        <h2>OpenSource Projekte</h2>
        <p>Wir lieben OpenSource und contributen auch eigene Projekte in unterschiedlichen Themenbereichen. Eine Auflistung finest du im Detail <a href="/about#opensource">hier</a></p>
      </div>
      <div class="columns">
        <div class="column is-8">
           <a href="/about#opensource"><img alt="OpenSource" class="img-responsive" src="/references/teaser-open-source.png"></a>
        </div>
        <div class="column">
          <div class="tech-stack">
              <a href="https://github.com/rocketbase-io" class="tech color-github"><i class="tech-github"></i> Github</a>
              <a href="https://www.npmjs.com/~rocketbase-io" class="tech color-npm"><i class="tech-npm"></i> NPM</a>
              <a href="https://vaadin.com/directory/search?author=Marten+Prie%C3%9F" class="tech color-vaadin"><i class="tech-vaadin"></i> Vaadin</a>
          </div>
        </div>
      </div>
  </div>
</section>
