---
layout: layouts/home.njk
eleventyNavigation:
  key: references
  order: 30
  title: Referenzen
---

<div class="hero work-desk-background-image is-medium framed-margin">
  <div class="main-frame-wrapper">
    <div class="frame-1">

      <div class="hero-body is-clean">
        <div class="container has-text-centered padding-bottom">

          <div class="columns is-vcentered">
            <div class="column is-6">
              <h2 class="title section-title">Das haben unsere Kunden nun davon</h2>
              <div class="title-divider is-centered"></div>
              <p>Zufriedene Kunden sprechen für sich, heißt es. Unsere sprechen auch gern über uns, weil sie mit uns und
                ihrer Softwarelösung zufrieden sind. Warum? Weil wir die Anforderungen in enger Zusammenarbeit mit ihnen
                perfekt erfüllt haben. Oder vielleicht sogar ein wenig darüber hinaus.</p>
            </div>

            <div class="column is-5 is-hidden-mobile has-text-centered">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<section class="section is-medium testimonials">
  <div class="container ">
    <div class="has-text-centered	">
      <h3 class="title">Das sagen unsere Kunden:</h3>
      <div class="title-divider is-centered"></div>
    </div>
    <div class="columns">
      <div class="column">

        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-96x96">
                  <img src="/references/logo-bonprix.png">
                </figure>
              </div>
              <div class="media-content">
                <p class="title">
                  “Wir haben zusammen eine digitale, komplexe Sortiments-Visualisierung entwickelt. Jetzt gehören aufwendige Ausdrucke und Reports der Vergangenheit an.”
                </p>
                <p class="subtitle">
                  Lars Globisch &middot; bonprix Handelsgesellschaft mbH
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-96x96">
                  <img src="/references/logo-findeling.png">
                </figure>
              </div>
              <div class="media-content">
                <p class="title">
                  “Dank der echt schnellen Entwicklung einer digitalen Plattform zu unserer Geschäftsidee, konnten wir schneller mit unserem StartUp in den Markt starten.”
                </p>
                <p class="subtitle">
                  Florian Schneider &middot; Findeling GmbH
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">

        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-96x96">
                  <img src="/references/logo-yomei.png">
                </figure>
              </div>
              <div class="media-content">
                <p class="title">
                  “Wir wurden dank der individuellen Software-Lösungen und der Beratung sicher durch die Untiefen unserer StartUp-Zeit gelotst. Dadurch können wir unser Geschäft jetzt jederzeit skalieren.”
                </p>
                <p class="subtitle">
                  Roman Schneider &middot; YOMEI GmbH
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-96x96">
                  <img src="/references/logo-stueckgut.png">
                </figure>
              </div>
              <div class="media-content">
                <p class="title">
                  “Mithilfe von rocketbase konnten wir einen neuen Geschäftsbereich aufbauen. Unsere Kunden können nun auch unkompliziert Ihre Snackboxen online bestellen.”
                </p>
                <p class="subtitle">
                  Insa Dehne &middot; Stückgut Einzelhandel GmbH
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
