---
layout: layouts/home.njk
eleventyNavigation:
  key: references
  order: 30
  title: Referenzen

date: Last Modified
tags:
  - main
  - footer

title: rocketbase.io - Referenzen
description: "Zufriedene Kunden sprechen für sich, heißt es. Unsere sprechen auch gern über uns, weil sie mit uns und ihrer Softwarelösung zufrieden sind."
ogImage: references.jpg
---

<div class="hero work-desk-background-image is-medium framed-margin">
  <div class="main-frame-wrapper">
    <div class="frame-1">

      <div class="hero-body is-clean">
        <div class="container has-text-centered padding-bottom">

          <div class="columns is-vcentered">
            <div class="column is-6">
              <h2 class="title section-title">Das haben unsere Kunden nun davon</h2>
              <div class="title-divider is-centered"></div>
              <p>Zufriedene Kunden sprechen für sich, heißt es. Unsere sprechen auch gern über uns, weil sie mit uns und
                ihrer Softwarelösung zufrieden sind. Warum? Weil wir die Anforderungen in enger Zusammenarbeit mit ihnen
                vollends erfüllt haben. Oder vielleicht sogar ein wenig darüber hinaus.</p>
            </div>

            <div class="column is-5 is-hidden-mobile has-text-centered">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<section class="section is-medium testimonials">
  <div class="container ">
    <div class="has-text-centered	">
      <h3 class="title">Das sagen unsere Kunden:</h3>
      <div class="title-divider is-centered"></div>
    </div>
    <div class="columns">
      <div class="column">

        <div class="card">
          <div class="card-content">
            <div class="columns">
              <div class="column is-narrow is-12-mobile">
                <figure class="image is-96x96">
                  <img src="/references/logo-bonprix.png">
                </figure>
              </div>
              <div class="column">
                <p class="title">
                  “Wir haben zusammen eine digitale, komplexe Sortiments-Visualisierung entwickelt. Jetzt gehören aufwendige Ausdrucke und Reports der Vergangenheit an.”
                </p>
                <p class="subtitle">
                  Lars Globisch &middot; bonprix Handelsgesellschaft mbH
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="columns">
              <div class="column is-narrow is-12-mobile">
                <figure class="image is-96x96">
                  <img src="/references/logo-findeling.png">
                </figure>
              </div>
              <div class="column">
                <p class="title">
                  “Dank der echt schnellen Entwicklung einer digitalen Plattform zu unserer Geschäftsidee, konnten wir schneller mit unserem Start-Up in den Markt starten.”
                </p>
                <p class="subtitle">
                  Florian Schneider &middot; Findeling GmbH
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="columns">
              <div class="column is-narrow is-12-mobile">
                <figure class="image is-96x96">
                  <img src="/references/logo-yomei.png">
                </figure>
              </div>
              <div class="column">
                <p class="title">
                  “Wir wurden dank der individuellen Software-Lösungen und der Beratung sicher durch die Untiefen unserer Start-Up-Zeit gelotst. Dadurch können wir unser Geschäft jetzt jederzeit skalieren.”
                </p>
                <p class="subtitle">
                  Roman Schneider &middot; YOMEI GmbH
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="columns">
              <div class="column is-narrow is-12-mobile">
                <figure class="image is-96x96">
                  <img src="/references/logo-stueckgut.png">
                </figure>
              </div>
              <div class="column">
                <p class="title">
                  “Mithilfe von rocketbase konnten wir einen neuen Geschäftsbereich aufbauen. Unsere Kunden können nun auch unkompliziert Ihre Snackboxen online bestellen.”
                </p>
                <p class="subtitle">
                  Insa Dehne &middot; Stückgut Einzelhandel GmbH
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="section concrete-white-background-image">
  <div class="container has-text-centered">
    <h3>Ausgewählte Projekte</h3>
    <h2 class="title">Projekte der rocketbase</h2>
    <div class="title-divider is-centered"></div>
  </div>
</section>

<section class="section is-medium testimonials">

  <div class="container ">
    <div class="columns">
      <div class="column is-4-desktop">
        <div class="card">
          <div class="card-content">
              <div class="container">
                <div class="content">
                  <h4>Yomei</h4>
                </div>
                <img alt="Winterdienst Management" class="img-responsive" src="/references/yomei/impressions/frontend-9.png">
                <a href="/references/yomei">Mehr erfahren</a>
              </div>
          </div>
        </div>
      </div>
      <div class="column is-4-desktop">
        <div class="card">
          <div class="card-content">
            <div class="container">
              <div class="content">
                <h4>Orderbucket</h4>
              </div>
              <img alt="Winterdienst Management" class="img-responsive" src="/references/orderbucket/impressions/frontend-1.png">
              <a href="/references/orderbucket">Mehr erfahren</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section concrete-white-background-image">
  <div class="container has-text-centered">
    <h3>Weitere Projekte</h3>
    <h2 class="title">Eine Übersicht über erfolgreiche Projekte</h2>
    <div class="title-divider is-centered"></div>
  </div>
</section>

<section class="section">
  <div class="container">
      <div class="content">
        <h2>Winterdienst Management</h2>
        <p>Für einen Winterdienst-Anbieter entwickelte rocketbase die Softwarelösung zur digitalen Koordination und Verwaltung von Dienstleistungen rund um Schneeräumungen und Grünpflegen. Durch Expansionen und geänderte Geschäftsprozesse wurde eine Neuentwicklung der bestehenden Lösung notwendig.</p>
        <p>Neben den Struktur-Anpassungen stand im wesentlichen die App für die Mitarbeiter zur Protokollierung ihrer Arbeiten im Vordergrund. Diese musste auch mit durchwachsenen Internetverbindungen im Einsatz zurecht kommen. Daher wurde eine Offline-Fähigkeit mit eingebaut und die Oberfläche einfach für Jedermann gestaltet.</p>
      </div>
      <div class="columns">
        <div class="column is-8">
            <img alt="Winterdienst Management" class="img-responsive" src="/references/teaser-winter.png">
        </div>
        <div class="column">
          <div class="project-spec">
            <dl class="dl-horizontal">
              <dt>Dauer</dt>
              <dd>4 Monate</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Branche</dt>
              <dd>Dienstleistungs-Sektor</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Business</dt>
              <dd>B2B</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Rolle</dt>
              <dd>Architekt + Developer</dd>
            </dl>
          </div>
          <hr>
          <div class="tech-stack">
            <a href="https://flutter.dev/" class="tech color-flutter"><i class="tech-flutter"></i> Flutter</a>
            <a href="https://mariadb.org/" class="tech color-mariadb"><i class="tech-mariadb"></i> MariaDb</a>
            <a href="https://projects.spring.io/spring-boot/" class="tech color-spring-boot"><i class="tech-spring-boot"></i> Spring-Boot</a>
            <a href="https://kubernetes.io/" class="tech color-kubernetes"><i class="tech-kubernetes"></i> Kubernetes</a>
            <a href="https://www.docker.com/" class="tech color-docker"><i class="tech-docker"></i> Docker</a>
            <a href="https://vaadin.com/" class="tech color-vaadin"><i class="tech-vaadin"></i> Vaadin</a>
            <a href="https://aws.amazon.com" class="tech color-aws"><i class="tech-aws"></i> S3+Cloudfront</a>
            <a href="https://firebase.google.com" class="tech color-firebase"><i class="tech-firebase"></i> Firebase (Push)</a>
          </div>
        </div>
      </div>
  </div>
</section>


<section class="section light-gray-bg">
  <div class="container">
      <div class="content">
        <h2>ProductSpace Erweiterungen</h2>
        <p>Für unser Produkt ProductSpace haben wir uns neben den regulären Microservice Entwicklungen + Vue-Oberfläche auch um zusätzliche Eingabe Möglichkeiten bemüht.</p>
        <p>Die Ergebnisse sprechen für sich :) Mittels Typescript, Vue und Tailwindcss haben wir ein Chrome Browser-Addon entwickelt welches das Speichern von Bildern von Website direkt in ProductSpace (ähnlich Pintereset) ermöglicht.</p>
        <p>Für Storechecks wurde eine offlinefähige Mobile-App in Flutter entwickelt, welche ein schnelles schießen und beschreiben von Bildern ermöglicht.</p>
      </div>
      <div class="columns">
        <div class="column is-8">
            <img alt="ProductSpace extensions" class="img-responsive" src="/references/teaser-productspace-extension.png">
        </div>
        <div class="column">
          <div class="project-spec">
            <dl class="dl-horizontal">
              <dt>Dauer</dt>
              <dd>3 Monate</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Branche</dt>
              <dd>Tech</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Business</dt>
              <dd>B2B</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Rolle</dt>
              <dd>Architekt + Developer</dd>
            </dl>
          </div>
          <hr>
          <div class="tech-stack">
            <a href="https://flutter.dev/" class="tech color-flutter"><i class="tech-flutter"></i> Flutter</a>
            <a href="https://aws.amazon.com" class="tech color-aws"><i class="tech-aws"></i> S3+Cloudfront</a>
            <a href="https://www.sqlite.org/" class="tech color-database"><i class="tech-database"></i> SqLite</a>
            <a href="https://firebase.google.com" class="tech color-firebase"><i class="tech-firebase"></i> Firebase (Push)</a>
            <a href="https://vuejs.org/" class="tech color-vue"><i class="tech-vue"></i> Vue.js</a>
            <a href="https://www.typescriptlang.org/" class="tech color-typescript"><i class="tech-typescript"></i> Typescript</a>
          </div>
        </div>
      </div>
  </div>
</section>

<section class="section">
  <div class="container">
      <div class="content">
        <h2>Produktdaten Pool</h2>
        <p>Für einen namhaften Modeproduzenten entwickelte rocketbase einen Pool für Produktdaten, der den Fokus auf schnelle Durchsuchbarkeit und kurze Antwortzeiten hat. Dieser Pool wird von verschiedenen Datenquellen gefüttert und verbindet so unterschiedlichste Daten in eine Quelle, die von anderen Services genutzt werden kann.</p>
        <p>Umgesetzt wurde das Projekt mit einem Elasticsearch Cluster und einigen Microservices, die auf Spring Boot aufbauen. Alle Dienste werden in einer modernen Kubernetes Infrastruktur deployed und betrieben.</p>
      </div>
      <div class="columns">
        <div class="column is-8">
            <img alt="Produktdaten Pool" class="img-responsive" src="/references/teaser-productdaten.png">
        </div>
        <div class="column">
          <div class="project-spec">
            <dl class="dl-horizontal">
              <dt>Dauer</dt>
              <dd>9 Monate</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Branche</dt>
              <dd>Mode</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Business</dt>
              <dd>B2B</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Rolle</dt>
              <dd>Architekt + Developer</dd>
            </dl>
          </div>
          <hr>
          <div class="tech-stack">
            <a href="https://projects.spring.io/spring-boot/" class="tech color-spring-boot"><i class="tech-spring-boot"></i> Spring-Boot</a>
            <a href="https://www.mongodb.com/" class="tech color-mongo"><i class="tech-mongo"></i> MongoDB</a>
            <a href="https://kubernetes.io/" class="tech color-kubernetes"><i class="tech-kubernetes"></i> Kubernetes</a>
            <a href="https://www.docker.com/" class="tech color-docker"><i class="tech-docker"></i> Docker</a>
            <a href="https://www.elastic.co" class="tech color-elasticsearch"><i class="tech-elasticsearch"></i> ElasticSearch</a>
          </div>
        </div>
      </div>
  </div>
</section>

<section class="section light-gray-bg">
  <div class="container">
      <div class="content">
        <h2>Gutscheinportal</h2>
        <p>Realisierung eines Gutscheinportals zur Weiterverwertung und Veredlung von Leads aus dem Bereich E-Commerce und Gewinnspiel. Dieses wird direkt per Javascript auf den Seiten der Leadgenerierer eingebunden</p>
        <p>Zum Einsatz kommen State-of-the-Art Technologien wie vue.js und Amazon´s AWS Services sowie S3 und Cloudfront zur Sicherstellung von Performanz und Verfügbarkeit. Als Backend steht MongoDB in Kombination mit Vaadin und modernen REST-Services zur Verfügung. Betrieben werden alle Dienste auf einer mondernen Docker Infrastruktur.</p>
      </div>
      <div class="columns">
        <div class="column is-8">
            <img alt="Gutscheinportal" src="/references/teaser-voucher.png">
        </div>
        <div class="column">
          <div class="project-spec">
            <dl class="dl-horizontal">
              <dt>Dauer</dt>
              <dd>12 Monate</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Branche</dt>
              <dd>Werbung</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Business</dt>
              <dd>B2C</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt>Rolle</dt>
              <dd>Architekt + Developer</dd>
            </dl>
          </div>
          <hr>
          <div class="tech-stack">
            <a href="https://vuejs.org/" class="tech color-vue"><i class="tech-vue"></i> Vue.js</a>
            <a href="https://www.typescriptlang.org/" class="tech color-typescript"><i class="tech-typescript"></i> Typescript</a>
            <a href="https://vaadin.com/" class="tech color-vaadin"><i class="tech-vaadin"></i> Vaadin</a>
            <a href="https://projects.spring.io/spring-boot/" class="tech color-spring-boot"><i class="tech-spring-boot"></i> Spring-Boot</a>
            <a href="https://www.mongodb.com/" class="tech color-mongo"><i class="tech-mongo"></i> MongoDB</a>
            <a href="https://www.docker.com/" class="tech color-docker"><i class="tech-docker"></i> Docker</a>
            <a href="https://aws.amazon.com" class="tech color-aws"><i class="tech-aws"></i> S3+Cloudfront</a>
          </div>
        </div>
      </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="content">
      <h2>Sortimentsvisualisierung</h2>
      <p>Für die Digitalisierung der Sortimentsplanung sollte ein visuelles Tool geschaffen werden, welches große Bildwände mit Produktbildern und Ideen ebenbürtig ist. Anstelle von großen Plakaten wurden mehrere Fernseher zu einer Leinwand vereint. Das Visualisierungsprogramm ermöglichte über das gesamte Sortiment Filterungen und Rasterungen vorzunehmen. So konnten die einst manuell geklebten Bilder beliebig nach z.B Preislagen, Produktgruppen, Organisationseinheiten oder vielerlei andere Prodkutattribute umarrangiert werden. Mit Hilfe einer „Fernbedienung“, die sich über Websockets mit der Leinwand verbindet, konnte das Tool komfortabel gesteuert werden.</p>
      <p>Sortimentsgespräche und Meetings bedürfen von nun an eine deutlich geringe Vorbereitungszeit.</p>
    </div>
    <div class="columns">
      <div class="column is-8">
        <img alt="Sortimentsvisualisierung" src="/references/teaser-visualize.png">
      </div>
      <div class="column">
        <div class="project-spec">
          <dl class="dl-horizontal">
            <dt>Dauer</dt>
            <dd>9 Monate</dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Branche</dt>
            <dd>Mode</dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Business</dt>
            <dd>B2B</dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Rolle</dt>
            <dd>Architekt + Developer</dd>
          </dl>
        </div>
        <hr>
        <div class="tech-stack">
          <a href="https://spring.io/" class="tech color-spring"><i class="tech-spring"></i> Spring</a>
          <a href="https://www.elastic.co" class="tech color-elasticsearch"><i class="tech-elasticsearch"></i> ElasticSearch</a>
          <a href="https://vaadin.com/" class="tech color-vaadin"><i class="tech-vaadin"></i> Vaadin</a>
          <a href="https://github.com/stomp-js/stompjs" class="tech color-js"><i class="tech-js"></i> websocket</a>
          <a href="https://www.oracle.com/" class="tech color-database"><i class="tech-database"></i> Oracle</a>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section concrete-white-background-image">
  <div class="container has-text-centered">
    <h3>Unsere Produkte</h3>
    <h2 class="title">Softwarelösungen von rocketbase.io</h2>
    <div class="title-divider is-centered"></div>
  </div>
</section>



<section class="section">
  <div class="container">
    <div class="columns is-variable is-7">
      <div class="column content">
        <h2>ProductSpace</h2>
        <div class="title-divider"></div>
        <p>Eine visuelle Softwarelösung für die Sortiments- und Kampangien-Planung. Richtet sich vor allem an Fashion-Unternehmen die tag täglich im Team an der Entwicklung des Sortiments arbeiten.</p>
        <p><a href="https://www.productspace.io"><img src="/references/productspace-screenshot.png" class="screenshot" alt="screenshot aus ProductSpace" ></a></p>
        <p>
          <a href="https://www.productspace.io" class="button is-link is-outlined">mehr zu ProductSpace</a>
        </p>
      </div>
      <div class="column content">
        <h2>Orderbucket</h2>
        <div class="title-divider"></div>
        <p>Ein einfaches System, welches sich vor allem an Einzelhändler richtet, die Ihren Kunden Lieferdienste anbieten möchten. Bildet den gesamten Prozess ab und unterstüzt beim Dooing.</p>
        <p><a href="https://www.orderbucket.io"><img src="/references/orderbucket-screenshot.png" class="screenshot" alt="screenshot aus Orderbucket" ></a></p>
        <p>
          <a href="https://www.orderbucket.io" class="button is-link is-outlined">mehr zu Orderbucket</a>
        </p>
      </div>
    </div>
  </div>
</section>



<section class="section light-gray-bg">
  <div class="container">
      <div class="content">
        <h2>OpenSource Projekte</h2>
        <p>Wir lieben OpenSource und contributen auch eigene Projekte in unterschiedlichen Themenbereichen. Eine Auflistung finest du im Detail <a href="/about#opensource">hier</a></p>
      </div>
      <div class="columns">
        <div class="column is-8">
           <a href="/about#opensource"><img alt="OpenSource" class="img-responsive" src="/references/teaser-open-source.png"></a>
        </div>
        <div class="column">
          <div class="tech-stack">
              <a href="https://github.com/rocketbase-io" class="tech color-github"><i class="tech-github"></i> Github</a>
              <a href="https://www.npmjs.com/~rocketbase-io" class="tech color-npm"><i class="tech-npm"></i> NPM</a>
              <a href="https://jwt.io/" class="tech color-jwt"><i class="tech-jwt"></i> Jwt</a>
              <a href="https://spring.io/" class="tech color-spring"><i class="tech-spring"></i> Spring</a>
              <a href="https://vaadin.com/directory/search?author=Marten+Prie%C3%9F" class="tech color-vaadin"><i class="tech-vaadin"></i> Vaadin</a>
              <a href="https://vuejs.org/" class="tech color-vue"><i class="tech-vue"></i> Vue.js</a>
              <a href="https://www.typescriptlang.org/" class="tech color-typescript"><i class="tech-typescript"></i> Typescript</a>
          </div>
        </div>
      </div>
  </div>
</section>
