@import url('https://fonts.googleapis.com/css?family=Barlow:400,600|Gloria+Hallelujah&display=swap');

$family-sans-serif: 'Barlow', sans-serif;
$body-font-size: 1.2em !default
$family-hand-written: 'Gloria Hallelujah', cursive;

@import "colors";

@import "../../node_modules/bulma/bulma";
@import "../../node_modules/swiper/swiper-bundle.css";
@import "_dependency/cookieconsent";

@import "_custom/background";
@import "_custom/_bullet-timeline.css";
@import "_custom/section";
@import "_custom/technology";
@import "_custom/footer";
@import "_custom/screenshot";
