$family-sans-serif: 'MohrAlt-Light', sans-serif;
$body-font-size: 1.2em !default;
$family-hand-written: 'DeliveryNote-Regular', cursive;

@import "colors";

@import "../../node_modules/bulma/bulma";

@import "_custom/background";
@import "_custom/section";
@import "_custom/technology";
@import "_custom/footer";
@import "_custom/screenshot";
