---
layout: layouts/home.njk
eleventyNavigation:
  key: 404
  order: 999
  title: 404
eleventyExcludeFromCollections: true
---


<div class="hero concrete-white-background-image  framed-margin">
  <div class="main-frame-wrapper">
    <div class="frame-1">

      <div class="hero-body is-clean">
        <div class="container has-text-centered ">
          <figure class="image is-96x96 is-centered">
            <img src="/img/icons/404.svg" alt="Astronaut">
          </figure>
          <h2 class="title">Inhalt nicht gefunden</h2>
        </div>
      </div>
    </div>
  </div>
</div>
