---
layout: layouts/base-fixed-hero.njk

date: Last Modified
tags:
- main
- footer

title: rocketbase.io - Referenzen - Yomei
description: "Zufriedene Kunden sprechen für sich, heißt es. Unsere sprechen auch gern über uns, weil sie mit uns und ihrer Softwarelösung zufrieden sind."
ogImage: references.jpg
---

<div class="hero hero-fullpage framed-margin-top">
  <div class="main-frame-wrapper">
    <section class="section ref-title-section">
      <div class="container container-full-height">
        <div class="columns is-vcentered" >
          <div class="column">
            <div>
              <img src="/references/yomei/logo.svg" alt="rocketbase open source for comppanies">
            </div>
            <h2 class="title section-title">Yomei Webshop & Backoffice</h2>
            <div class="title-divider is-hidden-mobile"></div>
            <div class="content project-details">
              <p>Das Komplettpaket vom <b>Webdesign</b> bis hin zu einer <b>individuellen Softwarelösung</b> für die
                Produktpflege.</p>
              <div class="project-spec is-hidden-mobile">
                <hr/>
                <dl class="dl-horizontal">
                  <dt><b>Dauer</b></dt>
                  <dd>4 Monate</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt><b>Branche</b></dt>
                  <dd>Möbel Design & Herstellung</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt><b>Business</b></dt>
                  <dd>B2C</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt><b>Rolle</b></dt>
                  <dd>Architekt + Developer</dd>
                </dl>
                <dl class="dl-horizontal">
                  <dt><b>Webseite</b></dt>
                  <dd><a href="https://www.yomei.de/de/" target="_blank">www.yomei.de</a></dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="column">
            <img class="title" src="/references/yomei/impressions/frontend-1.png" alt="yomei-frontend">
          </div>
        </div>
        <div class="technologie-section is-vcentered is-hidden-mobile">
            <p class="tech-header">Technologien</p>
            <div class="tech-stack">
              <a href="https://vaadin.com/" class="tech color-spring"><i class="tech-11ty"></i> 11ty</a>
              <a href="https://vaadin.com/" class="tech color-vaadin"><i class="tech-vaadin"></i> Vaadin</a>
              <a href="https://mariadb.org/" class="tech color-mariadb"><i class="tech-mariadb"></i> MariaDb</a>
              <a href="https://projects.spring.io/spring-boot/" class="tech color-spring-boot"><i
                  class="tech-spring-boot"></i> Spring-Boot</a>
              <a href="https://kubernetes.io/" class="tech color-kubernetes"><i class="tech-kubernetes"></i> Kubernetes</a>
              <a href="https://www.docker.com/" class="tech color-docker"><i class="tech-docker"></i> Docker</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="revealing-content overflow-section">

  <section class="section content-entry is-small">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <h3>Das Project</h3>
          <h2 class="title section-title">Eine kurzer Einblick</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="section light-gray-bg is-medium is-hidden-tablet">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <h2 class="title section-title">Spezifikationen</h2>
          <div class="project-spec">
            <hr/>
            <dl class="dl-horizontal">
              <dt><b>Dauer</b></dt>
              <dd>4 Monate</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt><b>Branche</b></dt>
              <dd>Möbel Design & Herstellung</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt><b>Business</b></dt>
              <dd>B2C</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt><b>Rolle</b></dt>
              <dd>Architekt + Developer</dd>
            </dl>
            <dl class="dl-horizontal">
              <dt><b>Webseite</b></dt>
              <dd><a href="https://www.yomei.de/de/" target="_blank">www.yomei.de</a></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-hidden-tablet">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <div class="is-vcentered">
            <h2 class="title section-title">Technologien</h2>
            <div class="tech-stack">
              <a href="https://vaadin.com/" class="tech color-spring"><i class="tech-11ty"></i> 11ty</a>
              <a href="https://vaadin.com/" class="tech color-vaadin"><i class="tech-vaadin"></i> Vaadin</a>
              <a href="https://mariadb.org/" class="tech color-mariadb"><i class="tech-mariadb"></i> MariaDb</a>
              <a href="https://projects.spring.io/spring-boot/" class="tech color-spring-boot"><i
                  class="tech-spring-boot"></i> Spring-Boot</a>
              <a href="https://kubernetes.io/" class="tech color-kubernetes"><i class="tech-kubernetes"></i> Kubernetes</a>
              <a href="https://www.docker.com/" class="tech color-docker"><i class="tech-docker"></i> Docker</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section light-gray-bg is-medium">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-5">
          <img class="requirements" src="/references/yomei/impressions/requirement.jpg"
               alt="rocketbase open source for comppanies">
        </div>
        <div class="column is-7">
          <h3>Die Anforderungen</h3>
          <h2 class="title section-title">Was war das Ziel?</h2>
          <div class="title-divider"></div>
          <div class="content">
            <p>Mit einem zunehmend weltweit vertreibenden Unternehmen und einer stetig wachsenden Produktpalette
              wachsen auch die <b>Anforderungen</b> an ein effizientes IT-System. Zunehmend rückt dabei auch die optisch
              ansprechende
              Präsentation der Produkte für den Kunden in den Mittelpunkt.
            </p>
            <p>Für Yomei war das Gesamtpaket wichtig. So sollte es möglich sein, zentral über ein Backoffice System
              hochwertigen Content zu erzeugen. <br> Diese Inhalte können <i>Produkte</i> mit aufwendigen Konfiguration
              sein, aber
              auch <i>FAQs</i>, <i>Downloads</i>, <i>Artikel</i> und <i>Vertriebspartner</i>.
            </p>
            <p>Das <b>Ziel</b> war klar. Yomei benötigte eine Komplettlösung. Diese musste einen überarbeiteten Auftritt
              im
              <b>Web</b> abdecken und ein <b>Backoffice System</b> für das Erzeugen und Pflegen der Inhalte.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column">
          <h3>Das Vorgehen</h3>
          <h2 class="title section-title">Wie ist das Projekt abgelaufen?</h2>
        </div>
      </div>

      <div class="content">
        <div class="container">
          <p>Jedes Projekt hat seinen ganz eigenen Charakter. Auch dieses erfolgreiche Projekt gemeinsam mit
            <b>Yomei</b>. Aber auch dieses Projekt wurde mit unserem bewährten Workflow durchgeführt. Dabei ist der
            Kunde immer an Board.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-hidden-desktop">
    <div class="container has-text-centered">
      <div class="content">
        <div class="container">
          <ul class="timeline">
            <li class="timeline-row">
              <div class="timeline-panel-mobile" data-aos="fade-right" data-aos-anchor-placement="center-bottom">
                <div class="bage-mobile listen"></div>
                <div class="timeline-heading">
                  <h4 class="timeline-title">Zuhören</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Zunächst ging es um die Vorstellungen von Yomei.</i></p>
                  <p>Uns war es wichtig, zunächst einen Eindruck der Erwartungen und Vorstellungen von Yomei zu
                    erhalten.
                    Welche Anforderungen hat Yomei an eine individuelle Softwarelösung.</p>
                </div>
              </div>
            </li>
            <li class="timeline-row">
              <div class="timeline-panel-mobile" data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="bage-mobile ideas"></div>
                <div class="timeline-heading">
                  <h4 class="timeline-title">Ideen & Planung</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Nun, nachdem wir Yomei und seine Anforderungen kennengelernt haben, ging es für uns darum, Ideen
                      und Lösungen zu finden.</i></p>
                  <p>Wichtig bei der Ausarbeitung von Lösungen war, wie in
                    jedem Projekt, die Bedürfnisse von <b>Yomei</b> im Blick zu behalten, aber ebenso beratend und
                    unterstützend
                    einzuwirken und gegebenenfalls Alternativen aufzuzeigen.
                  </p>
                  <p><b><i>Vorgehen:</i></b></p>
                  <ul>
                    <li>Brainstorming, Workshops</li>
                    <li>Design Mockups</li>
                    <li>Prozessemodellierung</li>
                    <li>Softwarearchitektur <i>z.b. Design, Anforderungen ..</i></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="timeline-row">
              <div class="timeline-panel-mobile" data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="bage-mobile concept"></div>
                <div class="timeline-heading">
                  <h4 class="timeline-title">Konzeption</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Ideen und Planung fließen in ein Konzept</i></p>
                  <p> Das <b>Konzept</b> verpackt alle Ideen und Aspekte der Planung in einem Vorgehen für den
                    erfolgreichen
                    Projektabschluss. Dieser gibt zum einen vor, wie das <b>Projekt</b> ablaufen wird, aber ebenso mit
                    welchen
                    Techniken das Projekt umgesetzt wird.
                  </p>
                  <p><b><i>Erbrachte Leistungen:</i></b></p>
                  <ul>
                    <li>UI-Design</li>
                    <li>Prozesse <i>z.b. Pflege der Produkte und Inhalte</i></li>
                    <li>Datenmodelle</li>
                    <li>Konzeptvorschläge für Betrieb- und Hosting</li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="timeline-row">
              <div class="timeline-panel-mobile" data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="bage-mobile implementation"></div>
                <div class="timeline-heading">
                  <h4 class="timeline-title">Umsetzung & Implementierung</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Das Konzept ist klar. Es kann losgehen.</i></p>
                  <p>Nun ging es darum, das Konzept umzusetzen. Ein Kernaspekt für ein erfolgreiches Projekt ist dabei
                    das direkte Feedback des Kunden. Zu jeder Zeit bestand für Yomei die Möglichkeit, alle
                    Funktionalitäten auf einer eigenen Testumgebung zu validieren.
                  </p>
                  <p><b><i>Eingesetzte Technologien:</i></b></p>
                  <div class="tech-stack">
                    <a href="https://vaadin.com/" class="tech color-spring"><i class="tech-11ty"></i> 11ty</a>
                    <a href="https://vaadin.com/" class="tech color-vaadin"><i class="tech-vaadin"></i> Vaadin</a>
                    <a href="https://mariadb.org/" class="tech color-mariadb"><i class="tech-mariadb"></i> MariaDb</a>
                    <a href="https://projects.spring.io/spring-boot/" class="tech color-spring-boot"><i
                        class="tech-spring-boot"></i> Spring-Boot</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="timeline-row">
              <div class="timeline-panel-mobile" data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="bage-mobile hosting"></div>
                <div class="timeline-heading">
                  <h4 class="timeline-title">Betrieb & Hosting</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Zuletzt hat rocketbase-io die Auslieferung und den Einsatz der für Yomei individuellen Software
                      geplant und durchgeführt.</i></p>
                  <p>Der Betrieb und die Auslieferung wurden hierbei bereits im Konzept genau geplant. Nach Abnahme der
                    Anwendung von Yomei haben wir damit begonnen das Softwaresystem <b>Live</b> zu stellen.</p>
                  <p><b><i>Eingesetzte Technologien:</i></b></p>
                  <div class="tech-stack">
                    <a href="https://kubernetes.io/" class="tech color-kubernetes"><i class="tech-kubernetes"></i>
                      Kubernetes</a>
                    <a href="https://www.docker.com/" class="tech color-docker"><i class="tech-docker"></i> Docker</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-hidden-touch">
    <div class="container has-text-centered">
      <div class="content">
        <div class="container">
          <ul class="timeline" style="list-style: none;">
            <li class="timeline-row">
              <div class="timeline-badge first" data-aos="fade-up" data-aos-anchor-placement="top-center">
                <img src="/how-we-work/icons/listen.png">
              </div>
              <div class="timeline-panel" data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Zuhören</h4>
                  <p><small class="text-muted"><i class=""></i></small></p>
                </div>
                <div class="timeline-body">
                  <p><i>Zunächst ging es um die Vorstellungen von Yomei.</i></p>
                  <p>Uns war es wichtig, zunächst einen Eindruck der <b>Erwartungen</b> und <b>Vorstellungen</b> von
                    Yomei zu erhalten.
                  </p>
                  <p>Welche <b>Anforderungen</b> hat Yomei an eine individuelle Softwarelösung?</p>
                </div>
              </div>
            </li>
            <li class="timeline-row timeline-inverted">
              <div class="timeline-badge second" data-aos="fade-up" data-aos-anchor-placement="top-center">
                <img src="/how-we-work/icons/ideas.png">
              </div>
              <div class="timeline-panel" data-aos="fade-left" data-aos-anchor-placement="top-center">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Ideen & Planung</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Nun, nachdem wir Yomei und seine Anforderungen kennengelernt haben, ging es für uns darum, Ideen
                      und Lösungen zu finden.</i></p>
                  <p>Wichtig bei der Ausarbeitung von Lösungen war, wie in
                    jedem Projekt, die Bedürfnisse von <b>Yomei</b> im Blick zu behalten, aber ebenso beratend und
                    unterstützend
                    einzuwirken und gegebenenfalls Alternativen aufzuzeigen.
                  </p>
                  <p><b><i>Vorgehen:</i></b></p>
                  <ul>
                    <li>Brainstorming, Workshops</li>
                    <li>Design Mockups</li>
                    <li>Prozessemodellierung</li>
                    <li>Softwarearchitektur <i>z.b. Design, Anforderungen ..</i></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="timeline-row">
              <div class="timeline-badge third" data-aos="fade-up" data-aos-anchor-placement="top-center">
                <img src="/how-we-work/icons/concept.png">
              </div>
              <div class="timeline-panel" data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Konzeption</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Ideen und Planung fließen in ein Konzept</i></p>
                  <p> Das <b>Konzept</b> verpackt alle Ideen und Aspekte der Planung in einem Vorgehen für den
                    erfolgreichen
                    Projektabschluss. Dieser gibt zum einen vor, wie das <b>Projekt</b> ablaufen wird, aber ebenso mit
                    welchen
                    Techniken das Projekt umgesetzt wird.
                  </p>
                  <p><b><i>Erbrachte Leistungen:</i></b></p>
                  <ul>
                    <li>UI-Design</li>
                    <li>Prozesse <i>z.b. Pflege der Produkte und Inhalte</i></li>
                    <li>Datenmodelle</li>
                    <li>Softwarearchitektur</li>
                    <li>Konzeptvorschläge für Betrieb und Hosting</li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="timeline-row timeline-inverted">
              <div class="timeline-badge fourth" data-aos="fade-up" data-aos-anchor-placement="top-center">
                <img src="/how-we-work/icons/implementation.png">
              </div>
              <div class="timeline-panel" data-aos="fade-left" data-aos-anchor-placement="top-center">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Umsetzung & Implementierung</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Das Konzept ist klar. Es kann losgehen.</i></p>
                  <p>Nun ging es darum, das Konzept umzusetzen. Ein Kernaspekt für ein <b>erfolgreiches Projekt</b> ist
                    dabei
                    das direkte Feedback des Kunden.<br> Zu jeder Zeit bestand für Yomei die Möglichkeit, alle
                    Funktionalitäten auf einer eigenen Testumgebung zu validieren.
                  </p>
                  <p><b><i>Eingesetzte Technologien:</i></b></p>
                  <div class="tech-stack">
                    <a href="https://vaadin.com/" class="tech color-spring"><i class="tech-11ty"></i> 11ty</a>
                    <a href="https://vaadin.com/" class="tech color-vaadin"><i class="tech-vaadin"></i> Vaadin</a>
                    <a href="https://mariadb.org/" class="tech color-mariadb"><i class="tech-mariadb"></i> MariaDb</a>
                    <a href="https://projects.spring.io/spring-boot/" class="tech color-spring-boot"><i
                        class="tech-spring-boot"></i> Spring-Boot</a>
                  </div>
                </div>
            </li>
            <li class="timeline-row">
              <div class="timeline-badge fith" data-aos="fade-up" data-aos-anchor-placement="top-center">
                <img src="/how-we-work/icons/hosting.png">
              </div>
              <div class="timeline-panel" data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Betrieb & Hosting</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Zuletzt hat rocketbase-io die Auslieferung und den Einsatz der für Yomei individuellen Software
                      geplant und durchgeführt.</i></p>
                  <p>Der <b>Betrieb</b> und die <b>Auslieferung</b> wurden hierbei bereits im Konzept genau geplant.
                    Nach Abnahme der
                    Anwendung von Yomei haben wir damit begonnen das Softwaresystem Live zu stellen.</p>
                  <p><b><i>Eingesetzte Technologien:</i></b></p>
                  <div class="tech-stack">
                    <a href="https://kubernetes.io/" class="tech color-kubernetes"><i class="tech-kubernetes"></i>
                      Kubernetes</a>
                    <a href="https://www.docker.com/" class="tech color-docker"><i class="tech-docker"></i> Docker</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section light-gray-bg">
    <div class="container has-text-centered">
      <h3>Impressionen</h3>
      <h2 class="title section-title">Einige Eindrücke des Projektes</h2>
      <!-- Slider main container -->
      <div class="swiper-container swiper-autoplay">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide"><img class="impressions" src="/references/yomei/impressions/frontend-1.png"
                                         alt="rocketbase open source for comppanies"></div>
          <div class="swiper-slide"><img class="impressions" src="/references/yomei/impressions/frontend-2.png"
                                         alt="rocketbase open source for comppanies"></div>
          <div class="swiper-slide"><img class="impressions" src="/references/yomei/impressions/frontend-3.png"
                                         alt="rocketbase open source for comppanies"></div>
          <div class="swiper-slide"><img class="impressions" src="/references/yomei/impressions/frontend-4.png"
                                         alt="rocketbase open source for comppanies"></div>
          <div class="swiper-slide"><img class="impressions" src="/references/yomei/impressions/frontend-5.png"
                                         alt="rocketbase open source for comppanies"></div>
          <div class="swiper-slide"><img class="impressions" src="/references/yomei/impressions/frontend-6.png"
                                         alt="rocketbase open source for comppanies"></div>
          <div class="swiper-slide"><img class="impressions" src="/references/yomei/impressions/backend-1.png"
                                         alt="rocketbase open source for comppanies"></div>
          <div class="swiper-slide"><img class="impressions" src="/references/yomei/impressions/backend-2.png"
                                         alt="rocketbase open source for comppanies"></div>
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns is-variable is-7">
        <div class="column content has-text-centered">
          <h2>Das Ergebnis</h2>
          <p>Yomei hat ein auf seine Bedürfnisse abgestimmtes Komplettpaket erhalten. Mit diesem System ist es
            Yomei nun möglich, ihre Produkte, Vertriebspartner und weitere Inhalte zu pflegen.</p>
          <p>Dabei entscheidet <b>Yomei</b> selbst, wann
            diese Live auf der Webseite veröffentlicht werden. Neben dem umgesetzten Produkt kümmert sich die
            <b>rocketbase-io</b> um die Pflege der Datenbanken und das Betreiben des Backoffice System.
          </p>
        </div>
        <div class="column content has-text-centered">
          <h2>Das sagt der Kunde</h2>
          <blockquote>
            <div class="has-text-centered">
              <img src="/references/yomei/logo.svg" alt="rocketbase open source for comppanies">
            </div>
            <p><i>“Wir wurden dank der individuellen Software-Lösungen und der Beratung sicher durch die Untiefen
                unserer Start-Up-Zeit gelotst. Dadurch können wir unser Geschäft jetzt jederzeit skalieren.”</i></p>
          </blockquote>
          <p><cite>Roman Schneider · YOMEI GmbH</cite></p>
        </div>
      </div>
    </div>
  </section>

  <div class="hero concrete-white-background-image">
    <div class="main-frame-wrapper">
      <div class="frame-2">

        <div class="hero-body is-clean">
          <div class="container has-text-centered padding-bottom">

            <div class="columns is-vcentered">
              <div class="column is-12">
                <h3>Weitere Projekte</h3>
                <h2 class="title section-title">Schauen Sie sich alle unsere Projekte and</h2>
                <div class="content">
                  <div class="tech-stack">
                    <a href="http://rocketbase.io/references/" class="tech color-github"><i class="tech-github"></i>
                      Referenzen</a>
                    <a href="https://github.com/rocketbase-io/" target="_blank" class="tech color-github"><i
                        class="tech-github"></i>
                      Github</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "footer.njk" %}
</div>

<script>

  const heroFullpage = document.getElementsByClassName('hero-fullpage')[0];
  const revealingHero = document.getElementsByClassName('revealing-content')[0];

  revealingHero.style.top = (heroFullpage.offsetHeight) + 'px';

  document.addEventListener('scroll', function () {
    const overflowSection = document.querySelector('.overflow-section');
    let opacity = (overflowSection.getBoundingClientRect().top) / heroFullpage.offsetHeight;
    heroFullpage.style.opacity = opacity;
  });

</script>
