---
layout: layouts/home.njk

date: Last Modified
tags:
  - main
  - footer

title: rocketbase.io - Referenzen - Yomei
description: "Zufriedene Kunden sprechen für sich, heißt es. Unsere sprechen auch gern über uns, weil sie mit uns und ihrer Softwarelösung zufrieden sind."
ogImage: references.jpg
---

<section class="section">
  <div class="hero framed-margin">
    <div class="main-frame-wrapper">
      <div class="frame-1">

        <section class="section">
          <div class="container ">
            <div class="columns is-vcentered">

              <div class="column is-7">
                <div class="is-hidden-mobile">
                  <img src="/references/yomei/logo.svg" alt="rocketbase open source for comppanies">
                </div>
                <h2 class="title section-title">Yomei Webshop & Backoffice</h2>
                <div class="title-divider"></div>
                <div class="content">
                  <p>Ein komplettpaket vom Webdesign bis hin zu einer individuellen <br> Softwarelösung für die Produktpflege</p>
                  <p><a href="https://yomei.de" target="_blank">Besuchen</a></p>
                </div>
              </div>
              <div class="column is-5 is-hidden-mobile has-text-centered">
                <img class="" src="/references/yomei/impressions/frontend-1.png" alt="yomei screenshop webshop">
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</section>

<section class="section light-gray-bg">
  <div class="container ">
    <div class="columns is-vcentered">

      <div class="column is-5 is-hidden-mobile">
        <img class="screenshot" src="/references/yomei/requirement.jpg" alt="rocketbase open source for comppanies">
      </div>

      <div class="column is-7">
        <h3>Anforderungen</h3>
        <h2 class="title section-title">Was war das Ziel?</h2>
        <div class="title-divider"></div>
        <div class="content">
          <p>Mit einer stetig wachsenden Produktpalette und einem zunehmend weltweit vertreibenden Unternehmen wachsen
            auch die Anforderungen an ein <b>effizientes</b> <b>IT-System</b> und die optimisch <b>ansprechende
              Präsentation</b> der Produkte.</p>
          <p>Für Yomei war das Gesamtpaket wichtig. So musste es möglich sein zentral über ein <b>Backoffice System</b>
            hochwertigen Content zu erzeugen. Diese Inhalte können Produkte mit aufwenigen Konfiguration sein, aber auch
            FAQs, Downloads, Artikel und Geschichten bis hin zum vertreibenden Händler. Die verwalteten Inhalte sollen am Ende die Grundlage für einen neuen Webshop, zur Präsentation der Produkte
            und des Unternehmens sein. Ziel des Projektes war ein Gesamtpaket aus Webshop, <b>individuelles
              Content-Management-System</b> und <b>Designs + Grafiken</b>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column">
        <h3>Das Vorgehen</h3>
        <h2 class="title section-title">Wie ist das Projekt abgelaufen?</h2>
      </div>
    </div>

    <div class="content">
      <div class="container">
        <p>Jedes Projekt hat seinen ganz eigenen Charakter. Im folgenden soll der Ablauf in der Zusammenarbeit mit
          Yomei kurz aufgezeigt werden</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <div class="content">
      <div class="container">
        <ul class="timeline" style="list-style: none;">
          <li class="timeline-row">
            <div class="timeline-badge first">
              <img src="/how-we-work/horen-sie-aktiv-zu.png">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Zuhören</h4>
                <p><small class="text-muted"><i class=""></i></small></p>
              </div>
              <div class="timeline-body">
                <p>Zunächst ging es um die Vorstellungen von Yomei. Uns war hierbei wichtig zunächst zu erfahren welche
                  Erwartungen und Vorstellungen Yomei von einer individuellen Softwarelösung haben.</p>
                <p>
                  In ersten Gesprächen wurden dabei Erwartung und Realität besprochen.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-row timeline-inverted">
            <div class="timeline-badge second">
              <img src="/how-we-work/projektmanagement.png">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Ideen & Planung</h4>
              </div>
              <div class="timeline-body">
                <p>Nun, nachdem wir Yomei und seine Anforderungen kennengelernt haben, und einen Einblick in das von
                  Yomei erwrtete Ziel erhalten haben ging es für uns darum Ideen und Lösungen zu finden.
                </p>
                <p>Wichtig bei der Herausarbeitung von Lösungen war, wie in
                  jedem Projekt, die Bedürfnisse von Yomei im Blick zu behalten, aber ebenso beratend und unterstützend
                  einwirken, um gegebenenfalls Alternativen aufzuzeigen.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-row">
            <div class="timeline-badge third">
              <img src="/how-we-work/konzept.png">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Konzeption</h4>
              </div>
              <div class="timeline-body">
                <p>Diese Ideen wurden von uns in ein Gesamtkonzept verpackt und dem Kunden vorgestellt.</p>
                <p>
                  Es ging nun darum mit Yomei zu planen, wie das angestrebte Ziel erreicht werden kann. Wir haben dabei
                  die Beratung übernommen und Yomei mit unserem <b>Know-How</b> unterstützt.
                </p>
                <p>
                  Von der eingesetzten Technologie bis hin zum späteren Betrieb der individuellen Software Lösung ist
                  waren hier Kernaspekte.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-row timeline-inverted">
            <div class="timeline-badge fourth">
              <img src="/how-we-work/implementierer.png">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Umsetzung & Implementierung</h4>
              </div>
              <div class="timeline-body">
                <p>Das Konzept war klar und es konnte losgehen.</p>
                <p>
                  Wir haben mit der Umsetzung des Projektes begonnen. Zu jeder Zeit war dabei wichtig, dass Yomei auf
                  einer eigenen Testumgebung das Produkt testen kann. Dieses schnelle und kurze Feedback ermöglichte eine
                schnelle Umsetzung von Änderungswünschen.</p>
              </div>
            </div>
          </li>
          <li class="timeline-row">
            <div class="timeline-badge fith">
              <img src="/how-we-work/hosting.png">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Betrieb & Hosting</h4>
              </div>
              <div class="timeline-body">
                <p>Zuletzt hat rocketbase-io die Auslieferung und den Einsatz der für yomei individuellen Software
                  geplant und durchgeführt.</p>
                <p>Wie im Konzept besprochen wurde und wird hierbei das Einspielen und der Betrieb der Software übernommen.
                  Ebenso werden die Datenbanken von rocketbase-io gewartet.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section light-gray-bg">
  <div class="container has-text-centered">
    <h3>Impressionen</h3>
    <h2 class="title section-title">Einige Eindrücke des Projektes</h2>
    <!-- Slider main container -->
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img src="/references/yomei/impressions/frontend-1.png" alt="rocketbase open source for comppanies"></div>
        <div class="swiper-slide"><img src="/references/yomei/impressions/frontend-2.png" alt="rocketbase open source for comppanies"></div>
        <div class="swiper-slide"><img src="/references/yomei/impressions/frontend-3.png" alt="rocketbase open source for comppanies"></div>
        <div class="swiper-slide"><img src="/references/yomei/impressions/frontend-4.png" alt="rocketbase open source for comppanies"></div>
        <div class="swiper-slide"><img src="/references/yomei/impressions/frontend-5.png" alt="rocketbase open source for comppanies"></div>
        <div class="swiper-slide"><img src="/references/yomei/impressions/frontend-6.png" alt="rocketbase open source for comppanies"></div>
        <div class="swiper-slide"><img src="/references/yomei/impressions/frontend-7.png" alt="rocketbase open source for comppanies"></div>
        <div class="swiper-slide"><img src="/references/yomei/impressions/frontend-8.png" alt="rocketbase open source for comppanies"></div>
        <div class="swiper-slide"><img src="/references/yomei/impressions/backend-2.png" alt="rocketbase open source for comppanies"></div>
        <div class="swiper-slide"><img src="/references/yomei/impressions/backend-1.png" alt="rocketbase open source for comppanies"></div>
        <div class="swiper-slide"><img src="/references/yomei/impressions/backend-3.png" alt="rocketbase open source for comppanies"></div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
{#      <div class="swiper-button-prev"></div>#}
{#      <div class="swiper-button-next"></div>#}

    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-variable is-7">
      <div class="column content has-text-centered">
        <h2>Das Ergebnis</h2>
        <p>Yomei hat ein auf seine Bedürfnisse abgestimmtes <b>Komplettpaket</b> erhalten. Mit diesem System ist es
          Yomei nun möglich ihre Produkte, Vertriebspartner und weitere Inhalte zu pflegen.</p>
        <p>Dabei entscheidet <b>Yomei</b> selbst, wann
          diese Live auf der Webseite released werden. Neben dem umgesetzten Produkt kümmert sich <b>rocketbase-io</b>
          um die Pflege der Datenbanken und das betreiben des Backoffice System.
        </p>
      </div>
      <div class="column content has-text-centered">
        <h2>Das sagt der Kunde</h2>
          <blockquote>
            <div class="has-text-centered">
              <img src="/references/yomei/logo.svg" alt="rocketbase open source for comppanies">
            </div>
            <p><i>“Wir wurden dank der individuellen Software-Lösungen und der Beratung sicher durch die Untiefen
                unserer Start-Up-Zeit gelotst. Dadurch können wir unser Geschäft jetzt jederzeit skalieren.”</i></p>
          </blockquote>
          <p><cite>Roman Schneider · YOMEI GmbH</cite></p>
      </div>
    </div>
  </div>
</section>

<div class="hero concrete-white-background-image">
  <div class="main-frame-wrapper">
    <div class="frame-2">

      <div class="hero-body is-clean">
        <div class="container has-text-centered padding-bottom">

          <div class="columns is-vcentered">
            <div class="column is-12">
              <h3>Weitere Projekte</h3>
              <h2 class="title section-title">Schauen Sie sich alle unsere Projekte and</h2>
              <div class="content">
                <div class="tech-stack">
                  <a href="http://localhost:5555/references/" class="tech color-github"><i class="tech-github"></i>
                    Referenzen</a>
                  <a href="https://github.com/rocketbase-io/" class="tech color-github"><i class="tech-github"></i>
                    Github</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
