---
layout: layouts/home.njk

date: Last Modified
tags:
  - main
  - footer

title: rocketbase.io - Referenzen - Yomei
description: "Zufriedene Kunden sprechen für sich, heißt es. Unsere sprechen auch gern über uns, weil sie mit uns und ihrer Softwarelösung zufrieden sind."
ogImage: references.jpg
---
<div class="hero framed-margin">
  <div class="main-frame-wrapper">
    <div class="frame-1">

      <section class="section light-gray-bg">
        <div class="container ">
          <div class="columns is-vcentered">

            <div class="column is-7">
              <h2 class="title section-title">Yomei Webshop</h2>
              <div class="title-divider"></div>
              <div class="content">
                <p>Ein komplettpaket vom Webdesign bis hin zu einer individuellen Softwarelösung für die Produktpflege</p>
                <p><a href="https://yomei.de" target="_blank">Zur Seite</a> </p>
              </div>
            </div>
            <div class="column is-5 is-hidden-mobile has-text-centered">
              <img class="screenshot" src="/references/yomei/yomei-webshop-screen.png" alt="yomei screenshop webshop">
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>

<section class="section">
  <div class="container ">
    <div class="columns is-vcentered">

      <div class="column is-5 is-hidden-mobile has-text-centered">
        <img src="https://via.placeholder.com/450" alt="rocketbase open source for comppanies">
      </div>

      <div class="column is-7">
        <h3>Anforderungen</h3>
        <h2 class="title section-title">Was war das Ziel?</h2>
        <div class="title-divider"></div>
        <div class="content">
          <p>Mit einer stetig wachsenden Produktpalette und einem zunehmend weltweit vertreibenden Unternehmen nehmen auch die Anforderungen an die Präsentation, Darstellung und Pflege der Produkte für das Angebot beim Kunden zu.

            Hier war Yomei wichtig eine ansprechende Präsentation der Produkte in all den verschiedenen Ausführen aber auch ein individuelles Softwaresystem im Hintergrund über die die teils dynamischen Inhalte gepflegt werden können.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h3>Ablauf</h3>
    <h2 class="title section-title">Wie ist das Projekt abgelaufen?</h2>
    <div class="content">
      <p>Grafik hier her ...</p>
    </div>
  </div>
</section>

<section class="section light-gray-bg">
  <div class="container">
    <div class="content">
      <h2>Impressionen</h2>
      <p>
        <!-- Slider main container -->
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-variable is-7">
      <div class="column content has-text-centered">
        <h2>Ergebnis</h2>
        <p>Yomei hat ein auf seine Bedürfnisse abgestimmtes Komplettpaket erhalten. Mit diesem System ist es Yomei nun
          möglich ihre Produkte, Vertriebspartner und weitere Inhalte zu pflegen. Dabei entscheidet yomei selbst, wann
          diese Live auf der Webseite released werden. Neben dem umgesetzten Produkt kümmert sich rocketbase-io um die
          Pflege der Datenbanken und das betreiben des Backend Portals.
        </p>
      </div>
      <div class="column content has-text-centered">
        <h2>Das sagt der Kunde</h2>
        <p><i>“Wir wurden dank der individuellen Software-Lösungen und der Beratung sicher durch die Untiefen unserer Start-Up-Zeit gelotst. Dadurch können wir unser Geschäft jetzt jederzeit skalieren.”</i></p>
      </div>
    </div>
  </div>
</section>

<div class="hero concrete-white-background-image">
  <div class="main-frame-wrapper">
    <div class="frame-2">

      <div class="hero-body is-clean">
        <div class="container has-text-centered padding-bottom">

          <div class="columns is-vcentered">
            <div class="column is-12">
              <h3>Weitere Projekte</h3>
              <h2 class="title section-title">Schauen Sie sich alle unsere Projekte and</h2>
              <div class="content">
                <div class="tech-stack">
                  <a href="https://github.com/rocketbase-io/" class="tech color-github"><i class="tech-github"></i>
                    Github</a>
                  <a href="http://localhost:5555/references/" class="tech color-github"><i class="tech-github"></i> Referenzen</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script>

  import Swiper from 'swiper'

  var mySwiper = new Swiper('.swiper-container', {
    // Optional parameters
    direction: 'vertical',
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  })
</script>
