---
layout: layouts/home.njk
eleventyNavigation:
  key: how-we-work
  parent: about
  title: Wie wir arbeiten

date: Last Modified
tags:
  - main
  - footer

title: rocketbase.io - Wie wir arbeiten
description: "Wir arbeiten agil - Softwareentwicklung aus Hamburg"
ogImage: references.jpg
---
<div class="hero concrete-white-background-image framed-margin">
  <div class="main-frame-wrapper">
    <div class="frame-1">

      <div class="hero-body is-clean">
        <div class="container has-text-centered padding-bottom">

          <div class="columns is-vcentered">
            <div class="column is-7">
              <h3>Wir arbeiten agil</h3>
              <h2 class="title section-title">Agile Softwareentwicklung aus Hamburg</h2>
              <div class="title-divider is-centered"></div>
              <div class="content">
                <p>Wir arbeiten <b>effizient und effektiv</b> mit unserer bewährten Methode. In einem mehrstufigen Plan
                  unterstützen wir Sie als Kunden und bringen Ihr Projekt <b>erfolgreich</b> an den Start. <b>Agilität</b> und ein
                  enger Bezug zum Kunden sind usn dabei sehr wichtig. Unsere agile Arbeitsweiße ist zu jederzeit <b>flexibel</b>
                  garantiert einen <b>erfolgreichen Projektabschluss</b>.
                </p>
              </div>
            </div>

            <div class="column is-5 is-hidden-mobile has-text-centered">
              <img src="/img/rocketbase-progress.png" alt="rocketbase progress">
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<section class="section">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column">
        <h3>Workflow</h3>
        <h2 class="title section-title">Unsere grundlegende Arbeitweise kurz erläutert</h2>
        <div class="content">
          <p>Unser <b>Workflow</b> legt sehr viel Wert auf die wichtigste Komponente. Den Kunden. Wir haben immer ein <b>offenes
              Ohr</b> für die Wünsche des Kunden. Um optimal auf den Kunden eingehen zu können beziehen wir die Kunden
            eng in die Umsetzung der Projekte ein. Wir stehen aber auch jederzeit mit unserem <b>Know-How</b> bereit, um
            unterstützend einzuwirken und das Projekt am Ende erfolgreich für den Kunden an den Start zu bringen.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <div class="content">
      <div class="container">
        <ul class="timeline" style="list-style: none;">
          <li class="timeline-row">
            <div class="timeline-badge first">
              <img src="/how-we-work/horen-sie-aktiv-zu.png">></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Zuhören</h4>
              </div>
              <div class="timeline-body">
                <p>Zunächst heißt es für uns zuhören und Füße still halten.
                </p>
                <p>
                  Zunächst ist uns wichtig was Ihre Vorstellungen sind und welche Anforderungen auf die rocketbase-io
                  zukommen. In einem <b>offenen</b> und <b>ehrlichen</b> Gespräch haben wir so die Möglichkeit besser zu verstehen,
                  was Ihre Anforderungen und Wünsche sind.
                </p>
                <p>
                  Wir wollen dabei Ihre <b>fachliche Sicht</b> auf das zu <b>realisierende</b> Produkt verstehen.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-row timeline-inverted hidden">
            <div class="timeline-badge second">
              <img src="/how-we-work/projektmanagement.png">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Ideen & Planung</h4>
              </div>
              <div class="timeline-body">
                <p>Nun sind wir an der Reihe. Für uns gilt es <b>Ideen</b> zu kreieren und <b>Inspirationen</b>
                  einzuholen. Dabei zählt auch hier: Ihr Bedürfnisse noch einmal zu evaluieren und Anforderungen an das
                  Zielsystem zu definieren.</p>
                <p>Sie engagieren uns als <b>Experten</b> und wir wollen Ihnen mit Rat und Tat zur Seite stehen.
                  Bereits bevor das Projekt gestartet wurde. So können wir von vorne herein Probleme minimieren und
                  falsche Vorstellungen vermeiden.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-row hidden">
            <div class="timeline-badge third">
              <img src="/how-we-work/konzept.png"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Konzeption</h4>
              </div>
              <div class="timeline-body">
                <p><b>Anforderungen und Ziele</b> sind nun klar definiert. Sie als Kunde und wir als Ihre Experten sind auf dem
                  gleichen Nenner und kennen die Vorstellungen des Gegenüber.</p>
                <p>
                  Was nun noch fehlt ist ein ausgefeiltes Konzept. Hierfür werden wir unsere kreativen Köpfe
                  zusammenstecken und Ihnen schon bald ein Konzept präsentieren, wie wir Ihr Projekt umsetzen wollen.
                </p>
                <p> Wir wollen Sie dabei mit unserem <b>Know-How</b> unterstützen und unsere
                  <b>Erfahrungen</b> in die Projekte einfließen lassen.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-row timeline-inverted hidden">
            <div class="timeline-badge fourth">
              <img src="/how-we-work/implementierer.png">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Umsetzung & Implementierung</h4>
              </div>
              <div class="timeline-body">
                <p>Nun gilt es die Ärmel hochzukrempeln. Das Konzept wird realisiert. Doch hier gilt, mit kleinen
                  abgeschlossenen Iterationen kommt man ans Ziel. Hierzu zählt das <b>Testen</b> auf realen Umgebungen und das
                  <b>Feedback</b> von Ihnen als Kunden oder von Projektverantwortlichen. Frühzeitig kann so erkannt werden, ob
                  sich das Projekt nach wie vor in der richtigen Spur befindet.</p>
                <p>
                  Wir werden Ihnen hierfür eine <b>Testumgebung</b> zur Verfügung stellen mit der Sie immer den aktuellen Stand
                  auf Herz und Nieren testen können. So haben Sie immer den fachlichen Überblick über Ihr
                  eigenes Softwareprodukt.</p>
                <p><i>Sie merken etwas ist nicht so wie in Ihren Vorstellungen?</i><br><b>Kein Problem!</b>
                  Wir können jederzeit eingreifen und das Ruder in die richtige Richtung reisen.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-row hidden">
            <div class="timeline-badge fith">
              <img src="/how-we-work/hosting.png">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Betrieb & Hosting</h4>
              </div>
              <div class="timeline-body">
                <p>Selbstverständlich muss auch der <b>Einsatz</b> und der <b>Betrieb</b> Ihrer hoffentlich bald neuen
                  Softwarelösung geplant und durchgeführt werden.</p>
                <p> Wir weden dafür sorgen, dass Sie am Ende Ihr eigenes Produkt unproblematisch in Ihre eigene
                  Infrastruktur integrieren können. <i>Oder sollen wir das für Sie übernehmen?</i></p>
                <p> Auch können wir Ihnen anbieten die Produkte oder Dienste für Sie auf der eigenen <b>Infrastruktur</b> zu
                  betreiben.</p>
                <p> Diese Entscheidungen müssen Sie zum Glück nicht alleine treffen. Wir helfen Ihnen die richtige
                  Entscheidung für den Betrieb zu treffen. Wir werden Sie dabei mit unserem Know-How beraten und mit Rat und
                  Tat zur Seite stehen, um die bestmögliche <b>Langzeitlösung</b> für Sie zu finden.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section light-gray-bg">
  <div class="container ">
    <div class="columns is-vcentered">
      <div class="column is-5 is-hidden-mobile has-text-centered">
        <img src="/open-source/teaser-open-source.png" alt="rocketbase tools">
      </div>

      <div class="column is-7">
        <h3>Unsere Werkzeugkiste</h3>
        <h2 class="title section-title">Für jeder Herausforderung das passende Werkzeug</h2>
        <div class="title-divider"></div>
        <div class="content">
          <p>Für jedes Projekte die richtigen Werkzeuge. Aufgrund von langjähriger Entwicklungserfahrung können wir
            neben unserer Erfahrung auf eine <b>Sammlung nützlicher Werkzeuge</b> zurückgreifen, die uns in vielen Situationen
            des Projektes das Leben erheblich erleichtern. Ein großteil dieser Werkzeuge sind für die Open Source Welt
            zugänglich.</p>
          <p>Mit unserem eigenen <b>commons-auth</b> Service haben wir eine Lösung rund um das Thema Authentifizierung und
            Verwaltung von Anwendern geschaffen. Mit dem <b>commons-asset</b> Service haben wir ein Tool geschaffen, dass die
            komplette Verwaltung von Dateien bereitstellt. Dank dieser Tools können wir uns auf die wesentlichen Aspekte
            Ihres Projektes konzentrieren. Viele unserer Werkzeuge sind essentiell für jede Anwendung, sei es eine
            Webanwendung, Desktopanwendung oder mobile App.</p>
          <p>Gerne können Sie durch unsere Referenzen oder öffentlichen Bibliotheken und Frameworks stöbern.</p>
          <div class="tech-stack">
            <a href="https://github.com/rocketbase-io/" class="tech color-github" style="background-color: #dbdbdb" target="_blank"><i class="tech-github"></i>
              Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script>

</script>
