---
layout: layouts/home.njk
eleventyNavigation:
  key: how-we-work
  parent: about
  title: Wie wir arbeiten

date: Last Modified
tags:
  - main
  - footer

title: rocketbase.io - Wie wir arbeiten
description: "Wir arbeiten agil - Softwareentwicklung aus Hamburg"
ogImage: references.jpg
---
<div class="hero concrete-white-background-image framed-margin">
  <div class="main-frame-wrapper">
    <div class="frame-1">

      <div class="hero-body is-clean">
        <div class="container has-text-centered padding-bottom">

          <div class="columns is-vcentered">
            <div class="column is-7">
              <h3>Wir arbeiten agil</h3>
              <h2 class="title section-title">Agile Softwareentwicklung aus Hamburg</h2>
              <div class="title-divider is-centered"></div>
              <div class="content">
                <p>Wir arbeiten <b>effizient und effektiv</b> mit unserer bewährten Methode. In einem mehrstufigen Plan
                  unterstützen wir Sie als Kunden und bringen Ihr Projekt <b>erfolgreich</b> an den Start. <b>Agilität</b> und ein
                  enger Bezug zum Kunden sind usn dabei sehr wichtig. Unsere agile Arbeitsweiße ist zu jederzeit <b>flexibel</b>
                  garantiert einen <b>erfolgreichen Projektabschluss</b>.
                </p>
              </div>
            </div>

            <div class="column is-5 is-hidden-mobile has-text-centered">
              <img src="/img/rocketbase-progress.png" alt="rocketbase progress">
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container has-text-centered">
    <h3>Workflow</h3>
    <h2 class="title section-title">Unsere grundlegende Arbeitweise kurz erläutert</h2>
    <div class="content">
      <p>Unserer Workflow legt sehr viel wert auf die wichtigste Komponenten. Den Kunden. Wir haben immer ein <b>offenes
          Ohr</b> für die Wünsche des Kunden. Um auf die Wünsche des Kunden optimal eingehen zu können beziehen wir die Kunden
        eng in die Umsetzung der Projekte ein. Wir stehen aber auch jederzeit mit unserem <b>Know-How</b> bereit, um zu
      Unterstützen und das Projekt am Ende erfolgreich für den Kunden zum starten zu bringen.</p>
      <div class="container">
        <ul class="timeline" style="list-style: none;">
          <li class="timeline-row">
            <div class="timeline-badge first">
              <img src="/how-we-work/horen-sie-aktiv-zu.png">></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Zuhören</h4>
              </div>
              <div class="timeline-body">
                <p>Zunächst heißt es für uns zuhören und Füße still halten. Denn zunächst ist wichtig was Ihre
                  Vorstellungen sind und welche Anforderungen auf die rocketbase-io zukommen. In einem offenen und
                  ehrlichen Gespräch haben wir so die Möglichkeit besser zu verstehen, was Ihre Anforderungen und
                  Wünsche sind.
                </p>
                <p>

                </p>
              </div>
            </div>
          </li>
          <li class="timeline-row timeline-inverted hidden">
            <div class="timeline-badge second">
              <img src="/how-we-work/projektmanagement.png">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Ideen & Planung</h4>
              </div>
              <div class="timeline-body">
                <p>Nun sind wir an der Reihe. Für uns gilt es Ideen zu kreieren und Inspirationen einzuholen. Dabei
                  zählt auch hier: Ihr Bedürfnisse noch einmal zu evaluieren und Anforderungen an das Zielsystem zu
                  definieren. Sie engagieren uns als Experten und wir wollen Ihnen auch mit Rat und Tat zur Seite stehen
                  schon bevor das Projekt gestartet wird. So können wir von vorne herein Probleme minimieren und falsche
                  Vorstellungen vermeiden.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-row hidden">
            <div class="timeline-badge third">
              <img src="/how-we-work/konzept.png"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Konzeption</h4>
              </div>
              <div class="timeline-body">
                <p>Nachdem wir uns gemeinsam über Vorstellungen und Anforderungen gedanken gemacht haben zählt es ein
                  durchdachtes Konzept zu erarbeiten, aber auch einen Arbeitsplan, der sicherstellt, dass ihre
                  individuelle Lösung auch rechtzeitig zur verfügung steht.</p>
              </div>
            </div>
          </li>
          <li class="timeline-row timeline-inverted hidden">
            <div class="timeline-badge fourth">
              <img src="/how-we-work/implementierer.png">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Umsetzung & Implementierung</h4>
              </div>
              <div class="timeline-body">
                <p>Nun gilt es die Ärmel hochzukrempeln. Das Konzept wird realisiert. Doch auch hier gilt, mit kleinen
                  abgeschlossenen Iterationen kommt man ans Ziel. Hierzu zählt das Testen auf realen Umgebungen und das
                  Feedback von Ihnen als Kunden oder von Projektverantwortlichen. Frühzeitig kann so erkannt werden, ob
                  sich das Projekt nach wie vor in der richtigen Spur befindet.</p>
              </div>
            </div>
          </li>
          <li class="timeline-row hidden">
            <div class="timeline-badge fith">
              <img src="/how-we-work/hosting.png">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Betrieb & Hosting</h4>
              </div>
              <div class="timeline-body">
                <p>Selbstverständlich muss auch der Einsatz und der Betrieb einer neuen Lösung geplant und durchgeführt
                  werden. Hier wird rocketbase-io dafür sorgen, dass Sie das Produkt am Ende unproblematisch in Ihre
                  Infrastruktur integrieren können. Ebenso bietet rocketbase-io an die Produkte oder Dienste für Sie auf
                  der eigenen Infrastruktur zu betreiben. Wir werden Sie dabei zu jederzeit unterstützen und mit Rat und
                  Tat zur Seite stehen.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section light-gray-bg">
  <div class="container ">
    <div class="columns is-vcentered">
      <div class="column is-5 is-hidden-mobile has-text-centered">
        <img src="/open-source/teaser-open-source.png" alt="rocketbase tools">
      </div>

      <div class="column is-7">
        <h3>Unsere Werkzeugkiste</h3>
        <h2 class="title section-title">Für jeder Herausforderung das Passende Werkzeug</h2>
        <div class="title-divider"></div>
        <div class="content">
          <p>Für jedes Projekte die richtigen Werkzeuge. Aufgrund von langjähriger Entwicklungserfahrung können wir
            neben unserer Erfahrung auf eine <b>Sammlung nützlicher Werkzeuge</b> zurückgreifen, die uns in vielen Situationen
            des Projektes das Leben erheblich erleichtern. Ein großteil dieser Werkzeuge sind für die Open Source Welt
            zugänglich.</p>
          <p>Mit unserem eigenen <b>commons-auth</b> Service haben wir eine Lösung rund um das Thema Authentifizierung und
            Verwaltung von Anwendern geschaffen. Mit dem <b>commons-asset</b> Service haben wir ein Tool geschaffen, dass die
            komplette Verwaltung von Dateien bereitstellt. Dank dieser Tools können wir uns auf die wesentlichen Aspekte
            Ihres Projektes konzentrieren. Viele unserer Werkzeuge sind essentiell für jede Anwendung, sei es eine
            Webanwendung, Desktopanwendung oder mobile App.</p>
          <p>Gerne können Sie durch unsere Referenzen oder öffentlichen Bibliotheken und Frameworks stöbern.</p>
          <div class="tech-stack">
            <a href="https://github.com/rocketbase-io/" class="tech color-github" style="background-color: #dbdbdb"><i class="tech-github"></i>
              Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script>

</script>
