---
layout: layouts/base-fixed-hero.njk
eleventyNavigation:
  key: how-we-work
  order: 95
  title: Wie wir arbeiten

date: Last Modified
tags:
  - company
  - footer_company

title: rocketbase.io - Wie wir arbeiten
description: "Wir arbeiten agil - Softwareentwicklung aus Hamburg"
ogImage: references.jpg
---
<div class="hero hero-fullpage concrete-white-background-image framed-margin-top">
  <div class="hero-body is-clean">
    <div class="container container-full-height has-text-centered padding-bottom">
      <div class="columns is-vcentered">
        <div class="column is-7 is-12-mobile" data-aos="fade-right">
          <h3>Wir arbeiten agil</h3>
          <h2 class="title section-title">Agile Softwareentwicklung aus Hamburg</h2>
          <div class="title-divider is-centered"></div>
          <div class="content">
            <p>Wir arbeiten <b>effizient und effektiv</b> mit unserer bewährten Methode. In einem mehrstufigen Plan
              unterstützen wir Sie als Kunden und bringen Ihr Projekt <b>erfolgreich</b> an den Start. <b>Agilität</b> und ein
              enger Bezug zum Kunden sind usn dabei sehr wichtig. Unsere agile Arbeitsweiße ist zu jederzeit <b>flexibel</b>
              und garantiert Ihnen einen <b>erfolgreichen Projektabschluss</b>.
            </p>
          </div>
        </div>
        <div class="column is-5 is-hidden-mobile has-text-centered">
          <img src="/img/rocketbase-progress.png" alt="rocketbase progress" data-aos="fade-down">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="revealing-content overflow-section">
  <section class="section" id="workflow">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column">
          <h3>Workflow</h3>
          <h2 class="title section-title">Unsere grundlegende Arbeitweise kurz erklärt</h2>
          <div class="content">
            <p>Unser <b>Workflow</b> legt sehr viel Wert auf die wichtigste Komponente. Nämlich <b>Sie</b> als Kunden.
              Wir haben immer ein <b>offenes Ohr</b> für Wünsche und Anregungen. Um optimal auf den Kunden eingehen zu
              können beziehen wir diese eng in die Umsetzung der Projekte ein. Wir stehen aber auch jederzeit mit
              unserem <b>Know-How</b> bereit, um unterstützend einzuwirken und das Projekt am Ende erfolgreich für den
              Kunden an den Start zu bringen.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-hidden-desktop">
    <div class="container has-text-centered">
      <div class="content">
        <div class="container">
          <ul class="timeline">
            <li class="timeline-row">
              <div class="timeline-panel-mobile"  data-aos="fade-right" data-aos-anchor-placement="center-bottom">
                <div class="bage-mobile listen"></div>
                <div class="timeline-heading">
                  <h4 class="timeline-title">Zuhören</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Zunächst heißt es für uns zuhören und Füße still halten.</i></p>
                  <p>
                    Es ist uns sehr wichtig zunächst Ihre Vorstellungen und Anforderungen an das Projekt zu erfahren.
                    In einem <b>offenen</b> und <b>ehrlichen</b> Gespräch haben wir so die Möglichkeit besser zu
                    verstehen, was Ihre Anforderungen und Wünsche sind.
                  </p>
                  <p>
                    Wir wollen dabei Ihre <b>fachliche Sicht</b> auf das zu <b>realisierende</b> Produkt verstehen.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-row">
              <div class="timeline-panel-mobile"  data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="bage-mobile ideas"></div>
                <div class="timeline-heading">
                  <h4 class="timeline-title">Ideen & Planung</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Nun sind wir an der Reihe.</i></p>
                  <p>Für uns gilt es nun <b>Ideen</b> zu kreieren und an ersten Plänen zur Umsetzung Ihres Projekts zu
                    arbeiten. Dabei zählt auch hier: Ihre Bedürfnisse noch einmal zu evaluieren und Anforderungen an das
                    Zielsystem zu definieren.</p>
                  <p>Sie engagieren uns als <b>Experten</b> und wir wollen Ihnen mit Rat und Tat zur Seite stehen.
                    Bereits bevor das Projekt gestartet wurde. So können wir von vorne herein mögliche Stolpersteine aus
                    dem Weg räumen und falsche Vorstellungen des gemeinsamen Ziels vermeiden.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-row">
              <div class="timeline-panel-mobile"  data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="bage-mobile concept"></div>
                <div class="timeline-heading">
                  <h4 class="timeline-title">Konzeption</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Ein ausgefeiltes Konzept bildet die Grundlage für ein erfolgreiches Projekt.</i></p>
                  <p><b>Anforderungen und Ziele</b> sind nun klar definiert. Sie als Kunde und wir als Ihre Experten
                    sind auf dem gleichen Nenner und kennen die Vorstellungen des Gegenüber.</p>
                  <p>
                    Was nun noch fehlt ist ein ausgefeiltes Konzept. Hierfür werden wir unsere kreativen Köpfe
                    zusammenstecken und Ihnen schon bald ein Konzept präsentieren, wie wir Ihr Projekt umsetzen wollen.
                  </p>
                  <p> Wir wollen Sie dabei mit unserem <b>Know-How</b> unterstützen und unsere
                    <b>Erfahrungen</b> in die Projekte einfließen lassen.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-row">
              <div class="timeline-panel-mobile"  data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="bage-mobile implementation"></div>
                <div class="timeline-heading">
                  <h4 class="timeline-title">Umsetzung & Implementierung</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Nun gilt es die Ärmel hochzukrempeln.</i></p>
                  <p>Das Konzept wird realisiert. Doch hier gilt, mit kleinen abgeschlossenen Iterationen kommt man ans
                    Ziel. Hierzu zählt das <b>Testen</b> auf realen Umgebungen und das <b>Feedback</b> von Ihnen als
                    Kunden oder von Projektverantwortlichen. Frühzeitig kann so erkannt werden, ob sich das Projekt nach
                    wie vor in der richtigen Spur befindet.</p>
                  <p>
                    Wir werden Ihnen hierfür eine <b>Testumgebung</b> zur Verfügung stellen mit der Sie immer den aktuellen Stand
                    auf Herz und Nieren testen können. So haben Sie immer den fachlichen Überblick über Ihr
                    eigenes Softwareprodukt.</p>
                  <p><i>Sie merken etwas ist nicht so wie in Ihren Vorstellungen?</i><br><b>Kein Problem!</b>
                    Wir können jederzeit eingreifen und das Ruder in die richtige Richtung reisen.
                  </p>

                </div>
              </div>
            </li>
            <li class="timeline-row">
              <div class="timeline-panel-mobile"  data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="bage-mobile hosting"></div>
                <div class="timeline-heading">
                  <h4 class="timeline-title">Betrieb & Hosting</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Nur noch ein Schritt bis zur Auslieferung Ihrer neuen Software.</i></p>
                  <p>Selbstverständlich muss auch der <b>Einsatz</b> und der <b>Betrieb</b> Ihrer neuen
                    Softwarelösung eingeplant und schlussendlich auch durchgeführt werden. Wir weden dafür sorgen, dass
                    Sie am Ende Ihr eigenes Produkt problemlos in Ihre eigene Infrastruktur integrieren können.</p>
                  <p><i>Oder sollen wir das für Sie übernehmen?</i></p>
                  <p> Auch können wir Ihnen anbieten die Produkte oder Dienste für Sie auf der eigenen <b>Infrastruktur</b> zu
                    betreiben.</p>
                  <p> Diese Entscheidungen müssen Sie zum Glück nicht alleine treffen. Wir helfen Ihnen die richtige
                    Entscheidung für den Betrieb zu treffen. Wir werden Sie dabei mit unserem Know-How beraten und mit Rat und
                    Tat zur Seite stehen, um die bestmögliche <b>Langzeitlösung</b> für Sie zu finden.
                  </p>

                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-hidden-touch">
    <div class="container has-text-centered">
      <div class="content">
        <div class="container">
          <ul class="timeline" style="list-style: none;">
            <li class="timeline-row">
              <div class="timeline-badge first" data-aos="fade-up" data-aos-anchor-placement="top-center">
                <img src="/how-we-work/horen-sie-aktiv-zu.png">
              </div>
              <div class="timeline-panel"  data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Zuhören</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Zunächst heißt es für uns zuhören und Füße still halten.</i></p>
                  <p>
                    Es ist uns sehr wichtig zunächst Ihre Vorstellungen und Anforderungen an das Projekt zu erfahren.
                    In einem <b>offenen</b> und <b>ehrlichen</b> Gespräch haben wir so die Möglichkeit besser zu
                    verstehen, was Ihre Anforderungen und Wünsche sind.
                  </p>
                  <p>
                    Wir wollen dabei Ihre <b>fachliche Sicht</b> auf das zu <b>realisierende</b> Produkt verstehen.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-row timeline-inverted hidden">
              <div class="timeline-badge second" data-aos="fade-up" data-aos-anchor-placement="top-center">
                <img src="/how-we-work/projektmanagement.png">
              </div>
              <div class="timeline-panel" data-aos="fade-left" data-aos-anchor-placement="top-center">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Ideen & Planung</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Nun sind wir an der Reihe.</i></p>
                  <p>Für uns gilt es nun <b>Ideen</b> zu kreieren und an ersten Plänen zur Umsetzung Ihres Projekts zu
                    arbeiten. Dabei zählt auch hier: Ihre Bedürfnisse noch einmal zu evaluieren und Anforderungen an das
                    Zielsystem zu definieren.</p>
                  <p>Sie engagieren uns als <b>Experten</b> und wir wollen Ihnen mit Rat und Tat zur Seite stehen.
                    Bereits bevor das Projekt gestartet wurde. So können wir von vorne herein mögliche Stolpersteine aus
                    dem Weg räumen und falsche Vorstellungen des gemeinsamen Ziels vermeiden.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-row hidden">
              <div class="timeline-badge third" data-aos="fade-up" data-aos-anchor-placement="top-center">
                <img src="/how-we-work/konzept.png"></div>
              <div class="timeline-panel" data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Konzeption</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Ein ausgefeiltes Konzept bildet die Grundlage für ein erfolgreiches Projekt.</i></p>
                  <p><b>Anforderungen und Ziele</b> sind nun klar definiert. Sie als Kunde und wir als Ihre Experten
                    sind auf dem gleichen Nenner und kennen die Vorstellungen des Gegenüber.</p>
                  <p>
                    Was nun noch fehlt ist ein ausgefeiltes Konzept. Hierfür werden wir unsere kreativen Köpfe
                    zusammenstecken und Ihnen schon bald ein Konzept präsentieren, wie wir Ihr Projekt umsetzen wollen.
                  </p>
                  <p> Wir wollen Sie dabei mit unserem <b>Know-How</b> unterstützen und unsere
                    <b>Erfahrungen</b> in die Projekte einfließen lassen.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-row timeline-inverted hidden">
              <div class="timeline-badge fourth" data-aos="fade-up" data-aos-anchor-placement="top-center">
                <img src="/how-we-work/implementierer.png">
              </div>
              <div class="timeline-panel" data-aos="fade-left" data-aos-anchor-placement="top-center">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Umsetzung & Implementierung</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Nun gilt es die Ärmel hochzukrempeln.</i></p>
                  <p>Das Konzept wird realisiert. Doch hier gilt, mit kleinen abgeschlossenen Iterationen kommt man ans
                    Ziel. Hierzu zählt das <b>Testen</b> auf realen Umgebungen und das <b>Feedback</b> von Ihnen als
                    Kunden oder von Projektverantwortlichen. Frühzeitig kann so erkannt werden, ob sich das Projekt nach
                    wie vor in der richtigen Spur befindet.</p>
                  <p>
                    Wir werden Ihnen hierfür eine <b>Testumgebung</b> zur Verfügung stellen mit der Sie immer den aktuellen Stand
                    auf Herz und Nieren testen können. So haben Sie immer den fachlichen Überblick über Ihr
                    eigenes Softwareprodukt.</p>
                  <p><i>Sie merken etwas ist nicht so wie in Ihren Vorstellungen?</i><br><b>Kein Problem!</b>
                    Wir können jederzeit eingreifen und das Ruder in die richtige Richtung reisen.
                  </p>

                  <p><b><i>Ein Auszug aus unseren Technolgien:</i></b></p>

                  <div class="tech-stack">
                    <div class="tech-stack">
                      <a href="https://vuejs.org/" class="tech color-vue"><i class="tech-vue"></i> Vue.js</a>
                      <a href="https://svelte.dev/" class="tech color-svelte"><i class="tech-svelte"></i> Svelte</a>
                      <a href="typescriptlang.org/" class="tech color-typescript"><i class="tech-typescript"></i> Typescript</a>
                      <a href="https://flutter.dev/" class="tech color-flutter"><i class="tech-flutter"></i> Flutter</a>
                      <a href="https://vaadin.com/" class="tech color-vaadin"><i class="tech-vaadin"></i> Vaadin</a>
                      <a href="https://projects.spring.io/spring-boot/" class="tech color-spring-boot"><i class="tech-spring-boot"></i> Spring-Boot</a>
                      <a href="https://www.mongodb.com/" class="tech color-mongo"><i class="tech-mongo"></i> MongoDb</a>
                      <a href="https://mariadb.org/" class="tech color-mariadb"><i class="tech-mariadb"></i> MariaDb</a>
                    </div>
                  </div>

                </div>
              </div>
            </li>
            <li class="timeline-row hidden">
              <div class="timeline-badge fith" data-aos="fade-up" data-aos-anchor-placement="top-center">
                <img src="/how-we-work/hosting.png">
              </div>
              <div class="timeline-panel" data-aos="fade-right" data-aos-anchor-placement="top-center">
                <div class="timeline-heading">
                  <h4 class="timeline-title">Betrieb & Hosting</h4>
                </div>
                <div class="timeline-body">
                  <p><i>Nur noch ein Schritt bis zur Auslieferung Ihrer neuen Software.</i></p>
                  <p>Selbstverständlich muss auch der <b>Einsatz</b> und der <b>Betrieb</b> Ihrer neuen
                    Softwarelösung eingeplant und schlussendlich auch durchgeführt werden. Wir weden dafür sorgen, dass
                    Sie am Ende Ihr eigenes Produkt problemlos in Ihre eigene Infrastruktur integrieren können.</p>
                  <p><i>Oder sollen wir das für Sie übernehmen?</i></p>
                  <p> Auch können wir Ihnen anbieten die Produkte oder Dienste für Sie auf der eigenen <b>Infrastruktur</b> zu
                    betreiben.</p>
                  <p> Diese Entscheidungen müssen Sie zum Glück nicht alleine treffen. Wir helfen Ihnen die richtige
                    Entscheidung für den Betrieb zu treffen. Wir werden Sie dabei mit unserem Know-How beraten und mit Rat und
                    Tat zur Seite stehen, um die bestmögliche <b>Langzeitlösung</b> für Sie zu finden.
                  </p>

                  <p><b><i>Unsere Technolgien:</i></b></p>

                  <div class="tech-stack">
                    <a href="https://www.docker.com/" class="tech color-docker"><i class="tech-docker"></i> Docker</a>
                    <a href="https://kubernetes.io/" class="tech color-kubernetes"><i class="tech-kubernetes"></i> Kubernetes</a>
                    <a href="https://aws.amazon.com" class="tech color-aws"><i class="tech-aws"></i> S3+Cloudfront</a>
                  </div>

                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="section light-gray-bg">
    <div class="container ">
      <div class="columns is-vcentered">
        <div class="column is-5 is-hidden-mobile has-text-centered">
          <img src="/open-source/teaser-open-source.png" alt="rocketbase tools">
        </div>

        <div class="column is-7">
          <h3>Unsere Werkzeugkiste</h3>
          <h2 class="title section-title">Für jeder Herausforderung das passende Werkzeug</h2>
          <div class="title-divider"></div>
          <div class="content">
            <p>Für jedes Projekte die richtigen Werkzeuge. Aufgrund von langjähriger Entwicklungserfahrung können wir
              neben unserer Erfahrung auf eine <b>Sammlung nützlicher Werkzeuge</b> zurückgreifen, die uns in vielen Situationen
              des Projektes das Leben erheblich erleichtern. Ein großteil dieser Werkzeuge sind für die Open Source Welt
              zugänglich.</p>
            <p>Mit unserem eigenen <b>commons-auth</b> Service haben wir eine Lösung rund um das Thema Authentifizierung und
              Verwaltung von Anwendern geschaffen. Mit dem <b>commons-asset</b> Service haben wir ein Tool geschaffen, dass die
              komplette Verwaltung von Dateien bereitstellt. Dank dieser Tools können wir uns auf die wesentlichen Aspekte
              Ihres Projektes konzentrieren. Viele unserer Werkzeuge sind essentiell für jede Anwendung, sei es eine
              Webanwendung, Desktopanwendung oder mobile App.</p>
            <p>Gerne können Sie durch unsere Referenzen oder öffentlichen Bibliotheken und Frameworks stöbern.</p>
            <div class="tech-stack">
              <a href="https://github.com/rocketbase-io/" class="tech color-github" style="background-color: #dbdbdb" target="_blank"><i class="tech-github"></i>
                Github</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include "footer.njk" %}
</div>

<script>

  const heroFullpage = document.getElementsByClassName('hero-fullpage')[0];
  const revealingHero = document.getElementsByClassName('revealing-content')[0];

  revealingHero.style.top = (heroFullpage.offsetHeight)+'px';

  document.addEventListener ('scroll',function () {
    const overflowSection = document.querySelector('.overflow-section');
    let opacity = (overflowSection.getBoundingClientRect().top) / heroFullpage.offsetHeight;
    heroFullpage.style.opacity = opacity;
  });

</script>
