---
layout: layouts/base-fixed-hero.njk
eleventyNavigation:
  key: open-source
  order: 90
  title: Open Source

date: Last Modified
tags:
  - main
  - footer

title: rocketbase.io - Open Source
description: "Open Source"
ogImage: services.jpg
---
<div class="hero hero-fullpage collaborative-background-image framed-margin-top">
  <div class="hero-body is-clean">
    <div class="container container-full-height has-text-centered padding-bottom">
      <div class="columns is-vcentered">
        <div class="column is-7-desktop is-12-mobile hero-title-card" data-aos="flip-up">
          <h3>Flexibilität, Innovation und Fortschritt</h3>
          <h2 class="title section-title">Open Source & rocketbase.io</h2>
          <div class="title-divider is-centered"></div>
          <div class="content">
            <p>Wir setzen uns stark für <b>Open Source Projekte</b> ein. Dabei veröffentlichen wir zum einen ausgewählte
              Tools & Prozesse selbst, aber nutzen und beteiligen uns ebenso an Open Source Projekten.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="revealing-content overflow-section">
  <section class="section is-medium">
    <div class="container ">
      <div class="columns is-vcentered">
        <div class="column has-text-centered" data-aos="fade-right">
          <img class="" src="/open-source/engag.jpeg" alt="rocketbase open source engagement">
        </div>
        <div class="column" data-aos="fade-left">
          <h3>Unsere Überzeugung</h3>
          <h2 class="title section-title">Unser Engagement in der Open Source Welt</h2>
          <div class="title-divider"></div>
          <div class="content">
            <p>Wir sind überzeugt, dass sich Open Source am Ende für alle Seiten lohnt.
              Darum stellen wir eigens entwickelte Werkzeuge, Tools und Frameworks der Open Source Welt zur Verfügung.</p>
            <p>Diese haben uns oftmals bei der Entwicklungsarbeit das Leben erleichtert. Auf diesem Weg können diese
              Tools auch anderen Entwicklern bei der effizienten Entwicklung von Software helfen. Oftmals bestehen diese
              Tools ebenso aus Open Source Komponenten und wurden optimiert und weiterentwickelt. Dadurch kommt ein
              Austausch und eine Entwicklung mit einem weltweiten Netzwerk an Softwareentwicklern zustande.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section is-medium">
    <div class="container ">
      <div class="columns is-vcentered">
        <div class="column" data-aos="fade-up-right">
          <h3>Auch für Unternehmen</h3>
          <h2 class="title section-title">Innovative Lösungen durch Open Source</h2>
          <div class="title-divider"></div>
          <div class="content">
            <p>Wenn wir über Innovation, Effizienz und bessere Technologien sprechen bedeutet diese
              natürlich auch, dass diese Softwarekomponenten auch für Unternehmen eingesetzt werden können. Durch
              kollaboratives Arbeiten enstehen neue kreative Ideen und bessere, innovativere Lösungen werden
              vorangetrieben.</p>
            <p>Gute Open Source Software Projekte bestehen dabei aus einer großen Community, die Gegenseitig darauf
              achtet, dass das Produkt sicher, stabil und leistungsfähig ist. Fehler,
              Sicherheitslücken oder andere Fehlentwicklungen werden so immer rechtzeitig erkannt und die Qualität
              der Software Komponenten wird von der Community gemeinsam vorangetrieben</p>
          </div>
        </div>
        <div class="column is-5 is-hidden-mobile has-text-centered" data-aos="fade-up-left">
          <img class="  " src="/open-source/innovation.jpeg" alt="rocketbase open source for comppanies">
        </div>
      </div>
    </div>
  </section>

  <div class="hero concrete-white-background-image">
    <div class="main-frame-wrapper">
      <div class="frame-2">

        <div class="hero-body is-clean">
          <div class="container has-text-centered padding-bottom">

            <div class="columns is-vcentered">
              <div class="column is-12">
                <h3>Alles anschnallen!</h3>
                <h2 class="title section-title">Hier geht es in den Open Source Kosmos der rocketbase.io</h2>
                <div class="content">
                  <div class="tech-stack">
                    <a href="https://github.com/rocketbase-io/" class="tech color-github"><i class="tech-github"></i>
                      Github</a>
                    <a href="https://github.com/rocketbase-io" class="tech color-github"><i class="tech-github"></i> Docs</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <section class="section is-medium">
    <div class="container ">
      <div class="columns is-vcentered">
        <div class="column is-5 is-hidden-mobile has-text-centered">
          <img  src="/open-source/teaser-open-source.png" alt="rocketbase tools">
        </div>

        <div class="column is-7">
          <h3>Unsere Werkzeuge</h3>
          <h2 class="title section-title">Das Rad muss nicht neu erfunden werden</h2>
          <div class="title-divider"></div>
          <div class="content">
            <p>Unsere Open Source Projekte zum verarbeiten von Assets oder auch zur Bereitstellung einer umfassenden
              Authentifizierung sind schon verfügbar. Dadurch können wir uns bei neuen Projekten um die wesentlichen
              Probleme kümmern.
              An diesen Projekten wollen wir auch die Open Source Community teilhaben lassen.</p>
            <p>Durch die stetige Weiterentwicklung sowohl durch die rocketbase.io als auch durch die Open Source
              Community, bleiben auch diese Tools immer aktuell und garantieren Sicherheit, Stabilität und enormes
              Potential.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section open-source-projects light-gray-bg">
    <div class="container">
      <div class="has-text-centered">
        <h3>Wir lieben</h3>
        <h2 class="title">OpenSource Projekte</h2>
        <div class="title-divider is-centered"></div>
        <p class="extra-margin-bottom">Wir lieben und unterstützen den Open-Source-Gedanken! Hier ein Auszug aus unseren
          eigenen Veröffentlichungen</p>
      </div>

      <div class="columns is-multiline">
        <div class="column is-6-tablet is-4-desktop">
          <figure class="image">
            <img src="/about/opensource/commons-rest-logo.svg" alt="commons-rest">
            <div class="content">
              <h2>commons-rest</h2>
              <p>Eine Sammlung von Schnittstellen, Datenstrukturen und Helfern zur einfachen und schnellen Erstellung von
                Rest-Services mit Hilfe von Spring.</p>
            </div>
            <div class="badges">
              {% githubStars "rocketbase-io", "commons-rest" %}
            </div>
          </figure>
        </div>

        <div class="column is-6-tablet is-4-desktop">
          <figure class="image">
            <img src="/about/opensource/commons-auth-logo.svg" alt="commons-auth">
            <div class="content">
              <h2>commons-auth</h2>
              <p>Umfassende Services rund um die Authentifizierung, Registrierung, Passwort-Reset etc. Sowohl MongoDB als
                auch relationale Datenbanken werden unterstützt.</p>
            </div>
            <div class="badges">
              {% githubStars "rocketbase-io", "commons-auth" %}
            </div>
          </figure>
        </div>

        <div class="column is-6-tablet is-4-desktop">
          <figure class="image">
            <img src="/about/opensource/commons-asset-logo.svg" alt="commons-asset">
            <div class="content">
              <h2>commons-asset</h2>
              <p>Ein einfacher Rest-Service zur Verwaltung von Assets. Mit mehreren Storage Engines und Farberkennung.</p>
            </div>
            <div class="badges">
              {% githubStars "rocketbase-io", "commons-asset" %}
            </div>
          </figure>
        </div>

        <div class="column is-6-tablet is-4-desktop">
          <figure class="image">
            <img src="/about/opensource/pdfmaker-logo.svg" alt="pdfmaker">
            <div class="content">
              <h2>pdfmaker</h2>
              <p>Einfach und schnelle PDFs erzeugen! Docker Service für pdfmake + PDF zusammenfügen via node-pdftk.</p>
            </div>
            <div class="badges">
              {% githubStars "rocketbase-io", "pdfmaker" %}
            </div>
          </figure>
        </div>

        <div class="column is-6-tablet is-4-desktop">
          <figure class="image">
            <img src="/about/opensource/vue-extra-decorators.svg" alt="vue extra decorators">
            <div class="content">
              <h2>vue-extra-decorators</h2>
              <p>Eigene Typescript Decorators for Vue um einen übersichtlicheren und cleaneren Code zu schreiben.</p>
            </div>
            <div class="badges">
              {% githubStars "rocketbase-io", "vue-extra-decorators" %}
            </div>
          </figure>
        </div>

        <div class="column is-6-tablet is-4-desktop">
          <figure class="image">
            <img src="/about/opensource/email-template-builder-logo.svg" alt="email template builder">
            <div class="content">
              <h2>email-template-builder</h2>
              <p>Hübsche Emails in einfach und fluent mit Java. Es werden sowohl HTML- als auch Text-Emails generiert.</p>
            </div>
            <div class="badges">
              {% githubStars "rocketbase-io", "email-template-builder" %}
            </div>
          </figure>
        </div>

        <div class="column is-6-tablet is-4-desktop">
          <figure class="image">
            <img src="/about/opensource/imgproxy-java-logo.svg" alt="imgproxy api in java">
            <div class="content">
              <h2>imgproxy-java</h2>
              <p>Die Java-API für den sehr guten ImageProxy zur schnellen Erstellung von Urls für Previews.</p>
            </div>
            <div class="badges">
              {% githubStars "rocketbase-io", "imgproxy-java" %}
            </div>
          </figure>
        </div>

        <div class="column is-6-tablet is-4-desktop">
          <figure class="image">
            <img src="/about/opensource/vaadin-addon.svg" alt="Vaadin Addons">
            <div class="content">
              <h2>vaadin-addons</h2>
              <p>Für zahlreiche Projekte wurden eigene Addons gebaut und im Vaadin-Directory veröffentlicht.</p>
            </div>
            <div class="badges tech-stack">
              <a href="https://vaadin.com/directory/search?author=Marten+Prie%C3%9F" class="tech color-vaadin"><i
                  class="tech-vaadin"></i> Vaadin-Addons</a>
            </div>
          </figure>
        </div>

        <div class="column is-6-tablet is-4-desktop">
          <figure class="image">
            <img src="/about/opensource/generator-commons-rest.svg" alt="yeoman generator for commons-rest">
            <div class="content">
              <h2>generator-commons-rest</h2>
              <p>Mit Hilfe von Yeoman werden Spring-Boot Projekte automatisch konfiguriert und neue Services angelegt.</p>
            </div>
            <div class="badges">
              {% githubStars "rocketbase-io", "generator-spring-rest-commons" %}
            </div>
          </figure>
        </div>
      </div>
    </div>
  </section>

{% include "footer.njk" %}
</div>
<script>

  const heroFullpage = document.getElementsByClassName('hero-fullpage')[0];
  const revealingHero = document.getElementsByClassName('revealing-content')[0];

  revealingHero.style.top = (heroFullpage.offsetHeight)+'px';

  document.addEventListener ('scroll',function () {
    const overflowSection = document.querySelector('.overflow-section');
    let opacity = (overflowSection.getBoundingClientRect().top) / heroFullpage.offsetHeight;
    heroFullpage.style.opacity = opacity;
  });

</script>
