---
layout: layouts/home.njk
eleventyNavigation:
  key: home
  order: 0
  title: Home

date: Last Modified
tags:
  - footer

title: rocketbase – Individuelle SaaS-Entwicklung
description: "Individuelle Softwareentwicklung aus Hamburg. Agiles Projektmanagement. Schnelle Ergebnisse."
ogImage: start.jpg
---

<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h1>Mit individuellen Softwarelösungen schneller wachsen.</h1>
        <div class="title-divider is-centered"></div>
        <p>Wir unterstützen Unternehmen, in neue Markt- und Umsatz-Dimensionen vorzustoßen. Wir begleiten Sie von
          der Beratung über die Entwicklung bis hin zur Administration Ihrer neuen Software. </p>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <p class="freehand">Unsere Leistungen</p>
        <h2 class="title section-title">Vom Problem zu Ihrer individuellen Softwarelösung</h2>
        <div class="title-divider"></div>
        <p>
          Erzählen Sie uns von Ihrem Problem, Ihrem Markt, Ihren Prozessen und Ihren Zielen. Wir übersetzen Ihre
          Anforderungen gemeinsam mit Ihnen in eine <strong>individuelle Software</strong>, die 100% zu Ihren Prozessen
          passt und mitwachsen kann. Kosteneffizient und zukunftssicher.</p>
        <p>
          Wir entwickeln aber nicht nur. <strong>Technologie-Beratung</strong> übernehmen genauso wie
          <strong>Hosting</strong>, wenn Sie Ihre Anwendung nicht on-premise betreiben wollen.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <p class="freehand">Wer wir sind</p>
        <h2 class="title section-title">Mit Kompetenz und Spaß bei der Sache</h2>
        <div class="title-divider"></div>
        <p>
          Als Hamburger mögen wir es direkt. Wenn Sie eine ehrliche Beratung schätzen, schlanke Prozesse mögen und
          neueste Technologie für Ihre Anwendungen einsetzen wollen, dann könnten wir gut zusammenpassen.</p>
        <p>Dass wir langjährige Expertise in der Softwareentwicklung mitbringen, ist für uns selbstverständlich. Sei
          trotzdem noch mal gesagt. Ach ja, und ein vielseitiges Branchenknowhow haben wir auch.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <p class="freehand">Referenzen </p>
        <h2 class="title section-title">Wir lassen Ergebnisse und unsere Kunden für uns sprechen</h2>
        <div class="title-divider"></div>
        <p>
          Zufriedene Kunden sprechen für sich, heißt es. Unsere sprechen auch gern über uns, weil wir ihnen meist eine
          Softwarelösung liefern, die ihre Anforderungen nicht nur erfüllt, sondern sogar übertrifft.</p>
        <p>Wie solche Projektergebnisse aussehen? Gut, mache Missionen sind top secret, aber ein paar Fakten dürfen wir
          schon verraten.
        </p>
      </div>
    </div>
  </div>
</section>
