---
layout: layouts/home.njk
eleventyNavigation:
  key: home
  order: 0
  title: Start
eleventyExcludeFromCollections: true
---

<div class="hero concrete-white-background-image framed-margin">
  <div class="main-frame-wrapper">
    <div class="frame-1">

      <div class="hero-body is-clean">
        <div class="container has-text-centered padding-bottom">

          <div class="columns is-vcentered">
            <div class="column is-7">
              <h3>Unsere Mission</h3>
              <h2 class="title section-title">Digitalisierung Ihrer
                Geschäftsprozesse</h2>
              <div class="title-divider is-centered"></div>
              <p>Wir sorgen dafür, dass Sie als Hersteller und Händler schneller in neue Dimensionen vorstoßen. Wir
                bereiten Ihren Start mit maßgeschneiderten Softwarelösungen vor. Ihre Bordmittel sind Applikationen, die
                Sie dank ganzheitlicher Visualisierung schneller ans Ziel bringen. Damit steuern Sie und Ihr Team sicher
                durch Ihre Workflow-Galaxis. Wir begleiten Sie als Kontrollzentrum von der Beratung über die Entwicklung
                bis hin zur Administration. Interessiert? Willkommen an Bord.</p>
            </div>

            <div class="column is-5 is-hidden-mobile has-text-centered">
              <img src="/img/rocketbase-brand-logo.png" alt="rocketbase brand">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<section class="section is-medium">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h3>Wir übersetzen</h3>
        <h2 class="title section-title">Von Ihrer Sprache zu Ihrer Softwarelösung.</h2>
        <div class="title-divider"></div>
        <p>
          Ideen verstehen: Beratung beginnt bei uns mit Zuhören. Sie erzählen von Ihrem Markt, Ihre Visionen, Ihren
          Prozessen und Ihren Zielen. In Ihrer Sprache. Haben wir Sie verstanden, starten wir durch und übersetzen Ihre
          Anforderungen in unsere Programmiersprache. In enger Zusammenarbeit mit Ihnen entwickeln wir Ihre
          Softwarelösung, die dynamisch mit den Anforderungen wachsen kann. Damit am Ende eine Anwendung entsteht, die
          exakt zu Ihren Prozessen passt und die Sie effizient einsetzen können.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="hero concrete-white-background-image">
  <div class="main-frame-wrapper">
    <div class="frame-2">
      <div class="hero-body is-clean">

        <div class="container ">
          <div class="columns is-vcentered">
            <div class="column is-5 is-hidden-mobile has-text-centered">
              <img src="/img/rocketbase-progress.png" alt="rocketbase progress">
            </div>

            <div class="column is-7">
              <h3>Wir sind agil</h3>
              <h2 class="title section-title">Besonders bei der Software-Entwicklung</h2>
              <div class="title-divider"></div>
              <p>Im Kosmos der dynamischen Märkte ist Agilität gefragt. Die bestimmt unsere Entwicklungsarbeit zu Ihrer
                Software. Damit schnell auf Optimierungen reagiert werden kann. Wie bei Ihren unternehmensinternen
                Prozessen, kann so der Kurs stets korrigiert werden. Das Ganze wird begleitet von Services, die wir
                perfekt auf das Projekt zugeschnitten bieten.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container has-text-centered">
    <h2 class="title">Auszug unserer Kunden</h2>
    <div class="title-divider extra-margin-bottom is-centered"></div>
    <div class="columns is-multiline is-mobile">
      <div class="column is-2-desktop is-4-tablet is-6-mobile">
        <img src="/img/customers/bonprix.png" alt="Bonprix">
      </div>
      <div class="column is-2-desktop is-4-tablet is-6-mobile">
        <img src="/img/customers/findeling.png" alt="Findeling">
      </div>
      <div class="column is-2-desktop is-4-tablet is-6-mobile">
        <img src="/img/customers/stueckgut.png" alt="Stückgut">
      </div>
      <div class="column is-2-desktop is-4-tablet is-6-mobile">
        <img src="/img/customers/venus.png" alt="Venus">
      </div>
      <div class="column is-2-desktop is-4-tablet is-6-mobile">
        <img src="/img/customers/peek-cloppenburg.png" alt="Peek & Kloppenburg">
      </div>
      <div class="column is-2-desktop is-4-tablet is-6-mobile">
        <img src="/img/customers/yomei.png" alt="Yomei">
      </div>
    </div>
  </div>
</section>


<section class="section is-medium">
  <div class="container ">
    <div class="columns is-vcentered">
      <div class="column section-title-wrapper">
        <div>
          <h3>Das haben Sie davon</h3>
          <h2 class="title section-title">Vorteile mit rocketbase.io</h2>
          <div class="title-divider"></div>
          <p>
            Bei uns sitzen die Inhaber immer mit am Steuerhebel. Wir stehen als Ihr Ansprechpartner mit unserer
            Expertise
            und unserer Erfahrung für individuelle Softwarelösungen nach Maß zur Verfügung. Unterstützt von einem
            Spezialisten-Netzwerk. So entwickeln wir in agiler Arbeitsweise für Sie in erster Linie SaaS-Lösungen
            (Software as a Service), die Sie mit all Ihren Endgeräten überall und jederzeit nutzen können. Ohne in die
            Infrastruktur ihrer IT investieren zu müssen. Die Kosten richten sich nach dem Nutzungsumfang der Software.
          </p>

          <div class="columns content">
            <div class="column">
              <ul>
                <li>Schlanke Strukturen</li>
                <li>Wirtschaftliches Denken</li>
                <li>Lösungsorientierung</li>
                <li>Kundennahe Entwicklung</li>
                <li>State-of-the-Art-Technologien</li>
                <li>Langjähriges Entwicklungs-Know-how</li>
              </ul>
            </div>
            <div class="column">
              <ul>
                <li>Vielseitige Branchenerfahrungen</li>
                <li>Individuelle Softwarelösungen</li>
                <li>Primär kostentransparente SaaS-Lösungen</li>
                <li>Service von der Beratung bis zum Betrieb</li>
                <li>Hosting am Standort Deutschland</li>
                <li>Datensicherheit nach deutschem Recht</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns is-vcentered">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="/img/team-intro.jpg" alt="Team Rocketbase">
              </figure>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
              <span>
                 <a href="/about">Über uns</a>
              </span>
              </p>
              <p class="card-footer-item">
              <span>
                 <a href="/jobs">Jobs</a>
              </span>
              </p>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
