---
layout: layouts/home.njk
eleventyNavigation:
  key: buero
  order: 100
  title: Büro Vermietung

date: Last Modified
tags:
- footer

title: "RocketBase – Büro-Flächen zur Vermietung"
description: "Du suchst eine entspannte Arbeitsatmosphäre mit netten Mitbewohnern - dann komm Vorbei..."
ogImage: jobs.png
embed: >
  <link rel="stylesheet" href="/css/grid-gallery.min.css">
withContact: false
---

<div class="hero concrete-white-background-image  framed-margin">
  <div class="main-frame-wrapper">
    <div class="frame-1">

      <div class="hero-body is-clean">
        <div class="container has-text-centered ">
          <figure class="image is-96x96 is-centered">
            <img src="/img/icons/office.svg" alt="Office">
          </figure>
          <h2 class="title">Büro-Flächen zur Vermietung</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container is-fluid">
  <div class="gg-container">
    <div class="gg-box" id="square-dark">
      <img src="01-buero-2er.jpg" alt="2er Büro">
      <img src="02-buero-2er.jpg" alt="2er Büro">
      <img src="03-buero-3er.jpg" alt="3er Büro">
      <img src="04-buero-4er.jpg" alt="4er Büro">
      <img src="05-kueche.jpg" alt="Küche">
      <img src="06-kueche.jpg" alt="Küche">
      <img src="07-pantry.jpg" alt="Pantry">
      <img src="08-wc.jpg" alt="WC">
      <img src="09-flur.jpg" alt="Flur">
      <img src="10-meeting.jpg" alt="Meeting">
      <img src="11-meeting.jpg" alt="Meeting">
      <img src="12-fahrstuhl.jpg" alt="Fahrstuhl">
      <img src="13-innehof.jpg" alt="Innenhof">
    </div>
  </div>
</div>

<script src="/js/grid-gallery.min.js"></script>
<script>
gridGallery({
  selector: "#square-dark",
  darkMode: true
});
</script>
