---
layout: layouts/home.njk
eleventyNavigation:
  key: buero
  order: 100
  title: Büro

date: Last Modified

title: "RocketBase – Büro-Flächen zur Vermietung"
description: "Du suchst eine entspannte Arbeitsatmosphäre mit netten Mitbewohnern - dann komm vorbei..."
ogImage: office.png
embed: >
  <link rel="stylesheet" href="/css/grid-gallery.min.css">
withContact: true
---

<div class="hero page-teaser">
  <svg class="wave"
       viewBox="0 0 1355 272" xmlns="http://www.w3.org/2000/svg"
       preserveAspectRatio="none">
    <path fill="#fff"
          d="M1354.54,0.22c-139.361,3.241 -203.316,34.78 -300.416,52.612c-112.659,20.692 -200.147,-5.945 -311.12,7.926c-76.519,9.565 -100.516,40.012 -231.853,57.468c-136.662,18.164 -175.815,-10.126 -293.283,15.853c-115.057,25.447 -217.864,101.098 -217.864,138.541l1355.1,-0.195l-0.564,-272.205Z"/>
  </svg>

  <img class="is-fullwidth"  src="./meeting-bg.jpg">
</div>


<section class="section">
  <div class="container">
    <div class="section-title-wrapper">
      <div>
        <h1 class="title section-title">Wir suchen Untermieter!</h1>
        <div class="title-divider"></div>
        <p>
          Wir von RocketBase haben ein schönes Büro nahe der Hamburger Speicherstadt. Eine gesamte Etage wurde von uns individuell eingerichtet - mit genug Platz für nette Untermieter.
          Ein oder zwei helle und möblierte Büroräume stehen zur Verfügung und können bezogen werden.
          Gerne kommt ihr aus einer ähnlichen Branche wie wir, muss aber nicht sein ;)
        </p>
        <p>
          Gemeinsam nutzen wir unseren hellen und modern eingerichteten Besprechnugsraum, die Pantryküche und gut ausgestattete Kochnische. Wir selbst sind zur Zeit meist 2-3 mal in der Woche im Büro. Die Räumlichkeiten lassen sich über eine digitale Schließanlage erreichen.
        </p>
        <p>
          Die Ausstattung ist sehr hochwertig, die Schreibtischstühle sind von der Firma Vitra und  super bequem.
          Auf 160x80cm großen Schreibtischen lässt es sich hervorragend arbeiten - je Raum ist ein Schreibtisch zusätzlich elektrisch höhenverstellbar.
        </p>
        <p>
          Bei Bedarf können Monitore und USB-C-Docks mit angemietet werden.
        </p>
        <p>
          Unsere Internet-Leitung ist eine Vodafone "Business Internet Pro Cable" mit 500 Mbit/s Download und 50 Mbit/s Upload.
          Neben einem gut funktionierenden WLAN ist an jedem Schreibtisch ein Netzwerk-Anschluss verfügbar.
          Für gelegentliche Ausdrucke, Scans und Kopien kann unser Multifunktions-Drucker mitbenutzt werden.
        </p>
      </div>
    </div>
  </div>
</section>


<section class="hero concrete-white-background-image">
  <div class="main-frame-wrapper">
    <div class="frame-2">
      <div class="hero-body is-clean">
        <div class="container">
          <img src="office-plan.png" class="is-responsive" alt="Lageplan Büro">
        </div>
      </div>
    </div>
  </div>
</section>



<section class="hero">
  <div class="hero-body is-clean">
    <div class="container py-6 content">
      <div class="columns reverse-columns is-vcentered">
        <div class="column is-7">
          <h2 class="title section-title">Bürofläche mit zwei Räumen</h2>
          <div class="title-divider"></div>
          <ul>
            <li>Zwei ruhige Büroplätze</li>
            <li>Dreier Block für Arbeiten im Team</li>
            <li>Ein höhenverstellbarer Schreibtisch</li>
            <li>Großer Fernseher samt Apple-TV</li>
            <li>Riesige Tafel für eure Ideen</li>
          </ul>
        </div>


        <div class="column is-5 is-full-mobile has-text-centered">

          <div class="gg-container">
            <div class="gg-box" id="2er-buero">
              <img src="01-buero-2er.jpg" alt="2er Büro">
              <img src="02-buero-2er.jpg" alt="2er Büro">
              <img src="03-buero-3er.jpg" alt="3er Büro">
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>


<section class="section light-gray-bg">
  <div class="container py-6 content">
    <div class="columns reverse-columns is-vcentered">
      <div class="column is-5 is-full-mobile has-text-centered">
        <div class="gg-container">
          <div class="gg-box" id="4er-buero">
            <img src="04-buero-4er.jpg" alt="4er Büro">
          </div>
        </div>
      </div>

      <div class="column is-7">
        <h2 class="title section-title">Sonniger Team-Raum</h2>
        <div class="title-divider"></div>
        <ul>
          <li>Zwei 2er Schreibtisch-Blöcke</li>
          <li>Ein höhenverstellbarer Schreibtisch</li>
          <li>Mobile-TV für Besprechungen</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">

      <h3>Gemeinschaftsräume + Außensicht</h3>
      <div class="title-divider"></div>

      <ul>
        <li>Besprechungsraum
          <ul>
            <li>Großer TV samt USB-C-Dock + Apple-TV</li>
            <li>Logitech Konferenz-Anlage</li>
            <li>Platz für 9 Teilnehmer</li>
            <li>Riesige Tafel für eure Ideen</li>
          </ul>
        </li>
        <li>Gemeinschaftsräume
          <ul>
            <li>Pantryküche (mit Mikrowelle, Kaffeemaschine, Geschirrspüler, Kühlschrank)</li>
            <li>Kochnische (Backofen, 2 Ceranfelder, Reiskocher, Gefrierschrank) + rollendes "Sofa"</li>
          </ul>
        </li>
      </ul>

      <div class="gg-container">
        <div class="gg-box" id="geminschaft">
          <img src="05-kueche.jpg" alt="Küche">
          <img src="06-kueche.jpg" alt="Küche">
          <img src="07-pantry.jpg" alt="Pantry">
          <img src="08-wc.jpg" alt="WC">
          <img src="09-flur.jpg" alt="Flur">
          <img src="10-meeting.jpg" alt="Meeting">
          <img src="11-meeting.jpg" alt="Meeting">
          <img src="12-fahrstuhl.jpg" alt="Fahrstuhl">
          <img src="13-innehof.jpg" alt="Innenhof">
        </div>
      </div>
    </div>
  </div>
</section>




<script src="/js/grid-gallery.min.js"></script>
<script>
gridGallery({
  selector: "#2er-buero",
  darkMode: true
});
gridGallery({
  selector: "#4er-buero",
  darkMode: true
});
gridGallery({
  selector: "#geminschaft",
  darkMode: true
});
</script>
